- url = genus.id ? admin_genus_path : admin_genera_path
= form_for genus, url: url do |f|
  - if genus.errors.any?
    .gp-alert.gp-alert--danger
      %p= t('.errors', count: genus.errors.count)
      %ul
        - genus.errors.full_messages.each do |message|
          %li= message

  ._show-page
    %section._show-page__panel
      .gp-field
        = f.label :name
        = f.text_field :name, required: true
      .gp-field
        = f.label :family_id, t('activerecord.attributes.genus.family')
        = f.collection_select :family_id,
                              Family.all.order(:name),
                              :id,
                              :name,
                              { include_blank: true },
                              { required: true }
      .gp-field
        = f.label :source
        = f.url_field :source

  .gp-actions.gp-actions--bottom
    = f.submit t('generic.save'), class: 'gp-button gp-button--recording'
