- @page_title = t('.title')

.gp-actions.gp-actions--top
  = link_to t('generic.back'), :admin_genera, role: 'button', class: 'gp-button'
  = link_to t('generic.show'), admin_genus_path(@genus), role: 'button', class: 'gp-button'
  = link_to t('generic.destroy'),
            admin_genus_path(@genus),
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button',
            class: 'gp-button gp-button--destructive'

= render 'form', genus: @genus
