@use 'sass:math';

$icon-size: 16px;

.gp-icon {
  height: 1em;
  fill: currentcolor;
  line-height: 1em;
  text-decoration: none;

  &--spin {
    animation: spin 1s infinite linear;
  }

  &--3x {
    height: 3em;
  }

  &--4x {
    height: 4em;
  }

  &--10x {
    height: 10em;
  }
}
