<template>
  <div>
    <gp-accordion no-content>
      <template #header>
        <label>
          <input v-model="inputs.generic"
                 type="checkbox"
                 name="generic">
          {{ $t('activerecord.attributes.resource.generic') }}
        </label>
      </template>
    </gp-accordion>

    <gp-accordion icon="tag" :caption="$t('activerecord.attributes.resource.tag_list')">
      <gpa-tag-filters v-model="inputs.tags" />
    </gp-accordion>

    <gp-accordion icon="calendar" :caption="$t('js.library.filters.sheltered_sowing_months')">
      <gp-months-flags-input v-model="inputs.shelteredSowingMonths"
                             format="integers"
                             input-name="sheltered_sowing_months"
                             vertical
                             full-months />
    </gp-accordion>

    <gp-accordion icon="calendar" :caption="$t('js.library.filters.soil_sowing_months')">
      <gp-months-flags-input v-model="inputs.soilSowingMonths"
                             format="integers"
                             input-name="soil_sowing_months"
                             vertical
                             full-months />
    </gp-accordion>

    <gp-accordion icon="calendar" :caption="$t('js.library.filters.harvesting_months')">
      <gp-months-flags-input v-model="inputs.harvestingMonths"
                             format="integers"
                             input-name="harvesting_months"
                             vertical
                             full-months />
    </gp-accordion>
  </div>
</template>

<script>
import GpMonthsFlagsInput from '../../../../common/Inputs/MonthsFlags/MonthsFlags.vue'
import GpAccordion from '../../../../common/DataDisplay/Accordion/Accordion.vue'
import GpaTagFilters from '../Tags/TagFilters.vue'

export default {
  name: 'GpaLibraryFilters',
  emits: [
    'update:modelValue',
  ],
  components: { GpaTagFilters, GpAccordion, GpMonthsFlagsInput },
  props: {
    modelValue: {
      required: true,
      type: Object,
      validate: (val) => {
        const keys = Object.keys(val)
        for (const k of ['harvestingMonths', 'shelteredSowingMonths', 'soilSowingMonths', 'tags']) {
          if (!keys.includes(k)) return false
        }
      },
    },
  },
  data () {
    return {
      inputs: {
        generic: false,
        tags: [],
        shelteredSowingMonths: [],
        soilSowingMonths: [],
        harvestingMonths: [],
      },
    }
  },
  methods: {
    setInputValues () {
      this.inputs.generic = this.$props.modelValue.generic
      this.inputs.tags = this.$props.modelValue.tags
      this.inputs.shelteredSowingMonths = this.$props.modelValue.shelteredSowingMonths
      this.inputs.soilSowingMonths = this.$props.modelValue.soilSowingMonths
      this.inputs.harvestingMonths = this.$props.modelValue.harvestingMonths
    },
    outputValues () {
      return {
        generic: this.inputs.generic,
        tags: this.inputs.tags,
        shelteredSowingMonths: this.inputs.shelteredSowingMonths,
        soilSowingMonths: this.inputs.soilSowingMonths,
        harvestingMonths: this.inputs.harvestingMonths,
      }
    },
  },
  created () {
    this.setInputValues()
  },
  watch: {
    // External changes
    modelValue (newValue) {
      if (newValue.toString() === this.inputs.toString()) return
      this.setInputValues()
    },
    // Internal changes
    'inputs.generic' (newValue) {
      if (newValue === this.$props.modelValue.generic) return
      this.$emit('update:modelValue', this.outputValues())
    },
    'inputs.tags' (newValue) {
      if (newValue.toString() === this.$props.modelValue.tags.toString()) return
      this.$emit('update:modelValue', this.outputValues())
    },
    'inputs.shelteredSowingMonths' (newValue) {
      if (newValue.toString() === this.$props.modelValue.shelteredSowingMonths.toString()) return
      this.$emit('update:modelValue', this.outputValues())
    },
    'inputs.soilSowingMonths' (newValue) {
      if (newValue.toString() === this.$props.modelValue.soilSowingMonths.toString()) return
      this.$emit('update:modelValue', this.outputValues())
    },
    'inputs.harvestingMonths' (newValue) {
      if (newValue.toString() === this.$props.modelValue.harvestingMonths.toString()) return
      this.$emit('update:modelValue', this.outputValues())
    },
  },
}
</script>
