- url = family.id ? admin_family_path : admin_families_path
= form_for family, url: url do |f|
  - if family.errors.any?
    .gp-alert.gp-alert--danger
      %p= t('.errors', count: family.errors.count)
      %ul
        - family.errors.full_messages.each do |message|
          %li= message

  ._show-page
    %section._show-page__panel
      .gp-field
        = f.label :name
        = f.text_field :name, required: true
      .gp-field
        = f.label :kingdom
        = f.select :kingdom, enum_options_for_select(Family, :kingdom)
      .gp-field
        = f.label :source
        = f.url_field :source

  .gp-actions.gp-actions--bottom
    = f.submit t('generic.save'), class: 'gp-button gp-button--recording'
