- @page_title = t('.title')

.gp-actions.gp-actions--top
  = link_to t('generic.back'), :admin_families, role: 'button', class: 'gp-button'
  = link_to t('generic.show'), admin_family_path(@family), role: 'button', class: 'gp-button'
  = link_to t('generic.destroy'),
            admin_family_path(@family),
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button',
            class: 'gp-button gp-button--destructive'

= render 'form', family: @family
