- @page_title = t('.title', name: @family.name)

.gp-actions.gp-actions--top
  = link_to t('generic.back'), admin_families_path, role: 'button', class: 'gp-button'
  = link_to t('generic.edit'), edit_admin_family_path(@family), role: 'button', class: 'gp-button'
  = link_to t('generic.destroy'),
            admin_family_path,
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button',
            class: 'gp-button gp-button--destructive'

._show-page
  %aside._show-page__panel
    %section
      %dl
        %dt= t('generic.definition', value: t('generic.id'))
        %dd.-monospace= @family.id

        %dt= t('generic.definition', value: t('activerecord.attributes.family.name'))
        %dd= @family.name

        %dt= t('generic.definition', value: t('activerecord.attributes.family.sync_id'))
        %dd= @family.sync_id.presence || '-'

        %dt= t('generic.definition', value: t('activerecord.attributes.family.kingdom'))
        %dd= @family.kingdom

        %dt= t('generic.definition', value: t('activerecord.attributes.family.source'))
        = missing_data_element :dd, @family.source.present?, url: edit_admin_family_path(@family) do
          - link_to @family.source, @family.source, rel: 'noreferrer noopener'

  ._show-page__content.-grid--2.-grid-gap
    %section
      %h2= t('.genera')
      - if @family.genera.empty?
        .gp-empty= t('generic.nothing_to_display_yet')
      - else
        %table
          %thead
            %tr
              %th= t('activerecord.attributes.genus.name')
              %th
          %tbody
            - @family.genera.each do |genus|
              %tr
                %td= link_to genus.name, admin_genus_url(genus)
                %td.-actions
                  = link_to t('generic.edit'), edit_admin_genus_path(genus),
                            role: 'button',
                            class: 'gp-button'
                  = link_to t('generic.destroy'),
                            admin_genus_path(genus),
                            method: :delete,
                            data: { confirm: t('generic.are_you_sure') },
                            role: 'button',
                            class: 'gp-button gp-button--destructive'
      .gp-actions
        = link_to t('.new_genus'),
                  new_admin_genus_path(params: { family_id: @family.id }),
                  class: 'gp-button gp-button--creative'
    %section= render 'admin/versions/versions', entity: @family
