%aside.gp-alert
  = t('.more_info_link_html', url: t('.wikipedia_url'))

%table
  %thead
    %tr{ scope: :column }
      %th= t('activerecord.attributes.resource_interaction.nature')
      %th.-center= t('activerecord.attributes.resource_interaction.subject')
      %th.-center= t('activerecord.attributes.resource_interaction.target')
      %th= t('.description')
  %tbody
    %tr
      %td= t('activerecord.attributes.resource_interaction/nature.unspecified_positive')
      %td.-center ?
      %td.-center ?
      %td= t('models.resource_interaction.natures.unspecified_positive_help')
    %tr
      %td= t('activerecord.attributes.resource_interaction/nature.unspecified_negative')
      %td.-center ?
      %td.-center ?
      %td= t('models.resource_interaction.natures.unspecified_negative_help')
    %tr
      %td= t('activerecord.attributes.resource_interaction/nature.mutualism')
      %td.-center.-text--success= icon('smiley')
      %td.-center.-text--success= icon('smiley')
      %td= t('models.resource_interaction.natures.mutualism_help')
    %tr
      %td= t('activerecord.attributes.resource_interaction/nature.commensalism')
      %td.-center.-text--success= icon('smiley')
      %td.-center.-text--mute= icon('smiley-meh')
      %td= t('models.resource_interaction.natures.commensalism_help')
    %tr
      %td= t('activerecord.attributes.resource_interaction/nature.parasitism')
      %td.-center.-text--success= icon('smiley')
      %td.-center.-text--danger= icon('smiley-sad')
      %td= t('models.resource_interaction.natures.parasitism_help')
    %tr
      %td= t('activerecord.attributes.resource_interaction/nature.neutralism')
      %td.-center.-text--mute= icon('smiley-meh')
      %td.-center.-text--mute= icon('smiley-meh')
      %td= t('models.resource_interaction.natures.neutralism_help')
    %tr
      %td= t('activerecord.attributes.resource_interaction/nature.amensalism')
      %td.-center.-text--mute= icon('smiley-meh')
      %td.-center.-text--danger= icon('smiley-sad')
      %td= t('models.resource_interaction.natures.amensalism_help')
    %tr
      %td= t('activerecord.attributes.resource_interaction/nature.competition')
      %td.-center.-text--danger= icon('smiley-sad')
      %td.-center.-text--danger= icon('smiley-sad')
      %td= t('models.resource_interaction.natures.competition_help')
