- url = resource_interaction.id ? admin_resource_interaction_path : admin_resource_interactions_path
= form_for resource_interaction, url: url do |f|
  - if resource_interaction.errors.any?
    .gp-alert.gp-alert--danger
      %p= t('.errors', count: resource_interaction.errors.count)
      %ul
        - resource_interaction.errors.full_messages.each do |message|
          %li= message

  ._show-page
    %section._show-page__panel
      .gp-field
        = f.label :subject_id, t('activerecord.attributes.resource_interaction.subject')
        = f.collection_select :subject_id,
                              ResourceInteractionsGroup.all.order(:name),
                              :id,
                              :name,
                              { include_blank: true },
                              { required: true }
      .gp-field
        = f.label :nature
        = f.select :nature,
                   enum_options_for_select(ResourceInteraction, :nature),
                   { include_blank: true },
                   { required: true }
      .gp-field
        = f.label :target_id, t('activerecord.attributes.resource_interaction.target')
        = f.collection_select :target_id,
                              ResourceInteractionsGroup.all.order(:name),
                              :id,
                              :name,
                              { include_blank: true },
                              { required: true }

      .gp-field
        = f.label :notes
        = f.text_field :notes

      .gp-field
        = f.label :sources
        = f.text_area :sources
        .gp-field__help= t('.sources_help')

    ._show-page__content
      = render 'admin/resource_interactions/form_help'

  .gp-actions.gp-actions--bottom
    = f.submit t('generic.save'), class: 'gp-button gp-button--recording'
