- @page_title = t('.title')

.gp-actions.gp-actions--top
  = link_to t('generic.back'), :admin_resource_interactions, role: 'button', class: 'gp-button'
  = link_to t('generic.show'),
            admin_resource_interaction_path(@resource_interaction),
            role: 'button',
            class: 'gp-button'
  = link_to t('generic.destroy'),
            admin_resource_interaction_path(@resource_interaction),
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button',
            class: 'gp-button gp-button--destructive'

= render 'form', resource_interaction: @resource_interaction
