- @page_title = t('.title')

.gp-actions.gp-actions--top
  = link_to t('.new'),
            new_admin_resource_interaction_path,
            role: 'button',
            class: 'gp-button gp-button--creative'

- if @resource_interactions.empty?
  .gp-empty= t('.no_content')
- else
  %table
    %caption.-sr-only= t('.table_caption')
    %thead
      %tr
        %th.-monospace.-right{ scope: 'col' }= t('generic.id')
        %th.-monospace.-right{ scope: 'col' }= t('activerecord.attributes.genus.sync_id')
        %th{ scope: 'col' }= t('activerecord.attributes.resource_interaction.subject')
        %th{ scope: 'col' }= t('activerecord.attributes.resource_interaction.nature')
        %th{ scope: 'col' }= t('activerecord.attributes.resource_interaction.target')
        %th{ scope: 'col' }= t('activerecord.attributes.resource_interaction.notes')
        %th{ scope: 'col' }

    %tbody
      - @resource_interactions.each do |resource_interaction|
        %tr
          %td.-monospace.-right= resource_interaction.id
          %td.-monospace.-right= resource_interaction.sync_id.presence || '-'
          %td= resource_interaction.subject.name
          %td
            &rarr;
            = link_to resource_interaction.nature, admin_resource_interaction_path(resource_interaction)
            &rarr;
          %td= resource_interaction.target.name
          %td= resource_interaction.notes
          %td.-actions
            = link_to t('generic.edit'),
                      edit_admin_resource_interaction_path(resource_interaction),
                      role: 'button',
                      class: 'gp-button gp-button--small'
            = link_to t('generic.destroy'),
                      admin_resource_interaction_path(resource_interaction),
                      method: :delete,
                      data: { confirm: t('generic.are_you_sure') },
                      role: 'button',
                      class: 'gp-button gp-button--small gp-button--destructive'
