- @page_title = t('.title')

.gp-actions.gp-actions--top
  = link_to t('generic.back'), admin_resource_interactions_path, role: 'button', class: 'gp-button'

= render 'form', resource_interaction: @resource_interaction

