- @page_title = t('.title')

.gp-actions.gp-actions--top
  = link_to t('generic.back'), admin_resource_interactions_path, role: 'button', class: 'gp-button'
  = link_to t('generic.edit'),
            edit_admin_resource_interaction_path(@resource_interaction),
            role: 'button',
            class: 'gp-button'
  = link_to t('generic.destroy'),
            admin_resource_interaction_path,
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button',
            class: 'gp-button gp-button--destructive'
._show-page
  %aside._show-page__panel
    %section
      %dl
        %dt= t('generic.definition', value: t('generic.id'))
        %dd.-monospace= @resource_interaction.id

        %dt= t('generic.definition', value: t('activerecord.attributes.resource_interaction.subject'))
        %dd= @resource_interaction.subject.name

        %dt= t('generic.definition', value: t('activerecord.attributes.resource_interaction.nature'))
        %dd= @resource_interaction.nature

        %dt= t('generic.definition', value: t('activerecord.attributes.resource_interaction.target'))
        %dd= @resource_interaction.target.name

  ._show-page__content
    %h2= t('activerecord.attributes.resource_interaction.notes')
    = @resource_interaction.notes

