<template>
  <div class="gp-badge" :class="componentCSS">
    <span v-if="icon || $slots.left">
      <!--
        @slot Use this slot for custom icons (i.e.: with custom classes)
      -->
      <slot name="left"><gp-icon :name="icon" /></slot>
    </span>

    <!--
      @slot Visible text
    -->
    <span v-if="caption || $slots.default"><slot>{{ caption }}</slot></span>

    <span v-if="endIcon || $slots.right">
      <!--
        @slot Use this slot for custom icons (i.e.: with custom classes)
      -->
      <slot name="right"><gp-icon :name="endIcon" /></slot>
    </span>
  </div>
</template>

<script>
import GpIcon from '../Icon/Icon.vue'

const variants = ['danger', 'success', 'warning', 'help', 'mute']
const sizes = ['small']

export default {
  name: 'GpBadge',
  components: { GpIcon },
  props: {
    /* Text. Will be overridden by default slot content */
    caption: { required: false, type: [String, Number], default: null },
    /**
     * Color variant
     *
     * @values  danger, success, warning, help, mute
     */
    variant: { required: false, type: String, default: null, validator: v => variants.includes(v) },
    /**
     * Button size
     *
     * @values  small, large
     */
    size: { required: false, type: String, default: null, validator: v => sizes.includes(v) },
    /** Left icon name */
    icon: { required: false, type: String, default: null },
    /** Right icon name */
    endIcon: { required: false, type: String, default: null },
  },
  computed: {
    componentCSS () {
      return [
        this.size && `gp-badge--${this.size}`,
        variants.includes(this.variant) && `gp-badge--${this.variant}`,
      ]
    },
  },
}
</script>
