<template>
  <aside class="gp-alert" :class="componentCSS">
    <img v-if="image" :src="image" alt="" class="gp-alert__picture">
    <div :class="centered && '-center'"><slot /></div>
  </aside>
</template>

<script>
const variants = ['info', 'success', 'danger', 'warning', 'mute']

export default {
  name: 'GpAlert',
  props: {
    /** Color variant */
    variant: { required: false, type: String, default: null, validator: v => variants.includes(v) },
    /** URL to a side image */
    image: { required: false, type: String, default: null },
    /** Whether or not to center the content */
    centered: { required: false, type: Boolean, default: false },
  },
  computed: {
    componentCSS () {
      return [
        this.variant && `gp-alert--${this.variant}`,
        this.image && 'gp-alert--with-picture',
      ]
    },
  },
}
</script>
