<template>
  <div class="_container">
    <gp-loading v-if="loading" fill />

    <gp-empty v-else-if="Object.keys(activitiesByDay).length === 0">
      {{ $t('js.app.garden.page.activities.no_activities') }}
    </gp-empty>

    <section v-for="(data, day) in activitiesByDay" :key="day" class="gpa-activities__day">
      <h2>{{ day }}</h2>
      <gpa-activity v-for="activity in data.activities" :key="activity.id" :activity="activity" />
    </section>
  </div>
</template>

<script>
import GpaActivity from './Activities/_Activity.vue'
import GpEmpty from '../../../common/DataDisplay/Empty/Empty.vue'
import GpLoading from '../../../common/Loading/Loading.vue'

export default {
  name: 'GpaActivities',
  components: { GpLoading, GpEmpty, GpaActivity },
  data () {
    return {
      loading: false,
    }
  },
  computed: {
    activitiesByDay () {
      return this.$store.getters.activities
        // Group by day
        .reduce((result, activity) => {
          const date = this.$d(activity.happenedAt, 'date')
          if (!result[date]) result[date] = { date: activity.happenedAt, activities: [] }
          result[date].activities.push(activity)
          return result
        }, {})
    },
  },
  created () {
    this.loading = true
    this.$store.dispatch('loadActivities', this.$route.params.mapId)
      .then(() => { this.loading = false })
  },
}
</script>

<style lang="scss" src="./Activities.scss" />
