.gpa-activities {
  &__day {
    h2 {
      margin-top: var(--spacer-large);
      font-weight: var(--font-weight-medium);
    }

    &:first-child {
      h2 {
        margin-top: var(--spacer-default);
      }
    }
  }
}
