<template>
  <div>
    <gp-toolbars :container="true">
      <gp-toolbar :label="$t('js.garden.coordination.group_by')">
        <gp-button :caption="$t('js.garden.coordination.no_group')" :active="groupBy === null" @click="groupBy = null" />
        <gp-button :caption="$t('js.garden.coordination.group_by_patch')" :active="groupBy === 'patch'" @click="groupBy = 'patch'" />
        <gp-button :caption="$t('js.garden.coordination.group_by_resource')" :active="groupBy === 'resource'" @click="groupBy = 'resource'" />
      </gp-toolbar>

      <gp-toolbar :label="`${reference.getFullYear()}`">
        <gp-button icon="caret-left" :title="$t('js.garden.coordination.back')" @click="shiftMonth(-1)" />
        <gp-button :caption="$t('js.garden.coordination.today')" @click="resetDate" />
        <gp-button icon="caret-right" :title="$t('js.garden.coordination.forward')" @click="shiftMonth(1)" />
      </gp-toolbar>

      <gp-toolbars-spring />

      <gp-help-button>
        <gpa-months-graphs-legend />
      </gp-help-button>
    </gp-toolbars>

    <div v-if="groupBy === 'patch'">
      <div v-for="patch in patches" :key="patch.id">
        <div class="-flex -grid-gap _container -mtd">
          <h2 class="-mv0">{{ patch.displayName }}</h2>
          <gp-button icon="plus" variant="creative" @click="addElementInPatch(patch)" />
        </div>
        <gpa-months-graphs :elements="patchElements(patch)" :reference="reference" title-format="resource" />
      </div>
    </div>
    <div v-else-if="groupBy === 'resource'">
      <div v-for="resource in resources" :key="resource.id">
        <div class="-flex -grid-gap _container -mtd">
          <h2>{{ resource.name }}</h2>
          <gp-button icon="plus" variant="creative" @click="addResourceSomewhere(resource)" />
        </div>
        <gpa-months-graphs :elements="resourceElements(resource)" :reference="reference" title-format="patch" />
      </div>
    </div>
    <gpa-months-graphs v-else :elements="elements" :reference="reference" />
  </div>
</template>

<script>
import Toaster from '../../../tools/Toaster'
import GpToolbars from '../../../common/Toolbar/Toolbars.vue'
import GpToolbar from '../../../common/Toolbar/Toolbar.vue'
import GpButton from '../../../common/Button/Button.vue'
import GpaMonthsGraphs from './Elements/_MonthsGraphs.vue'
import GpToolbarsSpring from '../../../common/Toolbar/ToolbarsSpring.vue'
import GpHelpButton from '../../../common/HelpButton/HelpButton.vue'
import GpaMonthsGraphsLegend from './Elements/_MonthsGraphsLegend.vue'

/**
 * @typedef {import('../../../classes/models/Element')} Element
 * @typedef {import('../../../classes/models/Patch')} Patch
 * @typedef {import('../../../classes/models/Resource')} Resource
 */

export default {
  name: 'GpaCoordination',
  components: { GpaMonthsGraphsLegend, GpHelpButton, GpToolbarsSpring, GpToolbars, GpButton, GpToolbar, GpaMonthsGraphs },
  data () {
    return {
      reference: new Date(),
      groupBy: null,
    }
  },
  computed: {
    /** @type {Element[]} */
    elements () {
      return this.$store.getters.elements.filter((e) => e.patchId !== null && !e.isRemoved)
        .sort((a, b) => a.displayName.localeCompare(b.displayName))
    },
    /** @type {Patch[]} */
    patches () {
      const ids = this.elements
        .map(e => e.patchId)
        .filter((value, index, self) => self.indexOf(value) === index)
      return this.$store.getters.patches.filter((p) => ids.includes(p.id))
    },
    /** @type {Resource[]} */
    resources () {
      const ids = this.elements
        .map(e => e.resourceId)
        .filter((value, index, self) => self.indexOf(value) === index)
      return this.$store.getters.resources.filter((r) => ids.includes(r.id))
    },
  },
  methods: {
    resetDate () { this.reference = new Date() },
    shiftMonth (amount) {
      const date = new Date(this.reference)
      date.setMonth(date.getMonth() + amount)
      this.reference = date
    },
    patchElements (patch) {
      return this.elements.filter(e => e.patchId === patch.id)
    },
    resourceElements (resource) {
      return this.elements.filter(e => e.resourceId === resource.id)
        .sort((a, b) => {
          const aDate = a.implantedAt || a.implantationPlannedFor
          const bDate = b.implantedAt || b.implantationPlannedFor
          return aDate - bDate
        })
    },
    destroy (id) {
      this.$emitBus('ask-confirmation', {
        message: this.$t('js.generic.messages.destroy_warning_history'),
        callback: () => {
          this.$store.dispatch('destroyElement', id)
            .then(() => { Toaster.success(this.$t('js.element.successfully_destroyed')) })
            .catch(() => { Toaster.error(this.$t('js.element.failed_to_destroy')) })
        },
      })
    },
    addElementInPatch (patch) {
      this.$emitBus('show-patch-resource-picker', patch)
    },
    addResourceSomewhere (resource) {
      this.$emitBus('show-resource-patch-picker', (patch) => {
        const payload = { resource_id: resource.id, patch_id: patch.id }
        this.$store.dispatch('createElement', { payload })
          // Hide the picker
          .then(() => { this.$emitBus('show-resource-patch-picker', null) })
      })
    },
  },
}
</script>
