<template>
  <div v-if="map" class="_container">
    <h1>{{ $t('js.maps.edit.title') }}</h1>

    <!-- We don't use "gp-form" here as it's not suitable for this form -->
    <form action="#" class="gpa-map-form" @submit.prevent="save">
      <div class="-grid--1-2 -grid-gap">
        <div>
          <gp-form-errors :errors="errors" model="map" />

          <gp-field input-id="map_name" :label="$t('activerecord.attributes.map.name')">
            <input id="map_name" v-model="inputs.name" type="text" required>
          </gp-field>

          <gp-field :help="$t('js.maps.form.publicly_available_help')">
            <label for="map_publicly_available">
              <input id="map_publicly_available"
                     v-model="inputs.publicly_available"
                     type="checkbox"
                     name="publicly_available">
              {{ $t('activerecord.attributes.map.publicly_available') }}</label>
          </gp-field>

          <gp-field>
            <label for="map_hide_background">
              <input id="map_hide_background"
                     v-model="inputs.hide_background"
                     type="checkbox"
                     name="hide_background">
              {{ $t('activerecord.attributes.map.hide_background') }}</label>
          </gp-field>

          <gp-field>
            <label for="map_toggle_background">
              <input id="map_toggle_background" type="checkbox" :checked="inputs.background_color" @change="toggleBackgroundColor">
              {{ $t('js.maps.form.custom_background_color') }}
            </label>
          </gp-field>

          <gp-field>
            <label :class="{'-text--mute': !inputs.background_color}">
              {{ $t('js.maps.form.pick_color') }}
              <input v-model="inputs.background_color" type="color" :disabled="!inputs.background_color">
            </label>
          </gp-field>

          <gp-tabs class="-mtd">
            <gp-button :active="isSettingScale" :disabled="map.isOSM" @click="setScale">
              {{ $t('js.maps.form.scale_map') }}
            </gp-button>
            <gp-button :active="isSettingCenter" @click="setCenter">{{ $t('js.maps.form.select_center') }}</gp-button>
          </gp-tabs>

          <gp-field v-if="isSettingScale"
                    input-id="map-scale-reference"
                    :label="$t('js.maps.form.scale_reference')"
                    :help="$t('js.maps.form.extent_change_warning')"
                    append="m">
            <input id="map-scale-reference" v-model="scaleReference" name="scale" type="number">
          </gp-field>

          <gp-alert v-if="isSettingCenter" variant="info">{{ $t('js.maps.form.select_center_note') }}</gp-alert>
        </div>

        <div id="map" class="gpa-map-form__map" :style="mapStyle" />
      </div>

      <gp-actions bottom>
        <gp-submit-button :loading="loading" :disabled="extentChanged && !centerChanged" />
      </gp-actions>
    </form>
  </div>
</template>

<script>
import GpFormErrors from '../../../common/Form/FormErrors.vue'
import GpSubmitButton from '../../../common/Inputs/SubmitButton/SubmitButton.vue'
import MapEditionMixin from '../mixins/MapEdition'
import GpButton from '../../../common/Button/Button.vue'
import GpTabs from '../../../common/Tabs/Tabs.vue'
import GpActions from '../../../common/Actions/Actions.vue'
import GpAlert from '../../../common/Alert/Alert.vue'
import GpField from '../../../common/Form/Field.vue'

export default {
  name: 'GpaMapForm',
  emits: [
    'saved',
  ],
  components: { GpField, GpAlert, GpActions, GpTabs, GpButton, GpSubmitButton, GpFormErrors },
  mixins: [MapEditionMixin],
  data () {
    return {
      inputs: {
        name: null,
        publicly_available: false,
        hide_background: false,
        center: [],
        background_color: null,
      },
      loading: false,
      errors: null,

      isSettingScale: false,
      isSettingCenter: false,
    }
  },
  computed: {
    map () { return this.$store.getters.map(parseInt(this.$route.params.mapId, 10)) },
    mapStyle () {
      if (!this.inputs.background_color) return ''

      return `background-color: ${this.inputs.background_color}; background-image: none;`
    },
  },
  methods: {
    setScale () {
      this.isSettingCenter = false
      this.isSettingScale = true
      this.enterMeasureMode()
    },
    setCenter () {
      this.isSettingCenter = true
      this.isSettingScale = false
      this.enterCenterSelectionMode()
    },
    toggleBackgroundColor () { this.inputs.background_color = this.inputs.background_color ? null : '#FFFFFF' },
    save () {
      const payload = {
        id: this.map.id,
        name: this.inputs.name,
        hide_background: this.inputs.hide_background,
        publicly_available: this.inputs.publicly_available,
        background_color: this.inputs.background_color,
      }
      if (this.extentChanged) {
        payload.extent_width = this.map.picture.size[0] * this.previousScale
        payload.extent_height = this.map.picture.size[1] * this.previousScale
      }
      if (this.centerChanged) {
        payload.center = this.inputs.center
      }
      this.loading = true
      this.errors = null

      this.$store.dispatch('updateMap', payload)
        .then(() => {
          this.$emit('saved')
          this.$router.push({ name: 'map', params: { mapId: this.map.id } })
        })
        .catch((errors) => { this.errors = errors })
        .then(() => { this.loading = false })
    },
  },
  created () {
    this.$nextTick(() => {
      this.inputs.name = this.map.name
      this.inputs.center = this.map.center
      this.inputs.publicly_available = this.map.publiclyAvailable
      this.inputs.background_color = this.map.backgroundColor
      const that = this
      if (this.map.isOSM) {
        this.loadOSMMap()
      } else {
        this.previousScale = this.map.extentWidth / this.map.picture.size[0]
        fetch(this.map.picture.url).then((response) => {
          const reader = new FileReader()
          response.blob().then((blob) => {
            that.loadAndRenderMap(reader)
            reader.readAsDataURL(blob)
          })
        })
      }
    })
  },
}
</script>

<style lang="scss" src="./MapForm.scss" />
