<template>
  <div class="gpa-garden">
    <gp-loading v-if="!mapIsReady" fill relative>{{ $t('js.garden.loading_map') }}</gp-loading>

    <gp-toolbars container>
      <template v-if="['draw_patch', 'draw_path'].includes(mode)">
        <gp-toolbar>
          <gp-button icon="stop" :caption="$t('js.layouts.garden.toolbar.stop')" variant="canceling" @click="changeMode('review')" />
        </gp-toolbar>

        <div v-if="modeOptions.shape !== 'Point'" class="-flex -text--helping -smaller">
          {{ $t('js.layouts.garden.toolbar.drawing_lines_help') }}
        </div>
      </template>
      <template v-else>
        <gp-toolbar :label="$t('js.layouts.garden.toolbar.add_patch')" no-label-on-small>
          <gp-button icon="point-plus" :title="$t('js.layouts.garden.side_panel.button_draw_point')" @click="changeMode('select_patch_resource', { shape: 'Point' })" />
          <gp-button icon="polygon-plus" :title="$t('js.layouts.garden.side_panel.button_draw_polygon')" @click="changeMode('select_patch_resource', { shape: 'Polygon' })" />
          <gp-button icon="circle-plus" :title="$t('js.layouts.garden.side_panel.button_draw_circle')" @click="changeMode('select_patch_resource', { shape: 'Circle' })" />
          <template #help>
            <gp-help-button-content :caption="$t('js.garden.toolbar.help.add.caption')" :content="$t('js.garden.toolbar.help.add.content')" :lines="help.add" />
          </template>
        </gp-toolbar>

        <gp-toolbar :label="$t('js.layouts.garden.toolbar.draw_path')" no-label-on-small>
          <gp-button icon="multiline-plus" :title="$t('js.layouts.garden.side_panel.button_draw_line')" @click="changeMode('select_path_style', { shape: 'LineString' })" />
          <gp-button icon="polygon-plus" :title="$t('js.layouts.garden.side_panel.button_draw_polygon')" @click="changeMode('select_path_style', { shape: 'Polygon' })" />
          <gp-button icon="circle-plus" :title="$t('js.layouts.garden.side_panel.button_draw_circle')" @click="changeMode('select_path_style', { shape: 'Circle' })" />
          <template #help>
            <gp-help-button-content :caption="$t('js.garden.toolbar.help.draw.caption')" :content="$t('js.garden.toolbar.help.draw.content')" :lines="help.draw" />
          </template>
        </gp-toolbar>
      </template>

      <gp-toolbars-spring />

      <gp-button v-if="activeLayer"
                 icon="layers"
                 class="-md:hidden"
                 :title="$t('js.layouts.garden.show_layers')"
                 no-text-on-small
                 @click="forceLayerPanelDisplay = !forceLayerPanelDisplay">
        {{ activeLayer.name }}
      </gp-button>
    </gp-toolbars>

    <div class="gpa-garden__view">
      <div id="map" class="gpa-garden__view__map" :style="mapStyle" />

      <gp-panel class="gpa-garden__view__layers"
                :class="forceLayerPanelDisplay ? 'gpa-garden__view__layers--visible' : ''"
                @close="forceLayerPanelDisplay = false">
        <gpa-garden-right-panel :visible-layers="activeLayers"
                                :active-layer="activeLayer"
                                @activate="setActiveLayer"
                                @toggle="handleLayerVisibilityToggle" />
      </gp-panel>
    </div>

    <gp-drawer v-show="forceResourcePanelDisplay && mode === 'select_patch_resource'"
               :caption="$t('js.layouts.garden.resources')"
               :closeable="true"
               :overlay-closeable="false"
               @close="changeMode('review')">
      <gpa-resource-selector :selected-resource-id="previousResourceId"
                             @cancel="changeMode('review')"
                             @choose="handleResourceSelection" />
    </gp-drawer>

    <gp-drawer v-show="forcePathPanelDisplay && mode === 'select_path_style'"
               :caption="$t('js.layouts.garden.path')"
               :closeable="true"
               :overlay-closeable="false"
               @close="changeMode('review')">
      <gpa-path-selector v-model="currentPathName"
                         :path-style="previousPathStyle"
                         @style-change="handleStyleSelection"
                         @cancel="changeMode('review')"
                         @close="forcePathPanelDisplay = false" />
    </gp-drawer>

    <div id="map-popup">
      <!-- Popup for paths -->
      <!-- Custom "mouse-xxx" events as they are not attached otherwise -->
      <gpa-path-popup v-if="pointedEntity && pointedEntity.className === 'Path'"
                      :path="pointedEntity"
                      @close="deselect" />
    </div>

    <div id="map-tooltip" class="ol-tooltip" />

    <!-- Drawer for patches -->
    <gpa-patch-drawer v-if="pointedEntity && pointedEntity.className === 'Patch'"
                      :patch="pointedEntity"
                      @close="deselect" />

    <!-- Drawer for elements -->
    <gpa-element-drawer v-if="pointedEntity && pointedEntity.className === 'Element'"
                        :element="pointedEntity"
                        @close="deselect" />
  </div>
</template>

<script>
import GpaElementDrawer from './Elements/_Drawer.vue'
import GardenMap from '../../../classes/GardenMap'
import Toaster from '../../../tools/Toaster'
import GpButton from '../../../common/Button/Button.vue'
import GpDrawer from '../../../common/Drawer/Drawer.vue'
import GpLoading from '../../../common/Loading/Loading.vue'
import GpPanel from '../../../common/Panel/Panel.vue'
import GpToolbar from '../../../common/Toolbar/Toolbar.vue'
import GpToolbars from '../../../common/Toolbar/Toolbars.vue'
import GpToolbarsSpring from '../../../common/Toolbar/ToolbarsSpring.vue'
import GpaGardenRightPanel from './Layouts/Garden/_RightPanel.vue'
import GpaPathSelector from './Paths/_Selector.vue'
import GpaResourceSelector from './Resources/Selector/Selector.vue'
import GpaPatchDrawer from './Patches/_Drawer.vue'
import GpaPathPopup from './Paths/_Popup.vue'
import GpHelpButtonContent from '../../../common/HelpButton/HelpButtonContent.vue'

/**
 * @typedef {import('../../../classes/models/Layer')}    Layer
 * @typedef {import('../../../classes/models/Path')}     Path
 * @typedef {import('../../../classes/models/Patch')}    Patch
 * @typedef {import('../../../classes/models/Resource')} Resource
 */

export default {
  name: 'GpaGarden',
  components: { GpHelpButtonContent, GpLoading, GpPanel, GpToolbarsSpring, GpToolbars, GpToolbar, GpButton, GpaElementDrawer, GpDrawer, GpaGardenRightPanel, GpaPathSelector, GpaPatchDrawer, GpaPathPopup, GpaResourceSelector },
  data () {
    return {
      /** @type {string|null} Current mode */
      mode: null,
      /** @type {object|null} Current mode options */
      modeOptions: null,
      /** @type {string|null} Current transformation mode. Forced redraws are ignored as long as a tool is set */
      transformTool: null,
      /** @type {number|null} Previously selected resource */
      previousResourceId: null,
      /** @type {GardenMap} Map instance */
      gardenMap: null,
      /** @type {number[]} List of active layers */
      activeLayers: this.$store.getters.layers.map(l => l.id),
      /** @type {Layer|null} Active layer */
      activeLayer: null,
      /** @type {Patch|Path|Element} Active entity in review mode */
      pointedEntity: null,
      /** @type {{strokeColor: string, backgroundColor: string, strokeWidth: number, strokeStylePreset: string|null}} Path style for path drawings */
      previousPathStyle: { strokeColor: '0,0,0,1', backgroundColor: '0,0,0,0.1', strokeWidth: 1, strokeStylePreset: null },
      /** @type {string|null} Path name for path creation */
      currentPathName: null,
      /** @type {boolean} Whether or not the map is loaded */
      mapIsReady: false,

      /** @type {boolean} Force display of side panel, independently of screen sizes */
      forceLayerPanelDisplay: false,
      forceResourcePanelDisplay: false,
      forcePathPanelDisplay: false,

      help: {
        add: [
          { icon: 'point-plus', text: this.$t('js.garden.toolbar.help.add.point') },
          { icon: 'polygon-plus', text: this.$t('js.garden.toolbar.help.add.polygon') },
          { icon: 'circle-plus', text: this.$t('js.garden.toolbar.help.add.circle') },
        ],
        draw: [
          { icon: 'multiline-plus', text: this.$t('js.garden.toolbar.help.draw.line') },
          { icon: 'polygon-plus', text: this.$t('js.garden.toolbar.help.draw.polygon') },
          { icon: 'circle-plus', text: this.$t('js.garden.toolbar.help.draw.circle') },
        ],
      },
    }
  },
  computed: {
    layers () { return this.$store.getters.layers },
    map () { return this.$store.getters.map(parseInt(this.$route.params.mapId, 10)) },
    mapStyle () {
      if (!this.map.backgroundColor) return ''

      return `background-color: ${this.map.backgroundColor}; background-image: none`
    },
  },
  methods: {
    transformEntity (action, entity) {
      switch (action) {
        case 'translate':
          this.gardenMap.translateElement(entity)
          break
        case 'transform':
          this.gardenMap.transformElement(entity)
          break
        case 'rotate':
          this.gardenMap.rotateElement(entity)
          break
        default:
          throw new Error(`Unsupported action ${action}`)
      }

      this.transformTool = action
    },

    handleLayerVisibilityToggle (id) {
      const index = this.activeLayers.indexOf(id)
      if (index === -1) {
        this.activeLayers.push(id)
      } else {
        this.activeLayers.splice(index, 1)
      }

      this.gardenMap.setVisibleLayers(this.activeLayers)
    },
    setActiveLayer (layer) {
      this.activeLayer = layer
      this.gardenMap.useLayer(layer)
      // When drawing something, reset the drawing
      if (this.mode === 'draw_patch') this.setAddMode()
    },

    checkForActiveLayer () {
      // There might be no active layer when user deleted the active one
      if (!this.activeLayer) {
        Toaster.error(this.$t('js.garden.layers.no_active_layer'))
        return false
      }
      return true
    },

    /**
     * Sets the active mode
     *
     * The mode determines the overall state of the UI
     *
     * @param {string} mode    - Mode name
     * @param {object} options - Mode options
     */
    changeMode (mode, options = null) {
      this.mode = mode
      this.modeOptions = options

      switch (mode) {
        case 'select_path_style':
          this.forcePathPanelDisplay = true
          break
        case 'draw_path':
          if (!this.checkForActiveLayer()) return
          this.gardenMap.drawPath(options.shape, options.style)
          break
        case 'select_patch_resource':
          this.forceResourcePanelDisplay = true
          break
        case 'draw_patch':
          if (!this.checkForActiveLayer()) return
          if (options.shape === 'Point') this.gardenMap.drawElement(options.resource)
          else this.gardenMap.drawPatch(options.shape, options.resource)
          break
        case 'review':
        default:
          this.gardenMap.review()
          break
      }
    },

    /**
     * Changes mode when a resource for a path/element is selected
     *
     * @param {Resource|null} resource - Resource to use in drawings
     */
    handleResourceSelection (resource) {
      this.previousResourceId = resource ? resource.id : null
      this.changeMode('draw_patch', { resource, shape: this.modeOptions.shape })
      this.forceResourcePanelDisplay = false
    },

    /**
     * Changes mode when a style for a path is selected
     *
     * @param {object} style - Style from the style selector
     */
    handleStyleSelection (style) {
      this.previousPathStyle = style
      this.changeMode('draw_path', { shape: this.modeOptions.shape, style })
    },

    /**
     * Saves the patch in database once it has been drawn
     *
     * @param {CustomEvent} event - The event
     */
    handleAddPatch (event) {
      const payload = {
        map_id: parseInt(this.$route.params.mapId, 10),
        geometry: event.detail.geoJSON,
        elements: [{ resource_id: event.detail.resourceId }],
        layer_id: this.activeLayer.id,
      }
      this.$store.dispatch('createPatch', { payload: { patch: payload }, feature: event.detail.feature })
        .then(() => { Toaster.success(this.$t('js.patch.successfully_created')) })
        .catch(() => { Toaster.error(this.$t('js.patch.failed_to_create')) })
    },
    /**
     * Updates the patch in database once it changed
     *
     * @param {CustomEvent} event - The event
     */
    handleUpdatePatch (event) {
      const payload = {
        id: event.detail.id,
        geometry: event.detail.geoJSON,
      }
      this.$store.dispatch('updatePatch', payload)
        // No need to update anything else for now.
        .then(() => { Toaster.success(this.$t('js.patch.successfully_updated')) })
        .catch(() => { Toaster.error(this.$t('js.patch.failed_to_update')) })
    },

    /**
     * Sets the pointed entity
     *
     * @param {CustomEvent} event - The event
     */
    handlePointEntity (event) {
      if (!event.detail || this.mode !== 'review') {
        this.deselect(false)
        return
      }
      const type = event.detail.type
      const id = event.detail.id
      this.pointedEntity = id ? this.$store.getters[type](id) : null
    },

    /**
     * Save the element in database once it has been drawn
     *
     * @param {CustomEvent} event - The event
     */
    handleAddElement (event) {
      const payload = {
        map_id: parseInt(this.$route.params.mapId, 10),
        geometry: event.detail.geoJSON,
        resource_id: event.detail.resourceId,
        layer_id: this.activeLayer.id,
      }
      this.$store.dispatch('createElement', { payload, feature: event.detail.feature })
        .then(() => { Toaster.success(this.$t('js.element.successfully_created')) })
        .catch(() => { Toaster.error(this.$t('js.element.failed_to_create')) })
    },
    /**
     * Update the element in database once it changed
     *
     * @param {CustomEvent} event - The event
     */
    handleUpdateElement (event) {
      const payload = {
        id: event.detail.id,
        geometry: event.detail.geoJSON,
      }
      this.$store.dispatch('updateElement', payload)
      // No need to update anything else for now.
        .then(() => { Toaster.success(this.$t('js.element.successfully_updated')) })
        .catch(() => { Toaster.error(this.$t('js.element.failed_to_update')) })
    },

    /**
     * Saves the path in database once it has been drawn
     *
     * @param {CustomEvent} event - The event
     */
    handleAddPath (event) {
      const payload = {
        name: this.currentPathName,
        stroke_width: event.detail.strokeWidth,
        stroke_color: event.detail.strokeColor,
        stroke_style_preset: event.detail.strokeStylePreset,
        background_color: event.detail.backgroundColor,
        geometry: event.detail.geoJSON,
        layer_id: this.activeLayer.id,
        map_id: parseInt(this.$route.params.mapId, 10),
      }
      this.$store.dispatch('createPath', { payload: { path: payload }, feature: event.detail.feature })
        .then(() => {
          this.currentPathName = null
          Toaster.success(this.$t('js.path.successfully_created'))
        })
        .catch(() => { Toaster.error(this.$t('js.path.failed_to_create')) })
    },
    /**
     * Updates the path in database once it changed
     *
     * @param {CustomEvent} event - The event
     */
    handleUpdatePath (event) {
      const payload = {
        id: event.detail.id,
        geometry: event.detail.geoJSON,
      }
      this.$store.dispatch('updatePath', payload)
        // No need to update anything else for now.
        .then(() => { Toaster.success(this.$t('js.path.successfully_updated')) })
        .catch(() => { Toaster.error(this.$t('js.path.failed_to_update')) })
    },

    /**
     * Deselects the pointed entity
     *
     * @param {boolean} applyToMap - Whether to force the map to deselect items too. Should be false when used in response to a map event.
     */
    deselect (applyToMap = true) {
      this.pointedEntity = null
      if (applyToMap) {
        this.gardenMap.review()
      }
    },

    createMap () {
      // Everything has been loaded in _Layout.vue
      this.$nextTick(() => {
        const mapConfig = this.map
        this.gardenMap = new GardenMap(mapConfig, 'map', 'map-popup', 'map-tooltip')

        this.gardenMap.mapElement.addEventListener('ready', () => { this.mapIsReady = true })
        this.gardenMap.mapElement.addEventListener('point-entity', this.handlePointEntity)
        this.gardenMap.mapElement.addEventListener('add-patch', this.handleAddPatch)
        this.gardenMap.mapElement.addEventListener('update-patch', this.handleUpdatePatch)
        this.gardenMap.mapElement.addEventListener('add-element', this.handleAddElement)
        this.gardenMap.mapElement.addEventListener('update-element', this.handleUpdateElement)
        this.gardenMap.mapElement.addEventListener('add-path', this.handleAddPath)
        this.gardenMap.mapElement.addEventListener('update-path', this.handleUpdatePath)
        this.setActiveLayer(this.layers[0])

        this.changeMode('review')

        this.$onBus('layer-created', (layer) => {
          this.gardenMap.addLayer(layer)
          this.handleLayerVisibilityToggle(layer.id)
          // Select the new layer if wanted
          if (layer.visibleByDefault) this.setActiveLayer(layer)
        })
        this.$onBus('destroy-layer', (layer) => {
          const patches = layer.patches
          if (patches.length > 0) {
            this.$emitBus('ask-confirmation', {
              title: this.$t('js.generic.impossible_action'),
              cancellable: false,
              message: this.$t('js.layers.patches_remaining', { count: patches.length }),
            })
            return
          }
          this.$emitBus('ask-confirmation', {
            message: this.$t('js.generic.messages.destroy_warning'),
            callback: () => {
              this.gardenMap.removeLayer(layer)
              this.$store.dispatch('destroyLayer', layer.id)
                .then(() => {
                  // Select another layer if needed
                  if (layer.id === this.activeLayer.id) this.setActiveLayer(this.layers[0])
                  Toaster.success(this.$t('js.layers.successfully_destroyed'))
                })
                .catch(() => { Toaster.error(this.$t('js.layers.failed_to_destroy')) })
            },
          })
        })
      })
    },
    destroyMap () {
      if (!this.gardenMap) return

      this.gardenMap.destroy()
      this.gardenMap = null
    },
  },
  created () {
    const that = this

    this.createMap()

    this.$onBus('destroyed-patch', (patch) => {
      this.deselect()
      this.gardenMap.removeEntityFeature(patch)
    }, 'garden')
    this.$onBus('rotate-patch', (patch) => { this.transformEntity('rotate', patch) }, 'garden')
    this.$onBus('move-patch', (patch) => { this.transformEntity('translate', patch) }, 'garden')
    this.$onBus('transform-patch', (patch) => { this.transformEntity('transform', patch) }, 'garden')

    this.$onBus('destroyed-path', (path) => {
      this.deselect()
      this.gardenMap.removeEntityFeature(path)
    }, 'garden')
    this.$onBus('rotate-path', (path) => { this.transformEntity('rotate', path) }, 'garden')
    this.$onBus('move-path', (path) => { this.transformEntity('translate', path) }, 'garden')
    this.$onBus('transform-path', (path) => { this.transformEntity('transform', path) }, 'garden')

    this.$onBus('destroyed-element', (element) => { this.gardenMap.removeEntityFeature(element) }, 'garden')
    this.$onBus('move-element', (element) => { this.transformEntity('translate', element) }, 'garden')

    this.$onBus('change-patch-layer', ({ patch, fromPatchId }) => {
      const layer = this.$store.getters.layer(fromPatchId)
      that.gardenMap.moveEntityToOtherLayer(layer, patch)
    }, 'garden')
    this.$onBus('change-path-layer', ({ path, fromPathId }) => {
      const layer = this.$store.getters.layer(fromPathId)
      that.gardenMap.moveEntityToOtherLayer(layer, path)
    }, 'garden')
    this.$onBus('change-background-layer-visibility', () => {
      that.gardenMap.setBackgroundLayerVisibility()
    }, 'garden')
    this.$onBus('updated-element', (element) => {
      // Ignore updates when transforming the patch
      if (this.transformTool || !element.isPoint) return
      this.gardenMap.forceRedrawSelection(element)
    }, 'garden')
    this.$onBus('created-element', (element) => {
      if (element.isPoint) {
        // Add to the map
        this.gardenMap.addPlaceable(element)
      } else {
        // Redraw the patch
        const patch = element.displayName
        this.gardenMap.redrawEntity(patch)
      }
      this.gardenMap.forceRedrawSelection(element)
    }, 'garden')
    this.$onBus('updated-path', (path) => {
      // Ignore updates when transforming the path
      if (this.transformTool) return
      this.gardenMap.forceRedrawSelection(path)
    }, 'garden')
    this.$onBus('updated-patch', (patch) => {
      // Ignore updates when transforming the element
      if (this.transformTool) return
      this.gardenMap.forceRedrawSelection(patch)
    }, 'garden')
  },
  beforeUnmount () {
    this.destroyMap()
    this.$unBusKey('garden')
  },
}
</script>

<style lang="scss" src="./Garden.scss" />
