<template>
  <div class="_container -grid--2 -grid-gap">
    <section>
      <h2>{{ $t('js.patches.index.alone_resources') }}</h2>

      <gp-empty v-if="elements.length === 0">{{ $t('js.patches.index.no_point') }}</gp-empty>

      <gpa-elements-list :elements="elements" context="inventory" />
    </section>
    <section>
      <h2>{{ $t('js.patches.index.patches') }}</h2>

      <gp-empty v-if="patches.length === 0">{{ $t('js.patches.index.no_patches') }}</gp-empty>

      <gpa-patch-item v-for="patch in patches"
                      :key="patch.id"
                      :patch="patch" />
    </section>
  </div>
</template>

<script>
import GpaPatchItem from './Patches/_Item.vue'
import GpEmpty from '../../../common/DataDisplay/Empty/Empty.vue'
import GpaElementsList from './Elements/_List.vue'

/**
 * @typedef {import('../../../classes/models/Element')}  Element
 * @typedef {import('../../../classes/models/Patch')}    Patch
 * @typedef {import('../../../classes/models/Resource')} Resource
 */

export default {
  name: 'GpaInventory',
  components: { GpaElementsList, GpaPatchItem, GpEmpty },
  computed: {
    /**
     * @returns {Patch[]} List of patches
     */
    patches () { return this.$store.getters.patches },

    /**
     * @returns {Element[]} List of single elements on map
     */
    elements () {
      return this.$store.getters.pointElements
    },
  },
}
</script>
