<template>
  <div class="gpa-library__content">
    <gp-panel resize="right">
      <gpa-library-filters v-model="filters" />
    </gp-panel>

    <gp-panel resize="right" class="gpa-library__list-panel">
      <gp-search-form v-model="searchTerm" />
      <recycle-scroller v-slot="{item}"
                        key-field="id"
                        class="_virtual-scroll-area"
                        :items="resources"
                        :item-size="48">
        <gp-list-item :active="item.id === selectedResourceId"
                      :sub-caption="item.latinName"
                      :image="item.picturePath"
                      :icon="item.generic? 'generic' : null"
                      :to="{params: {resourceId: item.id}}">
          <gp-icon v-if="item.generic" name="generic" /> {{ item.name }}
        </gp-list-item>
      </recycle-scroller>
    </gp-panel>
    <div class="gpa-library__content__resource">
      <gp-alert v-if="!selectedResource" variant="mute">{{ $t('js.genera.index.no_selected_resource') }}</gp-alert>
      <div v-else>
        <gpa-resource-description-area :resource="selectedResource" :show-links="true" />
      </div>
    </div>
  </div>
</template>

<script>
import GpaResourceDescriptionArea from './Resources/_Resource.vue'
import GpaLibraryFilters from './Library/Filters.vue'
import GpPanel from '../../../common/Panel/Panel.vue'
import GpAlert from '../../../common/Alert/Alert.vue'
import GpListItem from '../../../common/ListItem/ListItem.vue'
import GpSearchForm from '../../../common/Form/SearchForm.vue'
import GpIcon from '../../../common/Icon/Icon.vue'

export default {
  name: 'GpaLibrary',
  components: { GpIcon, GpSearchForm, GpListItem, GpAlert, GpPanel, GpaLibraryFilters, GpaResourceDescriptionArea },
  data () {
    return {
      selectedResourceId: null,
      searchTerm: '',
      filters: {
        generic: false,
        tags: [],
        shelteredSowingMonths: [],
        soilSowingMonths: [],
        harvestingMonths: [],
      },
    }
  },
  computed: {
    resources () {
      const options = {
        generic: this.filters.generic,
        search: this.searchTerm,
        tags: this.filters.tags,
        shelteredSowingMonths: this.filters.shelteredSowingMonths,
        soilSowingMonths: this.filters.soilSowingMonths,
        harvestingMonths: this.filters.harvestingMonths,
      }
      return this.$store.getters.searchedAndFilteredResources(options)
    },
    selectedResource () { return this.$store.getters.resource(this.selectedResourceId) },
  },
  methods: {
    setSelectedResourceId () {
      const id = this.$route.params.resourceId
      this.selectedResourceId = id ? parseInt(id, 10) : null
    },
  },
  created () {
    this.setSelectedResourceId()
  },
  watch: {
    $route () {
      this.setSelectedResourceId()
    },
  },
}
</script>
