<template>
  <div class="gpa-library__content">
    <gp-panel resize="right" class="gpa-library__list-panel">
      <gp-search-form v-model="searchTerm" />

      <recycle-scroller v-slot="{item}"
                        key-field="id"
                        class="_virtual-scroll-area"
                        :items="families"
                        :item-size="41">
        <gp-list-item :active="item.id === selectedFamilyId"
                      :caption="item.name"
                      :to="{params: {familyId: item.id}}">
          <template #right>
            <gp-button v-if="item.source"
                       icon="external-link"
                       :href="item.source"
                       target="_blank"
                       rel="noopener noreferrer" />
            <gp-button icon="pencil" :title="$t('generic.edit')" @click="$emitBus('edit-family', item)" />
          </template>
        </gp-list-item>
      </recycle-scroller>
    </gp-panel>

    <gp-panel resize="right" class="gpa-library__list-panel">
      <gp-alert v-if="!resources" variant="mute">{{ $t('js.genera.index.no_selected_family') }}</gp-alert>
      <recycle-scroller v-else
                        v-slot="{item}"
                        key-field="id"
                        class="_virtual-scroll-area"
                        :items="resources"
                        :item-size="48">
        <gp-list-item :active="item.id === selectedResourceId"
                      :sub-caption="item.latinName"
                      :image="item.picturePath"
                      :icon="item.generic? 'generic' : null"
                      :to="{params: {resourceId: item.id}}">
          <gp-icon v-if="item.generic" name="generic" /> {{ item.name }}
        </gp-list-item>
      </recycle-scroller>
    </gp-panel>

    <div class="gpa-library__content__resource">
      <gp-alert v-if="!selectedResource" variant="mute">{{ $t('js.genera.index.no_selected_resource') }}</gp-alert>
      <div v-else>
        <gpa-resource-description-area :resource="selectedResource" :show-links="true" />
      </div>
    </div>
  </div>
</template>

<script>
import GpaResourceDescriptionArea from './Resources/_Resource.vue'
import GpButton from '../../../common/Button/Button.vue'
import GpPanel from '../../../common/Panel/Panel.vue'
import GpAlert from '../../../common/Alert/Alert.vue'
import GpListItem from '../../../common/ListItem/ListItem.vue'
import GpSearchForm from '../../../common/Form/SearchForm.vue'
import GpIcon from '../../../common/Icon/Icon.vue'

export default {
  name: 'GpaLibraryByFamily',
  components: { GpIcon, GpSearchForm, GpListItem, GpAlert, GpPanel, GpButton, GpaResourceDescriptionArea },
  data () {
    return {
      order: 'name',
      selectedResourceId: null,
      selectedFamilyId: null,
      searchTerm: '',
      filters: {
        tags: [],
        shelteredSowingMonths: [],
        soilSowingMonths: [],
        harvestingMonths: [],
      },
    }
  },
  computed: {
    resources () {
      if (this.selectedFamily) return this.selectedFamily.resources

      return null
    },
    families () {
      return this.$store.getters.families
        .filter(f => f.name.toLowerCase().includes(this.searchTerm.toLowerCase()))
    },
    selectedResource () { return this.$store.getters.resource(this.selectedResourceId) },
    selectedFamily () { return this.$store.getters.family(this.selectedFamilyId) },
  },
  methods: {
    setIds () {
      const familyId = this.$route.params.familyId
      this.selectedFamilyId = familyId ? parseInt(familyId, 10) : null

      const resourceId = this.$route.params.resourceId
      this.selectedResourceId = resourceId && familyId ? parseInt(resourceId, 10) : null
    },
  },
  created () {
    this.setIds()
  },
  watch: {
    $route () {
      this.setIds()
    },
  },
}
</script>
