<template>
  <!-- We don't use "gp-form" here as it's not suitable for this form -->
  <form action="#" class="gpa-map-form" @submit.prevent="save">
    <div class="-grid--1-2 -grid-gap">
      <div>
        <gp-form-errors :errors="errors" model="map" />

        <gp-field input-id="map_name" :label="$t('activerecord.attributes.map.name')">
          <input id="map_name"
                 v-model="inputs.name"
                 type="text"
                 name="name"
                 :placeholder="$t('js.maps.form.name_placeholder')"
                 required>
        </gp-field>

        <gp-field :help="$t('js.maps.form.publicly_available_help')">
          <label for="map_publicly_available">
            <input id="map_publicly_available"
                   v-model="inputs.publicly_available"
                   type="checkbox"
                   name="publicly_available">
            {{ $t('activerecord.attributes.map.publicly_available') }}</label>
        </gp-field>

        <gp-alert variant="info">{{ $t('js.maps.form.select_center_note') }}</gp-alert>
      </div>
      <div>
        <div id="map" class="gpa-map-form__map" />
      </div>
    </div>

    <gp-actions bottom>
      <gp-submit-button :loading="loading" :caption="$t('js.maps.form.save_this_map')" :disabled="!centerChanged" />
    </gp-actions>
  </form>
</template>

<script>
import GpFormErrors from '../../../common/Form/FormErrors.vue'
import GpSubmitButton from '../../../common/Inputs/SubmitButton/SubmitButton.vue'
import GpActions from '../../../common/Actions/Actions.vue'
import MapEditionMixin from '../mixins/MapEdition'
import GpAlert from '../../../common/Alert/Alert.vue'
import GpField from '../../../common/Form/Field.vue'

export default {
  name: 'GpaNewOsmMapForm',
  components: { GpField, GpAlert, GpActions, GpSubmitButton, GpFormErrors },
  mixins: [MapEditionMixin],
  data () {
    return {
      inputs: {
        name: '',
        center: null,
        publicly_available: false,
      },

      loading: false,
      errors: null,
    }
  },
  methods: {
    save () {
      const payload = { ...this.inputs }
      this.errors = null
      this.loading = true
      this.$store.dispatch('createMap', payload)
        .then((map) => {
          this.$router.push({ name: 'map', params: { mapId: map.id } })
        })
        .catch(error => { this.errors = error })
        .then(() => { this.loading = false })
    },
  },
  created () {
    this.$nextTick(() => {
      this.loadOSMMap()
      this.enterCenterSelectionMode()
    })
  },

}
</script>

<style lang="scss" src="./MapForm.scss" />
