<template>
  <div>
    <div class="-flex -mbd">
      <gp-badge :variant="isSelectingPicture ? 'success' : ''" :caption="$t('js.maps.form.breadcrumbs.picture_selection')" /> <gp-icon name="caret-double-right" />
      <gp-badge :variant="isSettingScale ? 'success' : ''" :caption="$t('js.maps.form.breadcrumbs.map_scaling')" /> <gp-icon name="caret-double-right" />
      <gp-badge :variant="isSettingCenter ? 'success' : ''" :caption="$t('js.maps.form.breadcrumbs.center_definition')" />
    </div>

    <!-- We don't use "gp-form" here as it's not suitable for this form -->
    <form action="#" class="gpa-map-form" @submit.prevent="save">
      <div class="-grid--1-2 -grid-gap">
        <div>
          <gp-form-errors :errors="errors" model="map" />

          <gp-field input-id="map_name" :label="$t('activerecord.attributes.map.name')">
            <input id="map_name"
                   v-model="inputs.name"
                   type="text"
                   name="name"
                   :placeholder="$t('js.maps.form.name_placeholder')"
                   required>
          </gp-field>

          <gp-field :help="$t('js.maps.form.publicly_available_help')">
            <label for="map_publicly_available">
              <input id="map_publicly_available"
                     v-model="inputs.publicly_available"
                     type="checkbox"
                     name="publicly_available">
              {{ $t('activerecord.attributes.map.publicly_available') }}
            </label>
          </gp-field>

          <gp-field>
            <label for="map_toggle_background">
              <input id="map_toggle_background" type="checkbox" :checked="inputs.background_color" @change="toggleBackgroundColor">
              {{ $t('js.maps.form.custom_background_color') }}
            </label>
          </gp-field>

          <gp-field>
            <label :class="{'-text--mute': !inputs.background_color}">
              {{ $t('js.maps.form.pick_color') }}
              <input v-model="inputs.background_color" type="color" :disabled="!inputs.background_color">
            </label>
          </gp-field>

          <gp-field v-show="isSelectingPicture" input-id="map-picture" :label="$t('js.maps.form.select_picture')">
            <input id="map-picture"
                   type="file"
                   :required="inputs.type === 'picture'"
                   :accept="acceptedMimeTypes"
                   @change="renderMap">
          </gp-field>

          <gp-field v-if="isSettingScale" input-id="map-scale-reference" :label="$t('js.maps.form.scale_reference')" :help="$t('js.maps.form.scale_reference_help')">
            <input id="map-scale-reference" v-model="scaleReference" name="scale" type="number">
          </gp-field>

          <gp-alert v-if="isSettingCenter" variant="info">{{ $t('js.maps.form.select_center_note') }}</gp-alert>
        </div>

        <div id="map" class="gpa-map-form__map" :style="mapStyle" />
      </div>

      <gp-actions v-if="!isSelectingPicture" bottom>
        <gp-toolbar v-if="isSettingScale || isSettingCenter">
          <gp-button variant="canceling" icon="caret-left" :caption="$t('js.maps.form.select_another_picture')" @click="reset" />
          <gp-button v-if="isSettingScale"
                     variant="creative"
                     end-icon="caret-right"
                     :caption="$t('generic.continue')"
                     @click="next" />
          <gp-submit-button v-if="isSettingCenter" :loading="loading" :caption="$t('js.maps.form.save_this_map')" :disabled="!centerChanged" />
        </gp-toolbar>
      </gp-actions>
    </form>
  </div>
</template>

<script>
import GpSubmitButton from '../../../common/Inputs/SubmitButton/SubmitButton.vue'
import GpFormErrors from '../../../common/Form/FormErrors.vue'
import MapEditionMixin from '../mixins/MapEdition'
import GpIcon from '../../../common/Icon/Icon.vue'
import GpButton from '../../../common/Button/Button.vue'
import GpToolbar from '../../../common/Toolbar/Toolbar.vue'
import GpActions from '../../../common/Actions/Actions.vue'
import GpField from '../../../common/Form/Field.vue'
import GpBadge from '../../../common/Badge/Badge.vue'
import GpAlert from '../../../common/Alert/Alert.vue'

export default {
  name: 'GpaNewPictureMapForm',
  components: { GpAlert, GpBadge, GpField, GpActions, GpToolbar, GpButton, GpIcon, GpFormErrors, GpSubmitButton },
  mixins: [MapEditionMixin],
  data () {
    return {
      acceptedMimeTypes: MAPS_ALLOWED_MIME_TYPES,
      inputs: {
        name: '',
        ...this.defaultInputs(),
      },
      doneScaling: false,

      // Form
      loading: false,
      errors: null,
    }
  },
  computed: {
    isSelectingPicture () { return !this.filePreview },
    isSettingScale () { return this.filePreview && !this.doneScaling },
    isSettingCenter () { return this.doneScaling },
    mapStyle () {
      if (!this.inputs.background_color) return ''

      return `background-color: ${this.inputs.background_color}; background-image: none;`
    },
  },
  methods: {
    toggleBackgroundColor () { this.inputs.background_color = this.inputs.background_color ? null : '#FFFFFF' },
    defaultInputs () {
      return {
        picture: null,
        center: null,
        extent_width: null,
        extent_height: null,
        publicly_available: false,
        background_color: null,
      }
    },
    reset () {
      this.resetMap()
      this.resetState()
      const inputs = this.defaultInputs()
      this.doneScaling = false
      Object.keys(inputs).forEach(k => { this.inputs[k] = inputs[k] })
    },
    next () {
      if (this.isSettingScale) {
        this.inputs.extent_width = this.pictureSize[0] * this.previousScale
        this.inputs.extent_height = this.pictureSize[1] * this.previousScale
        this.olMap.removeInteraction(this.interaction)
        this.interaction = null
        this.doneScaling = true
        this.enterCenterSelectionMode()
      }
    },
    save () {
      const payload = { ...this.inputs }
      this.errors = null
      this.loading = true
      this.$store.dispatch('createMap', payload)
        .then((map) => {
          this.$router.push({ name: 'map', params: { mapId: map.id } })
        })
        .catch(error => { this.errors = error })
        .then(() => { this.loading = false })
    },
    renderMap (event) {
      const files = event.target.files || event.dataTransfer.files
      const file = files[0]
      const extension = file.name.split('.').pop().toLowerCase()

      // FIXME: This should use the list defined in instance configuration
      if (!['png', 'jpg', 'jpeg', 'svg'].includes(extension)) {
        throw new Error(`${extension} is not a supported file format`)
      }

      this.reset()
      this.inputs.picture = file

      const reader = new FileReader()
      this.loadAndRenderMap(reader, () => { this.enterMeasureMode() })
      reader.readAsDataURL(file)
    },
  },
  filters: {
    readableLength (length) {
      let output
      if (length > 100) {
        output = Math.round((length / 1000) * 100) / 100 + ' ' + 'km'
      } else {
        output = Math.round(length * 100) / 100 + ' ' + 'm'
      }
      return output
    },
  },
}
</script>

<style lang="scss" src="./MapForm.scss" />
