<template>
  <div class="gpa-library__content">
    <gp-panel class="gpa-library__list-panel" resize="right">
      <gp-search-form v-model="searchTerm" />
      <div class="_virtual-scroll-area">
        <gp-list-item v-for="group in resourceInteractionsGroups"
                      :key="group.id"
                      :caption="group.name"
                      :active="selectedGroupId === group.id"
                      :to="{name: 'resourceInteractionsGroups', params: {resourceInteractionsGroupId: group.id }}" />
      </div>
    </gp-panel>

    <div class="gpa-library__content__resource">
      <gp-alert v-if="!selectedGroup" variant="mute">{{ $t('js.resourceInteractionsGroups.index.no_selected_group') }}</gp-alert>
      <div v-else>
        <gpa-resource-interactions-group-item :resource-interactions-group="selectedGroup" />
      </div>
    </div>
  </div>
</template>

<script>
import GpaResourceInteractionsGroupItem from './ResourceInteractionsGroup/_Item.vue'
import GpListItem from '../../../common/ListItem/ListItem.vue'
import GpPanel from '../../../common/Panel/Panel.vue'
import GpAlert from '../../../common/Alert/Alert.vue'
import GpSearchForm from '../../../common/Form/SearchForm.vue'

export default {
  name: 'GpaResourceInteractionsGroups',
  components: { GpSearchForm, GpAlert, GpPanel, GpListItem, GpaResourceInteractionsGroupItem },
  data () {
    return {
      selectedGroupId: null,
      searchTerm: '',
    }
  },
  computed: {
    resourceInteractionsGroups () {
      return this.$store.getters.resourceInteractionsGroups
        .filter(g => g.name.toLowerCase().includes(this.searchTerm.toLowerCase()))
    },
    selectedGroup () {
      return this.$store.getters.resourceInteractionsGroup(this.selectedGroupId)
    },
  },
  methods: {
    setSelectedGroupId () {
      const id = this.$route.params.resourceInteractionsGroupId
      this.selectedGroupId = id ? parseInt(id, 10) : null
    },
  },
  mounted () {
    this.setSelectedGroupId()
  },
  watch: {
    $route () {
      this.setSelectedGroupId()
    },
  },
}
</script>
