<template>
  <div class="_container">
    <gp-loading v-if="loading" fill relative>{{ $t('generic.loading') }}</gp-loading>

    <gp-empty v-else-if="Object.keys(tasksByDay).length === 0" icon="smiley">
      {{ $t('js.todos.index.no_tasks') }}
    </gp-empty>

    <section v-for="(data, day) in tasksByDay" :key="day" class="gpa-tasks__day" :class="dayCSS(data.date)">
      <h2>{{ day }}</h2>
      <gpa-task v-for="task in data.tasks" :key="task.id" :task="task" />
    </section>
  </div>
</template>

<script>
import GpaTask from './Tasks/_Task.vue'
import { isOver, isSameDay } from '../../../../helpers/Dates'
import GpEmpty from '../../../common/DataDisplay/Empty/Empty.vue'
import GpLoading from '../../../common/Loading/Loading.vue'

export default {
  name: 'GpaTasks',
  components: { GpLoading, GpEmpty, GpaTask },
  data () {
    return {
      loading: false,
      now: new Date(),
    }
  },
  computed: {
    tasksByDay () {
      return this.$store.getters.pendingTasks
        // Group by day
        .reduce((result, task) => {
          const date = this.$d(task.plannedFor, 'date')
          if (!result[date]) result[date] = { date: task.plannedFor, tasks: [] }
          result[date].tasks.push(task)
          return result
        }, {})
    },
  },
  methods: {
    dayCSS (date) {
      return [
        this.isOver(date) && 'gpa-tasks__day--overdue',
        this.isSameDay(date) && 'gpa-tasks__day--today',
      ]
    },
    isSameDay (date) { return isSameDay(date, this.now) },
    isOver (date) { return isOver(date, this.now) },
  },
  created () {
    this.loading = true
    this.$store.dispatch('loadPendingTasks', this.$route.params.mapId)
      .then(() => { this.loading = false })
  },
}
</script>

<style lang="scss" src="./Tasks.scss" />
