<template>
  <!-- eslint-disable vue/no-v-html -->
  <div v-html="html" />
  <!-- eslint-enable vue/no-v-html -->
</template>

<script>
export default {
  name: 'GpMarkdownRenderer',
  props: {
    content: { required: false, type: String, default: null },
  },
  data () {
    return {
      html: '',
    }
  },
  methods: {
    render () {
      this.html = this.$props.content ? window.markdown(this.$props.content) : ''
    },
  },
  created () {
    this.render()
  },
  watch: {
    content () { this.render() },
  },
}
</script>
