<template>
  <div class="gp-icon-text" :class="componentCSS">
    <gp-icon :name="icon" />
    <slot>{{ text }}</slot>
  </div>
</template>

<script>
import GpIcon from '../Icon/Icon.vue'

const variants = [null, 'info', 'success', 'danger', 'warning', 'mute']
const sizes = [null, 'small', 'large']

export default {
  name: 'GpIconText',
  components: { GpIcon },
  props: {
    /* Text. Will be overridden by default slot content */
    text: { required: false, type: [String, Number], default: null },
    /**
     * Color variant
     *
     * @values  info, success, danger, warning, mute
     */
    variant: { required: false, type: String, default: null, validator: v => variants.includes(v) },
    /**
     * Button size
     *
     * @values  small, large
     */
    size: { required: false, type: String, default: null, validator: v => sizes.includes(v) },
    /** Left icon name */
    icon: { required: false, type: String, default: null },
  },
  computed: {
    componentCSS () {
      return [
        sizes.includes(this.size) && `gp-icon-text--${this.size}`,
        variants.includes(this.variant) && `gp-icon-text--${this.variant}`,
      ]
    },
  },
}
</script>
