@use '../../../stylesheets/core/placeholders/input';

.gp-dropdown {
  position: relative;
  text-align: left;

  &__trigger {
    &__arrow {
      width: 0.8rem;
    }
  }

  &__content {
    position: absolute;
    z-index: var(--z-index-menu);
    display: none;
  }

  // Display as block
  &--block {
    width: 100%;

    .gp-dropdown__trigger {
      width: 100%;

      // Move arrow at the end in the button
      > span:first-child {
        flex-grow: 1;
      }
    }

    .gp-dropdown__content {
      width: 100%;
    }
  }

  // Aligns menu on the right of the trigger
  &--right {
    .gp-dropdown__content {
      right: 0;
    }
  }

  // Makes the menu wider
  &--wide {
    .gp-dropdown__content {
      min-width: 20rem;
      max-width: 80vw;
    }
  }

  // Make it look like a "select" input
  &--select-like {
    .gp-dropdown__trigger {
      @extend %input;

      background-color: var(--state-color-green);
      color: var(--state-color-green-alt);
      font-variant: none;
    }
  }

  // Display the menu
  &:hover {
    .gp-dropdown__content {
      display: block;
    }
  }
}

// Dropdown in a toolbar
.gp-toolbar {
  .gp-dropdown {
    &:not(:first-child) {
      .gp-dropdown__trigger {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }

    &:not(:last-child) {
      .gp-dropdown__trigger {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  &--has-help {
    .gp-dropdown:nth-last-child(2) {
      .gp-dropdown__trigger {
        border-bottom-right-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
      }
    }
  }
}
