<template>
  <div class="gp-dropdown"
       :class="cssClasses"
       @mouseenter="open"
       @mouseleave="close"
       @click="isOpen = !isOpen">
    <gp-button class="gp-dropdown__trigger">
      <slot name="caption"><span>{{ caption }}</span></slot>
      <template #right><gp-icon name="caret-down" class="gp-dropdown__trigger__arrow" /></template>
    </gp-button>
    <gp-menu v-show="isOpen" class="gp-dropdown__content" @click="close">
      <slot />
    </gp-menu>
  </div>
</template>

<script>
import GpButton from '../Button/Button.vue'
import GpMenu from '../Menu/Menu.vue'
import GpIcon from '../Icon/Icon.vue'

export default {
  name: 'GpDropdown',
  components: { GpIcon, GpButton, GpMenu },
  props: {
    /** Trigger caption */
    caption: { required: false, type: String, default: null },
    /** Display trigger as block. Automatically applied when `selectLike` is used. */
    block: { required: false, type: Boolean, default: false },
    /** Align menu on the right */
    right: { required: false, type: Boolean, default: false },
    /** Display a wide menu */
    wide: { required: false, type: Boolean, default: false },
    /** Whether or not to display the trigger like a select input. Also activates `block` style */
    selectLike: { required: false, type: Boolean, default: false },
  },
  data () {
    return {
      // Handle this with JS so we still have the same behaviour on mobile:
      // once an item is clicked, there is no  way to close the menu
      isOpen: false,
    }
  },
  computed: {
    cssClasses () {
      return [
        (this.$props.block || this.$props.selectLike) && 'gp-dropdown--block',
        this.$props.right && 'gp-dropdown--right',
        this.$props.wide && 'gp-dropdown--wide',
        this.$props.selectLike && 'gp-dropdown--select-like',
      ]
    },
  },
  methods: {
    open () {
      if (this.selectLike) return
      this.isOpen = true
    },
    close () {
      if (this.selectLike) return
      this.isOpen = false
    },
  },
}
</script>
