<template>
  <div class="gp-collapsible-list-item" :class="showContent ? 'gp-collapsible-list-item--active' : ''">
    <div class="gp-list-item">
      <div class="gp-list-item__content" @click="showContent = !showContent">
        <slot name="caption">
          <div role="button" class="gp-list-item__title">
            <span>{{ caption }}</span>
          </div>
        </slot>
      </div>

      <div v-if="$slots.actions" class="gp-list-item__actions">
        <gp-toolbar>
          <!-- @slot Right toolbar content -->
          <slot name="actions" />
        </gp-toolbar>
      </div>
    </div>
    <div class="gp-collapsible-list-item__content">
      <slot />
    </div>
  </div>
</template>
<script>
import GpToolbar from '../Toolbar/Toolbar.vue'

export default {
  name: 'GpCollapsibleListItem',
  components: { GpToolbar },
  props: {
    /** Main text */
    caption: { required: false, type: String, default: null },
    /** Secondary text */
    subCaption: { required: false, type: String, default: null },
  },
  data () {
    return {
      showContent: false,
    }
  },
}
</script>
