<template>
  <div class="gp-list-item" :class="componentCSS">
    <div v-if="$slots.left" class="gp-list-item__actions">
      <gp-toolbar>
        <!-- @slot Left toolbar content -->
        <slot name="left" />
      </gp-toolbar>
    </div>

    <div class="gp-list-item__content" @click="$emit('choose')">
      <img v-if="image" :src="image" alt="">
      <gp-icon v-else-if="icon" :name="icon" />

      <component :is="componentTag" v-bind="componentProps" role="button" class="gp-list-item__title">
        <!-- @slot Default slots, replaces `caption` prop -->
        <span><slot>{{ caption }}</slot></span>
        <span v-if="subCaption || $slots.subCaption" class="-small">
          <slot name="subCaption">{{ subCaption }}</slot>
        </span>
      </component>
    </div>

    <div v-if="$slots.right" class="gp-list-item__actions">
      <gp-toolbar>
        <!-- @slot Right toolbar content -->
        <slot name="right" />
      </gp-toolbar>
    </div>
  </div>
</template>

<script>
import GpIcon from '../Icon/Icon.vue'
import GpToolbar from '../Toolbar/Toolbar.vue'

export default {
  name: 'GpListItem',
  emits: [
    'choose',
  ],
  components: { GpToolbar, GpIcon },
  props: {
    /** Icon name */
    icon: { required: false, type: String, default: null },
    /** Image URL. Overrides `icon` */
    image: { required: false, type: String, default: null },
    /** Main text */
    caption: { required: false, type: String, default: null },
    /** Secondary text */
    subCaption: { required: false, type: String, default: null },
    /** Whether or not the item is selected */
    active: { required: false, type: Boolean, default: false },
    /** Whether or not to give the impression the item is not clickable */
    static: { required: false, type: Boolean, default: false },
    /** Whether or not to display the title and subtitle on the same line */
    inline: { required: false, type: Boolean, default: false },
    /** Vue-router route. Item will be a link when used */
    to: { required: false, type: [Object, String], default: null },
  },
  computed: {
    componentCSS () {
      return [
        this.active && 'gp-list-item--active',
        this.static && 'gp-list-item--static',
        this.inline && 'gp-list-item--inline',
        (this.subCaption || this.$slots.subCaption) && 'gp-list-item--has-sub-caption',
      ]
    },
    componentTag () {
      if (!this.to) return 'a'

      return 'RouterLink'
    },
    componentProps () {
      if (!this.to) return {}

      return {
        to: this.to,
      }
    },
  },
}
</script>
