<template>
  <form action="#">
    <gp-form-errors :errors="errors"
                    :model="model" />

    <div class="_container">
      <slot />
    </div>

    <gp-actions bottom>
      <gp-button v-if="cancellable"
                 type="reset"
                 variant="canceling"
                 :disabled="loading"
                 @click="$emit('cancel')">
        {{ $t('generic.cancel') }}
      </gp-button>
      <gp-submit-button :loading="loading" :caption="submitButtonTitle" :icon="submitButtonIcon" :disabled="disableSubmit" />
    </gp-actions>
  </form>
</template>

<script>
import GpSubmitButton from '../Inputs/SubmitButton/SubmitButton.vue'
import GpFormErrors from './FormErrors.vue'
import GpButton from '../Button/Button.vue'
import GpActions from '../Actions/Actions.vue'

export default {
  name: 'GpForm',
  emits: [
    'cancel',
  ],
  components: { GpActions, GpButton, GpFormErrors, GpSubmitButton },
  props: {
    /** Model name to display errors */
    model: { required: false, type: String, default: null },
    /** Whether or not something is loading */
    loading: { required: false, type: Boolean, default: false },
    /** Errors list */
    errors: { required: false, type: Object, default: null },
    /** Custom caption for the submit button */
    submitButtonTitle: { required: false, type: String, default: null },
    /** Whether or not to disable the submit button (e.g.: in case of form error) */
    disableSubmit: { required: false, type: Boolean, default: false },
    /** Custom icon for the submit button */
    submitButtonIcon: { required: false, type: String, default: null },
    /** Whether or not to display a "Cancel" button */
    cancellable: { required: false, type: Boolean, default: true },
  },
}
</script>
