<template>
  <aside v-if="errors" class="gp-form-errors">
    <!-- Single error message -->
    <div v-if="errors.error">{{ errors.error }}</div>

    <!-- Direct error message -->
    <div v-else-if="typeof errors === 'string'">{{ errors }}</div>

    <!-- Exception -->
    <div v-else-if="isException">{{ errors.message }}</div>

    <!-- List of failing fields -->
    <template v-else>
      <h2 v-if="hasTitle">{{ $t('js.generic.form.has_errors') }}</h2>
      <ul>
        <li v-for="(messages, field) in errors" :key="field">
          <strong>{{ fieldName(field) }}</strong>
          <template v-if="messages.length === 1">{{ messages[0] }}</template>
          <template v-else>
            <ul>
              <li v-for="message in messages" :key="message"> {{ message }}</li>
            </ul>
          </template>
        </li>
      </ul>
    </template>
  </aside>
</template>

<script>
export default {
  name: 'FormErrors',
  props: {
    errors: { required: false, type: Object, default: null },
    model: { required: false, type: String, default: null },
    hasTitle: { required: false, type: Boolean, default: true },
  },
  computed: {
    isException () { return this.errors instanceof Error },
  },
  methods: {
    fieldName (field) {
      if (this.model) field = this.$t(`activerecord.attributes.${this.model}.${field}`)

      return this.$t('generic.definition', { value: field })
    },
  },
}
</script>
