.gp-search-form {
  display: flex;
  border-radius: var(--border-radius);

  input[type='search'] {
    flex-grow: 1;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  button[type='submit'] {
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }
}
