<template>
  <form action="#" class="gp-search-form" @submit.prevent="()=>{}">
    <input ref="field"
           v-model="buffer"
           type="search"
           :disabled="disabled"
           :placeholder="placeholder">
    <gp-button type="submit" :title="$t('generic.search')" icon="magnifying-glass" :disabled="disabled" />
  </form>
</template>

<script>
import { debounce } from 'debounce'
import GpButton from '../Button/Button.vue'

export default {
  name: 'GpSearchForm',
  emits: [
    'update:modelValue',
  ],
  components: { GpButton },
  props: {
    modelValue: { required: true, type: String },
    /** Whether or not to disable the inputs */
    disabled: { required: false, type: Boolean, default: false },
    /** Custom input placeholder */
    placeholder: { required: false, type: String, default: '' },
  },
  data () {
    return {
      buffer: this.modelValue,
    }
  },
  created () {
    this.$nextTick(() => { this.$refs.field.focus() })
  },
  watch: {
    buffer: debounce(function () {
      if (this.buffer === this.modelValue) return

      this.$emit('update:modelValue', this.buffer)
    }, 250),
    modelValue (newValue) {
      if (newValue !== this.buffer) this.buffer = newValue
    },
  },
}

</script>
