<template>
  <div>
    <h5 v-if="caption">{{ caption }}</h5>
    <!-- Overrides `content` prop -->
    <slot>{{ content }}</slot>
    <ul v-if="lines" class="-unstyled">
      <li v-for="(line, index) in lines" :key="index"><gp-icon-text v-bind="line" /></li>
    </ul>
  </div>
</template>

<script>
import GpIconText from '../IconText/IconText.vue'

/**
 * Use this component with `HelpButton`, as `content` slot.
 */
export default {
  name: 'GpHelpButtonContent',
  components: { GpIconText },
  props: {
    caption: { required: false, type: String, default: null },
    /** Content text. Is overridden by default slot */
    content: { required: false, type: String, default: null },
    /**
     * List of IconText props to create a list of help points
     * ex: `[{ icon: 'map-pin', text: 'some description' }]`
     */
    lines: { required: false, type: Array, default: null },
  },
}
</script>
