<template>
  <popper arrow class="gp-help-button">
    <gp-button :title="$t('generic.help')"
               icon="help"
               variant="helping"
               class="gp-help-button__trigger"
               text />
    <template v-if="content || $slots.default" #content>
      <div class="gp-help-button__content">
        <!-- @slot Default slot. Overrides `content` props -->
        <slot>{{ content }}</slot>
      </div>
    </template>
  </popper>
</template>

<script>
import { defineComponent } from 'vue'
import Popper from 'vue3-popper'
import GpButton from '../Button/Button.vue'

export default defineComponent({
  name: 'GpHelpButton',
  components: { GpButton, Popper },
  props: {
    /** Text content. Is overridden by default slot */
    content: { required: false, type: String, default: null },
  },
})
</script>
