<template>
  <div class="gpa-diff-entry__line" :class="syncable ? '' : 'text--mute small'">
    <pre class="-right">{{ trusted }}</pre>
    <div class="-center">{{ field }}</div>
    <div>
      <gp-button v-if="syncable"
                 variant="recording"
                 :disabled="disabled"
                 :title="$t('js.admin.import.sync_field')"
                 icon="caret-double-right"
                 @click="$emit('sync')" />
    </div>
    <pre :class="message? '-text--warning' : ''">{{ message || current }}</pre>
  </div>
</template>

<script>
import isEqual from 'lodash.isequal'
import GpButton from '../../../../common/Button/Button.vue'

export default {
  name: 'GpaDiffLine',
  emits: [
    'sync',
  ],
  components: { GpButton },
  props: {
    /* eslint-disable vue/require-prop-types */
    trusted: { required: false, default: null },
    current: { required: false, default: null },
    /* eslint-enable vue/require-prop-types */
    field: { required: true, type: String },
    disabled: { required: false, type: Boolean, default: false },
    message: { required: false, type: String, default: null },
  },
  computed: {
    syncable () { return !this.message && !isEqual(this.$props.current, this.$props.trusted) },
  },
}

</script>
