<template>
  <div class="gp-tag">
    <div v-for="(nibble, index) in nibbles" :key="index" class="gp-tag__segment">{{ nibble||'?' }}</div>
    <gp-button v-if="removable"
               icon="x-bold"
               variant="destructive"
               class="gp-tag__delete-button"
               @click="remove" />
  </div>
</template>

<script>
import GpButton from '../../Button/Button.vue'

export default {
  name: 'GpTag',
  emits: [
    'remove',
  ],
  components: { GpButton },
  props: {
    /** Tag name */
    tag: { required: true, type: String },
    /** Alternative value which will be emitted on remove */
    value: { required: false, type: [String, Number], default: null },
    /** Whether or not to display a "remove" button next to the tag */
    removable: { required: false, type: Boolean, default: false },
  },
  computed: {
    nibbles () { return this.tag.split('::') },
  },
  methods: {
    remove () {
      const value = this.$props.value || this.$props.tag
      this.$emit('remove', value)
    },
  },
}
</script>
