<template>
  <div>
    <gp-tag v-for="tag in list" :key="tag" :tag="tag" />
  </div>
</template>

<script>
import GpTag from './Tag.vue'

export default {
  name: 'GpTags',
  components: { GpTag },
  props: {
    /** Tags list */
    tags: { required: true, type: Array },
    /** Whether or not to group similar tags */
    group: { required: false, type: Boolean, default: true },
  },
  computed: {
    list () {
      if (!this.$props.group) return this.tags

      const list = {}

      this.$props.tags.forEach((tag) => {
        const chunks = tag.split('::')
        const key = chunks.shift()

        if (!list[key]) list[key] = []

        if (chunks.length > 0) list[key].push(chunks.join(': '))
      })

      return Object.keys(list).sort((a, b) => a.localeCompare(b)).map(key => list[key].length > 0 ? `${key}::${list[key].join(' • ')}` : key)
    },
  },
}
</script>
