- @page_title = t('.title')

._devise-form
  = form_for(resource,
             as: resource_name,
             url: registration_path(resource_name),
             html: { method: :put }) do |f|
    = render 'devise/shared/error_messages', resource: resource

    .gp-field
      = f.label :username
      = f.text_field :username, required: true

    .gp-field
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: 'email', required: true
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      .gp-alert.gp-alert--warning= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email)

    %hr

    = f.fields_for :preferences do |ff|
      = ff.hidden_field :map

      .gp-field
        = ff.label :theme
        = ff.select :theme,
                   [[t('theme.browser'), nil], [t('theme.light'), 'light'], [t('theme.dark'), 'dark']],
                   selected: resource.preferences['theme']
        .gp-field__help= t('.theme_help')

    %hr

    .gp-field
      = f.label :password
      = f.password_field :password, autocomplete: 'new-password'
      .gp-field__help (#{t('.leave_blank_if_you_don_t_want_to_change_it')})
      - if @minimum_password_length
        .gp-field__help= t('devise.shared.minimum_password_length', count: @minimum_password_length)

    .gp-field
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: 'new-password'

    .gp-field
      = f.label :current_password
      = f.password_field :current_password, autocomplete: 'current-password', required: true
      .gp-field__help (#{t('.we_need_your_current_password_to_confirm_your_changes')})

    .gp-actions.gp-actions--bottom
      = f.submit t('.update'), class: 'gp-button gp-button--recording'

  %div
    %h3= t('.cancel_my_account')
    %p
      = t('.unhappy')
    .gp-actions
      = button_to t('.cancel_my_account'),
                  registration_path(resource_name),
                  data: { confirm: t('.are_you_sure') },
                  method: :delete,
                  class: 'gp-button gp-button--destructive'
