<template>
  <gp-button type="submit" variant="recording" :disabled="loading">
    <template #left>
      <gp-icon :name="loading ? 'hourglass' : defaultIcon" :spin="loading" />
    </template>
    {{ caption || $t('generic.save') }}
  </gp-button>
</template>

<script>
import GpIcon from '../../Icon/Icon.vue'
import GpButton from '../../Button/Button.vue'

export default {
  name: 'GpSubmitButton',
  components: { GpButton, GpIcon },
  props: {
    /** Loading state */
    loading: { required: false, type: Boolean, default: false },
    /** Custom button text */
    caption: { required: false, type: String, default: null },
    /** Custom button icon */
    icon: { required: false, type: String, default: null },
  },
  computed: {
    defaultIcon () {
      return this.icon || 'floppy-disk'
    },
  },
}
</script>
