<template>
  <component :is="componentTag" v-bind="componentProps">
    <span v-if="icon || $slots.left">
      <!--
        @slot Use this slot for custom icons (i.e.: with custom classes)
      -->
      <slot name="left"><gp-icon :name="icon" :title="caption || ''" /></slot>
    </span>

    <!--
      @slot Visible text
    -->
    <span v-if="caption || $slots.default" class="gp-button__text"><slot>{{ caption }}</slot></span>

    <span v-if="endIcon || $slots.right">
      <!--
        @slot Use this slot for custom icons (i.e.: with custom classes)
      -->
      <slot name="right"><gp-icon :name="endIcon" /></slot>
    </span>
  </component>
</template>

<script>
import GpIcon from '../Icon/Icon.vue'

const variants = ['destructive', 'creative', 'recording', 'canceling', 'helping', 'dim']
const sizes = ['small', 'large']
const types = ['button', 'submit', 'reset']

export default {
  name: 'GpButton',
  components: { GpIcon },
  props: {
    /* Text. Will be overridden by default slot content */
    caption: { required: false, type: [String, Number], default: null },
    /**
     * Color variant
     *
     * @values  destructive, creative, recorder, canceling, helping, dim
     */
    variant: { required: false, type: String, default: null, validator: v => variants.includes(v) },
    /**
     * Button size
     *
     * @values  small, large
     */
    size: { required: false, type: String, default: null, validator: v => sizes.includes(v) },
    /** Takes full available width */
    block: { required: false, type: Boolean, default: false },
    /** Whether or not the button is rendered without background */
    text: { required: false, type: Boolean, default: false },
    /** Force active state */
    active: { required: false, type: Boolean, default: false },
    /** Makes the button non-responsive to clicks. Useful with "blank" icons */
    noAction: { required: false, type: Boolean, default: false },
    /** Left icon name */
    icon: { required: false, type: String, default: null },
    /** Right icon name */
    endIcon: { required: false, type: String, default: null },
    /** Router-link route. Will render a link styled like a button. */
    to: { required: false, type: [Object, String], default: null },
    /** Link URL. Will render a link styled like a button. */
    href: { required: false, type: String, default: null },
    /**
     * Button type (will be ignored when used with `to` or `href`
     *
     * @values  button, submit, reset
     */
    type: { required: false, type: String, default: 'button', validator: v => types.includes(v) },
    /** Whether or not to hide the text on small screens */
    noTextOnSmall: { required: false, type: Boolean, default: false },
    /** Whether or not to disable the button/link */
    disabled: { required: false, type: Boolean, default: false },
  },
  computed: {
    componentTag () {
      if (this.to) return 'RouterLink'
      if (this.href) return 'a'

      return 'button'
    },
    componentProps () {
      const props = {
        class: [
          'gp-button',
          this.size && `gp-button--${this.size}`,
          this.block && 'gp-button--block',
          this.text && 'gp-button--text',
          this.active && 'gp-button--active',
          this.noAction && 'gp-button--no-action',
          this.noTextOnSmall && 'gp-button--no-text-on-small',
          this.disabled && 'gp-button--disabled',
          variants.includes(this.variant) && this.text && `gp-button--text--${this.variant}`,
          variants.includes(this.variant) && !this.text && `gp-button--${this.variant}`,
        ],
        disabled: this.disabled,
      }

      if (this.to) {
        props.to = this.to
      } else if (this.href) {
        props.href = this.href
      } else {
        props.type = this.type
      }

      return props
    },
  },
}
</script>
