.gp-map-popup {
  display: inline-block;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);

  &::before {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 11px;
    border-top-color: var(--border-color);
    margin-left: -11px;
    content: ' ';
    pointer-events: none;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: var(--spacer-small);
    gap: var(--spacer-default);

    small {
      flex-grow: 1;
    }

    h3 {
      padding: 0;
      margin: 0;
    }
  }

  &__closer {
    flex: none;
  }

  &__actions {
    padding: var(--spacer-small);
    border-top: 1px solid var(--border-color);
    background-color: var(--component-content-background);
    text-align: right;
  }
}
