<template>
  <!--
    Custom event to use in place of `mouseover` on the parent, as using it does nothing
    @event mouse-over
  -->
  <!--
    Custom event to use in place of `mouseleave` on the parent, as using it does nothing
    @event mouse-leave
  -->
  <aside class="gp-map-popup" @mouseover="$emit('mouse-over')" @mouseleave="$emit('mouse-leave')">
    <div class="gp-map-popup__header">
      <h3>{{ caption }}</h3>
      <!-- eslint-disable vue/no-v-html -->
      <small v-if="surface" v-html="surface" />
      <!-- eslint-enable vue/no-v-html -->

      <!--
        Handler should close the popup
        @event close
      -->
      <gp-button class="gp-map-popup__closer"
                 icon="x-bold"
                 size="small"
                 text
                 @click="$emit('close')" />
    </div>
    <div class="gp-map-popup__actions">
      <gp-toolbar :help="help">
        <!-- @slot Default slot for action buttons -->
        <slot />
        <template v-if="$slots.help" #help>
          <slot name="help" />
        </template>
      </gp-toolbar>
    </div>
  </aside>
</template>

<script>
import GpButton from '../Button/Button.vue'
import GpToolbar from '../Toolbar/Toolbar.vue'

/**
 * Use this to display information on a selected Path/Patch/single element of a map
 */
export default {
  name: 'GpMapPopup',
  emits: [
    'mouse-over',
    'mouse-leave',
    'close',
  ],
  components: { GpToolbar, GpButton },
  props: {
    /** Header caption */
    caption: { required: true, type: String },
    /** Optional surface information. HTML allowed, so be careful on what you use */
    surface: { required: false, type: String, default: null },
    /** Help content. Is overridden by `help` slot */
    help: { required: false, type: String, default: null },
  },
}
</script>
