<template>
  <div class="_container">
    <h1>{{ resourceInteractionsGroup.name }}</h1>

    <gp-actions>
      <gp-button @click="$emitBus('edit-resource-interactions-group', resourceInteractionsGroup)">{{ $t('generic.edit') }}</gp-button>
    </gp-actions>

    <gp-markdown-renderer :content="resourceInteractionsGroup.description" />

    <div class="-grid--2 -grid-gap">
      <section>
        <div class="-flex -grid-gap">
          <h2>{{ $t('js.resource_interactions_group.item.interactions') }}</h2>
          <gp-button icon="plus"
                     variant="creative"
                     :title="$t('js.resource_interaction.list.new_resource_interaction')"
                     @click="showNewResourceInteractionForm" />
        </div>
        <gpa-resource-interactions-list :resource-interactions-group="resourceInteractionsGroup" :editable="true" />
      </section>

      <section>
        <h2>{{ $t('js.resource_interactions_group.item.resources') }}</h2>
        <gp-empty v-if="resources.length === 0">
          {{ $t('js.resource_interactions_group.item.no_resource') }}
        </gp-empty>
        <template v-else>
          <ul class="-unstyled">
            <li v-for="resource in resources" :key="resource.id">
              <router-link :to="{name: 'library', params:{resourceId: resource.id}}">{{ resource.name }}</router-link>
            </li>
          </ul>
        </template>
      </section>
    </div>
  </div>
</template>
<script>
import ResourceInteractionsGroup from '../../../../classes/models/ResourceInteractionsGroup'
import GpMarkdownRenderer from '../../../../common/DataDisplay/MarkdownRenderer/MarkdownRenderer.vue'
import GpEmpty from '../../../../common/DataDisplay/Empty/Empty.vue'
import GpActions from '../../../../common/Actions/Actions.vue'
import GpButton from '../../../../common/Button/Button.vue'
import GpaResourceInteractionsList from '../ResourceInteractions/_List.vue'

export default {
  name: 'GpaResourceInteractionsGroupItem',
  components: { GpaResourceInteractionsList, GpButton, GpActions, GpEmpty, GpMarkdownRenderer },
  props: {
    resourceInteractionsGroup: { required: true, type: ResourceInteractionsGroup },
  },
  computed: {
    resources () { return this.resourceInteractionsGroup.resources },
    resourceInteractions () { return this.$store.getters.positiveInteractionsByGroup(this.resourceInteractionsGroup.id) },
  },
  methods: {
    showNewResourceInteractionForm () {
      this.$emitBus('show-resource-interaction-form', { resourceInteraction: null, subjectId: this.$props.resourceInteractionsGroup.id })
    },
  },
}
</script>
