<template>
  <gpa-harvest-form :harvest="editedHarvest" @saved="updateList" @cancel="setEditedHarvest" />

  <div class="_container">
    <h2>{{ $t('js.harvests.element_harvests.already_harvested') }}</h2>

    <gp-loading v-if="loading" />
    <gp-empty v-else-if="harvests.length === 0" :content="$t('js.harvests.element_harvests.no_record_yet')" />
    <div v-else>
      <ul>
        <li v-for="(value, key) in totals" :key="key">
          {{ value }} {{ $t(`js.unit.${key}`, {count: value}) }}
        </li>
      </ul>

      <table>
        <thead>
          <tr>
            <th>{{ $t('generic.date') }}</th>
            <th>{{ $t('activerecord.attributes.harvest.quantity') }}</th>
            <th>{{ $t('activerecord.attributes.harvest.unit') }}</th>
            <th />
          </tr>
        </thead>
        <tbody>
          <tr v-for="(harvest, index) in harvests" :key="harvest.id">
            <td>{{ $d(harvest.harvestedAt, 'date') }} </td>
            <td>{{ harvestsValues[index].value }}</td>
            <td>{{ $t(`js.unit.${harvestsValues[index].unit}`, {count: harvestsValues[index].value}) }}</td>
            <td class="-actions">
              <div class="_gp-button-group">
                <gp-button variant="destructive" icon="trash" :title="$t('generic.destroy')" />
                <gp-button variant="creative" icon="pencil" :title="$t('generic.edit')" @click="setEditedHarvest(harvest)" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import Harvest from '@/vue/classes/models/Harvest'
import GpEmpty from '@/vue/common/DataDisplay/Empty/Empty.vue'
import GpButton from '@/vue/common/Button/Button.vue'
import GpLoading from '@/vue/common/Loading/Loading.vue'
import GpaHarvestForm from './_Form.vue'
import { convertUnit } from '@/helpers/Units'

export default {
  name: 'GpaElementHarvests',
  emits: [
    'cancel',
    'done',
  ],
  components: { GpLoading, GpaHarvestForm, GpButton, GpEmpty },
  props: {
    elementId: { required: true, type: Number },
  },
  data () {
    return {
      loading: false,
      loadingError: null,
      harvests: [],
      editedHarvest: null,
    }
  },
  computed: {
    element () {
      const element = this.$store.getters.element(this.elementId)
      return {
        id: element.id,
      }
    },
    harvestsValues () { return this.harvests.map(h => convertUnit(h.quantity, h.unit)) },
    totals () {
      const totals = {}
      this.harvests.forEach(h => {
        if (!totals[h.unit]) totals[h.unit] = 0
        totals[h.unit] += h.quantity
      })

      const converted = {}
      Object.keys(totals).forEach((unit) => {
        const pair = convertUnit(totals[unit], unit)
        converted[pair.unit] = pair.value
      })

      return converted
    },
  },
  methods: {
    setEditedHarvest (harvest = null) {
      this.editedHarvest = harvest || { elementId: this.elementId }
    },
    updateList (harvest) {
      const index = this.harvests.findIndex(h => h.id === harvest.id)

      if (index > -1) this.harvests[index] = harvest
      else this.harvests.push(harvest)
    },
    loadHarvests () {
      this.loading = true
      this.error = false
      Harvest.getElementIndex(this.elementId)
        .then((data) => {
          this.harvests = data
        })
        .catch((error) => { this.error = error })
        .then(() => { this.loading = false })
    },
  },
  created () {
    this.setEditedHarvest()
    this.loadHarvests()
  },
  watch: {
    elementId (newValue, oldValue) {
      if (newValue !== oldValue) this.loadHarvests()
    },
  },
}
</script>
