<template>
  <gp-form :errors="errors"
           model="layer"
           :loading="loading"
           :submit-button-title="harvest.id ? $t('generic.edit') : $t('generic.save')"
           @cancel="handleCancel"
           @submit.prevent="save">
    <gp-field input-id="quantity" :label="$t('activerecord.attributes.harvest.quantity')">
      <input id="quantity"
             v-model="inputs.quantity"
             type="number"
             min="0"
             step="0.01"
             required>
    </gp-field>

    <gp-field input-id="unit" :label="$t('activerecord.attributes.harvest.unit')">
      <select id="unit" v-model="inputs.unit" required>
        <option v-for="unit in units" :key="unit" :value="unit">{{ $t(`js.unit.${unit}`) }}</option>
      </select>
    </gp-field>

    <date-time-picker v-model="inputs.harvestedAt" input-name="harvested_at" :time="false" :label="$t('activerecord.attributes.harvest.harvested_at')" />
  </gp-form>
</template>

<script>
import GpForm from '@/vue/common/Form/Form.vue'
import GpField from '@/vue/common/Form/Field.vue'
import DateTimePicker from '@/vue/common/Inputs/DateTimePicker/DateTimePicker.vue'
import Toaster from '@/vue/tools/Toaster'
import { converters, Units } from '@/helpers/Units'

export default {
  name: 'GpaHarvestForm',
  emits: [
    'cancel',
    'saved',
  ],
  components: { DateTimePicker, GpField, GpForm },
  props: {
    harvest: { required: false, type: Object, default: null },
  },
  data () {
    return {
      inputs: { ...this.fillInputs() },
      errors: null,
      loading: false,
      units: Units,
    }
  },
  methods: {
    fillInputs () {
      return {
        id: null,
        quantity: null,
        unit: null,
        harvestedAt: new Date(),
        ...this.$props.harvest,
      }
    },
    handleCancel () {
      this.inputs = this.fillInputs()
      this.$emit('cancel')
    },
    save () {
      const payload = {
        id: this.inputs.id,
        quantity: converters[this.inputs.unit].convert(this.inputs.quantity),
        unit: converters[this.inputs.unit].unit,
        element_id: this.inputs.elementId,
        harvested_at: this.inputs.harvestedAt,
      }
      if (!payload.id) { delete payload.id }

      this.loading = true
      this.errors = null
      this.$store.dispatch('saveHarvest', payload)
        .then((harvest) => {
          Toaster.success(this.$t('js.generic.successfully_saved'))
          this.$emit('saved', harvest)
        })
        .catch((errors) => {
          Toaster.error(this.$t('js.generic.failed_to_save'))
          this.errors = errors
        })
        .then(() => { this.loading = false })
    },
  },
  watch: {
    harvest () {
      this.inputs = { ...this.fillInputs() }
    },
  },
}
</script>
