._gpa-harvest-variation {
  font-family: var(--font-family-monospace);

  td._gpa-harvest-variation__value {
    padding-right: 0;
    border-left: 1px solid var(--border-color-alt);
    text-align: right;
  }

  td:not(._gpa-harvest-variation__value) ~ ._gpa-harvest-variation__value {
    border-left: none;
  }

  td._gpa-harvest-variation__unit {
    width: 1%;
    padding-left: var(--spacer-small);
  }

  td._gpa-harvest-variation__delta-value {
    width: 1%;
    padding-right: 0;
    font-size: var(--font-size-small);
    text-align: right;
  }

  td._gpa-harvest-variation__delta-unit {
    width: 1%;
    padding-left: var(--spacer-small);
    border-right: 1px solid var(--border-color-alt);
    font-size: var(--font-size-small);
  }
}
