%ul.-unstyled
  - if controller_name != 'sessions' && devise_controller?
    %li= link_to t('.sign_in'), new_session_path(resource_name)

  - if User.devise_modules.include?(:registerable) && controller_name != 'registrations'
    %li= link_to t('.sign_up'), new_registration_path(resource_name)
  -# haml-lint:disable LineLength
  - if User.devise_modules.include?(:recoverable) && controller_name != 'passwords' && controller_name != 'registrations'
    %li= link_to t('.forgot_your_password'), new_password_path(resource_name)
  -# haml-lint:enable LineLength
-#
  - if User.devise_modules.include?(:confirmable) && controller_name != 'confirmations'
    %li= link_to t('.didn_t_receive_confirmation_instructions'), new_confirmation_path(resource_name)

  - if User.devise_modules.include?(:lockable) && User.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
    %li= link_to t('.didn_t_receive_unlock_instructions'), new_unlock_path(resource_name)

  - if User.devise_modules.include?(:omniauthable)
    - resource_class.omniauth_providers.each do |provider|
      = link_to t('.sign_in_with_provider',
                  provider: OmniAuth::Utils.camelize(provider)),
                  omniauth_authorize_path(resource_name, provider)
