<template>
  <div>
    <gpa-main-menu />

    <router-view v-if="ready" />
    <gp-loading v-else fill>
      <strong>{{ $t('generic.loading_general_data') }}</strong>
      <div v-for="entry in loadingEntries" :key="entry.key">{{ entry.message }}</div>
    </gp-loading>

    <!-- Library forms -->
    <gp-modal v-if="showFamilyFormFor !== false"
              :caption="showFamilyFormFor ? $t('js.families.form.title_edit') : $t('js.families.form.title_new')"
              :has-footer="false"
              @close="showFamilyFormFor = false">
      <gpa-family-form :family="showFamilyFormFor"
                       @saved="showFamilyFormFor = false"
                       @cancel="showFamilyFormFor = false" />
    </gp-modal>

    <gp-modal v-if="showGenusFormFor !== false"
              :caption="showGenusFormFor ? $t('js.genera.form.title_edit') : $t('js.genera.form.title_new')"
              :has-footer="false"
              @close="showGenusFormFor = false">
      <gpa-genera-form :genus="showGenusFormFor"
                       @saved="showGenusFormFor = false"
                       @cancel="showGenusFormFor = false" />
    </gp-modal>

    <gp-modal v-if="showResourceFormFor !== false"
              :caption="showResourceFormFor ? $t('js.resources.form.title_edit') : $t('js.resources.form.title_new')"
              :has-footer="false"
              @close="showResourceFormFor = false">
      <gpa-resource-form :resource="showResourceFormFor"
                         @saved="showResourceFormFor = false"
                         @cancel="showResourceFormFor = false" />
    </gp-modal>

    <gp-modal v-if="showResourceNoteFormFor !== false"
              :caption="showResourceNoteFormFor.id ? $t('js.resource_note.form.title_edit') : $t('js.resource_note.form.title_new')"
              :has-footer="false"
              @close="showResourceNoteFormFor = false">
      <gpa-resource-note-form :resource-note="showResourceNoteFormFor"
                              @saved="showResourceNoteFormFor = false"
                              @cancel="showResourceNoteFormFor = false" />
    </gp-modal>

    <gp-modal v-if="showResourceInteractionFormFor !== false"
              :caption="showResourceInteractionFormFor.id ? $t('js.resource_interaction.form.title_edit') : $t('js.resource_interaction.form.title_new')"
              :has-footer="false"
              @close="showResourceInteractionFormFor = false">
      <gpa-resource-interactions-form :resource-interaction="showResourceInteractionFormFor.resourceInteraction"
                                      :subject-id="showResourceInteractionFormFor.subjectId"
                                      :show-title="false"
                                      @saved="showResourceInteractionFormFor = false"
                                      @cancel="showResourceInteractionFormFor = false" />
    </gp-modal>

    <gp-modal v-if="showResourceInteractionsGroupFormFor !== false"
              :caption="showResourceInteractionsGroupFormFor ? $t('js.resource_interactions_group.form.title_edit') : $t('js.resource_interactions_group.form.title_new')"
              :has-footer="false"
              @close="showResourceInteractionsGroupFormFor = false">
      <gpa-resource-interactions-group-form :resource-interactions-group="showResourceInteractionsGroupFormFor"
                                            @saved="showResourceInteractionsGroupFormFor = false"
                                            @cancel="showResourceInteractionsGroupFormFor = false" />
    </gp-modal>

    <!-- Layer forms -->
    <gp-modal v-if="showLayerFormFor !== false"
              :caption="showLayerFormFor ? $t('js.layers.form.title_edit') : $t('js.layers.form.title_new')"
              :has-footer="false"
              @close="showLayerFormFor = false">
      <gpa-layer-form :layer="showLayerFormFor"
                      @saved="showLayerFormFor = false"
                      @cancel="showLayerFormFor = false" />
    </gp-modal>

    <!-- Map forms -->
    <gp-modal v-if="showMapNotesFormFor"
              :caption="$t('activerecord.attributes.map.notes')"
              :has-footer="false"
              @accept="showMapNotesFormFor = null"
              @close="showMapNotesFormFor = null">
      <gpa-map-note-form :map="showMapNotesFormFor"
                         @cancel="showMapNotesFormFor = null"
                         @done="showMapNotesFormFor = null" />
    </gp-modal>

    <!-- Elements forms -->
    <gp-modal v-if="showElementFormFor"
              :caption="$t('js.element.form.title')"
              :has-footer="false"
              @close="showElementFormFor = null">
      <gpa-element-form :element="showElementFormFor"
                        @cancel="showElementFormFor = null"
                        @saved="showElementFormFor = null" />
    </gp-modal>

    <gp-modal v-if="showImplantationFormFor"
              :caption="$t('js.element.implantation_form.title')"
              :has-footer="false"
              @close="showImplantationFormFor = null">
      <gpa-element-implantation-form :element="showImplantationFormFor"
                                     @saved="showImplantationFormFor = null"
                                     @cancel="showImplantationFormFor = null" />
    </gp-modal>

    <gp-modal v-if="showRemovalFormFor"
              :caption="$t('js.element.removal_form.title')"
              :has-footer="false"
              @close="showRemovalFormFor = null">
      <gpa-element-removal-form :element="showRemovalFormFor"
                                @saved="showRemovalFormFor = null"
                                @cancel="showRemovalFormFor = null" />
    </gp-modal>

    <!-- Patch forms -->
    <gp-modal v-if="showPatchFormFor"
              :caption="$t('js.patches.form.title')"
              :has-footer="false"
              @close="showPatchFormFor = null">
      <gpa-patch-form :patch="showPatchFormFor"
                      @cancel="showPatchFormFor = null"
                      @saved="showPatchFormFor = null" />
    </gp-modal>
    <gp-modal v-if="showResourcePickerFor"
              :caption="$t('js.patches.index.resource_selection')"
              :has-footer="true"
              :cancellable="true"
              :acceptable="false"
              @cancel="showResourcePickerFor = null"
              @close="showResourcePickerFor = null">
      <gpa-resource-selector :patch="showResourcePickerFor"
                             @done="showResourcePickerFor = null" />
    </gp-modal>
    <gp-modal v-if="showPatchPickerFor"
              :caption="$t('js.patches.index.patch_selection')"
              :has-footer="true"
              :cancellable="true"
              :acceptable="false"
              @cancel="showPatchPickerFor = null"
              @close="showPatchPickerFor = null">
      <gpa-patch-selector @choose="selectPatchFromPicker" />
    </gp-modal>

    <!-- Path forms -->
    <gp-modal v-if="showPathFormFor"
              :caption="$t('js.paths.form.title')"
              :has-footer="false"
              @close="showPathFormFor = null">
      <gpa-path-form :path="showPathFormFor"
                     @cancel="showPathFormFor = null"
                     @saved="showPathFormFor = null" />
    </gp-modal>

    <!-- Observations forms -->
    <gp-modal v-if="showObservationFormFor"
              :caption="$t('js.observations.form.title')"
              :has-footer="false"
              @close="showObservationFormFor = null">
      <gpa-observation-form :subject="showObservationFormFor"
                            @done="showObservationFormFor = null"
                            @cancel="showObservationFormFor = null" />
    </gp-modal>

    <!-- Harvest forms -->
    <gp-modal v-if="showHarvestFormFor"
              :caption="$t('js.harvests.form.title')"
              :has-footer="false"
              @accept="showHarvestFormFor = null"
              @close="showHarvestFormFor = null">
      <gpa-element-harvests :element-id="showHarvestFormFor"
                            @cancel="showHarvestFormFor = null"
                            @done="showHarvestFormFor = null" />
    </gp-modal>

    <!-- Tasks forms -->
    <gp-modal v-if="showTaskFormFor"
              :caption="$t('js.tasks.form.title')"
              :has-footer="false"
              @close="showTaskFormFor = null">
      <gpa-task-form :subject="showTaskFormFor"
                     @done="showTaskFormFor = null"
                     @cancel="showTaskFormFor = null" />
    </gp-modal>

    <!-- Data Modals -->
    <gp-modal v-if="showObservationsFor"
              :caption="$t('js.observations.list.title')"
              :cancellable="false"
              :large="true"
              @accept="showObservationsFor = null"
              @close="showObservationsFor = null">
      <gpa-observations :subject="showObservationsFor" />
    </gp-modal>

    <gp-modal v-if="showResourceDescriptionFor"
              :resource="showResourceDescriptionFor"
              :caption="showResourceDescriptionFor.name"
              :cancellable="false"
              large
              @close="showResourceDescriptionFor = null"
              @accept="showResourceDescriptionFor = null">
      <gpa-resource :resource="showResourceDescriptionFor" :show-title="false" />
    </gp-modal>

    <!-- Other widgets -->
    <gp-image-viewer v-if="imageToDisplay" :list="imagesList" :preselected="imageToDisplay" @close="imageToDisplay = null" />

    <gp-confirm-dialog v-if="confirmDialogOptions"
                       :title="confirmDialogOptions.title"
                       :message="confirmDialogOptions.message"
                       @accept="acceptConfirmDialog"
                       @reject="confirmDialogOptions = null" />

    <gp-modal v-if="showNotificationsModal" :caption="$t('js.notifications.list.title')" :has-footer="false" @close="showNotificationsModal = false">
      <gpa-notifications />
    </gp-modal>
  </div>
</template>

<script>
// Common components
import GpConfirmDialog from '../../common/Modal/ConfirmDialog.vue'
import GpImageViewer from '../../common/DataDisplay/ImageViewer/ImageViewer.vue'
import GpLoading from '../../common/Loading/Loading.vue'
import GpModal from '../../common/Modal/Modal.vue'
// App components
import GpaElementForm from './components/Elements/_Form.vue'
import GpaElementImplantationForm from './components/Elements/_ImplantationForm.vue'
import GpaElementRemovalForm from './components/Elements/_RemovalForm.vue'
import GpaFamilyForm from './components/Family/_Form.vue'
import GpaGeneraForm from './components/Genera/_Form.vue'
import GpaLayerForm from './components/Layers/_Form.vue'
import GpaMainMenu from './components/Layouts/_MainMenu.vue'
import GpaMapNoteForm from './components/Maps/_NotesForm.vue'
import GpaNotifications from './components/Notifications/_List.vue'
import GpaObservationForm from './components/Observations/_Form.vue'
import GpaObservations from './components/Observations/_Observations.vue'
import GpaPatchForm from './components/Patches/_Form.vue'
import GpaPathForm from './components/Paths/_Form.vue'
import GpaResourceForm from './components/Resources/_Form.vue'
import GpaResource from './components/Resources/_Resource.vue'
import GpaResourceNoteForm from './components/ResourceNotes/_Form.vue'
import GpaResourceSelector from './components/Resources/Selector/Selector.vue'
import GpaTaskForm from './components/Tasks/_Form.vue'
import GpaResourceInteractionsGroupForm from './components/ResourceInteractionsGroup/_Form.vue'
import GpaResourceInteractionsForm from './components/ResourceInteractions/_Form.vue'
import GpaPatchSelector from './components/Patches/Selector.vue'
import GpaElementHarvests from './components/Harvests/_ElementHarvests.vue'

/**
 * @typedef {import('../../classes/models/Element')}      Element
 * @typedef {import('../../classes/models/Family')}       Family
 * @typedef {import('../../classes/models/Genus')}        Genus
 * @typedef {import('../../classes/models/Harvest')}      Harvest
 * @typedef {import('../../classes/models/Layer')}        Layer
 * @typedef {import('../../classes/models/Map')}          Map
 * @typedef {import('../../classes/models/Patch')}        Patch
 * @typedef {import('../../classes/models/Path')}         Path
 * @typedef {import('../../classes/models/Resource')}     Resource
 * @typedef {import('../../classes/models/ResourceInteractionsGroup')} ResourceInteractionsGroup
 * @typedef {import('../../classes/models/ResourceInteraction')}      ResourceInteraction
 * @typedef {import('../../classes/models/ResourceNote')} ResourceNote
 */

export default {
  name: 'GardenApplication',
  components: {
    GpaElementHarvests,
    GpaResourceInteractionsGroupForm,
    GpaPatchSelector,
    GpaResourceInteractionsForm,
    GpaElementForm,
    GpaElementImplantationForm,
    GpaElementRemovalForm,
    GpaFamilyForm,
    GpaGeneraForm,
    GpaLayerForm,
    GpaMainMenu,
    GpaMapNoteForm,
    GpaNotifications,
    GpaObservationForm,
    GpaObservations,
    GpaPatchForm,
    GpaPathForm,
    GpaResource,
    GpaResourceForm,
    GpaResourceNoteForm,
    GpaResourceSelector,
    GpaTaskForm,
    GpConfirmDialog,
    GpImageViewer,
    GpLoading,
    GpModal,
  },
  data () {
    return {
      ready: false,
      confirmDialogOptions: null,
      // Family form
      showFamilyFormFor: false,
      // Genus form
      showGenusFormFor: false,
      // Resource form
      showResourceFormFor: false,
      showResourceNoteFormFor: false,
      /** @type {{resourceInteraction: ResourceInteraction | null, resourceId: number | null} | false} Resource interaction form */
      showResourceInteractionFormFor: false,
      // Resource interaction group form
      showResourceInteractionsGroupFormFor: false,
      // Layer form
      showLayerFormFor: false,
      // Observation form
      showObservationFormFor: null,
      // Harvest form
      showHarvestFormFor: null,
      // Task form
      showTaskFormFor: null,
      // Element forms
      showElementFormFor: null,
      showImplantationFormFor: null,
      showRemovalFormFor: null,
      // Patch
      showPatchFormFor: null,
      /**
       * @callback            showPatchPickerCallback
       * @param {Patch} patch - Picked patch
       */
      /** @type {showPatchPickerCallback|null} - Callback for the patch picker */
      showPatchPickerFor: null,
      /** @type {Patch|null} */
      showResourcePickerFor: null,
      // Path form
      showPathFormFor: null,
      // Map forms
      showMapNotesFormFor: null,

      // Image viewer
      imagesList: [],
      imageToDisplay: null,
      // Other modals
      showObservationsFor: null,
      showResourceDescriptionFor: null,
      showNotificationsModal: false,
    }
  },
  computed: {
    loadingEntries () { return this.$store.getters.loader('initial') },
  },
  methods: {
    acceptConfirmDialog () {
      this.confirmDialogOptions.callback()
      this.confirmDialogOptions = null
    },
    selectPatchFromPicker (patch) {
      this.showPatchPickerFor(patch)
      this.showPatchPickerFor = null
    },
  },
  created () {
    this.$onBus('ask-confirmation',
      /** @param { {title: string, message: string, callback: Function} } dialogOptions - Options to create the modal */
      (dialogOptions) => { this.confirmDialogOptions = dialogOptions })

    // Family events
    this.$onBus('edit-family',
      /** @param {Family|null} [family] - Family to edit. Leave blank to create a new one */
      (family = null) => { this.showFamilyFormFor = family })

    // Genus events
    this.$onBus('edit-genus',
      /** @param {Genus|null} [genus] - Genus to edit. Leave blank to create a new one */
      (genus = null) => { this.showGenusFormFor = genus })

    // Resource events
    this.$onBus('edit-resource',
      /** @param {Resource|null} [resource] - Resource to edit. Leave blank to create a new one */
      (resource = null) => { this.showResourceFormFor = resource })
    this.$onBus('edit-resource-interactions-group',
      /** @param {ResourceInteractionsGroup|null} resourceInteractionsGroup - Resource interaction group to edit/create */
      (resourceInteractionsGroup = null) => { this.showResourceInteractionsGroupFormFor = resourceInteractionsGroup })
    this.$onBus('show-resource-description',
      /** @param {Resource} resource - Resource to display */
      (resource) => { this.showResourceDescriptionFor = resource })
    this.$onBus('show-resource-note-form',
      /** @param {ResourceNote|object} resourceNote - Resource descripiton to edit/create */
      (resourceNote) => { this.showResourceNoteFormFor = resourceNote })
    this.$onBus('show-resource-interaction-form',
      /** @param {{resourceInteraction: ResourceInteraction | null, resourceId: number | null}} resourceInteraction - Resource interaction to edit/create */
      (resourceInteraction) => { this.showResourceInteractionFormFor = resourceInteraction })

    // Map events
    this.$onBus('show-map-notes-form',
      /** @param {Map} map - Map to edit */
      (map) => { this.showMapNotesFormFor = map })

    // Layer events
    this.$onBus('show-layer-form',
      /** @param {Layer|null} [layer] - Layer to edit. Leave blank to create a new one */
      (layer = null) => { this.showLayerFormFor = layer })

    // Element events
    this.$onBus('show-element-form',
      /** @param {Element} element - Element to modify */
      (element) => { this.showElementFormFor = element })
    this.$onBus('show-implantation-form',
      /** @param {Element} element - Element to modify */
      (element) => { this.showImplantationFormFor = element })
    this.$onBus('show-removal-form',
      /** @param {Element} element - Element to modify */
      (element) => { this.showRemovalFormFor = element })

    // Patch events
    this.$onBus('show-patch-form',
      /** @param {Patch} patch - Patch to modify */
      (patch) => { this.showPatchFormFor = patch })
    this.$onBus('show-patch-resource-picker',
      /** @param {Patch} patch - Target patch */
      (patch) => { this.showResourcePickerFor = patch })
    this.$onBus('show-resource-patch-picker',
      /** @param {showPatchPickerCallback} callback - Callback to execute when resource is picked */
      (callback) => { this.showPatchPickerFor = callback })
    // Path events
    this.$onBus('show-path-form',
      /** @param {Path} path - Path to modify */
      (path) => { this.showPathFormFor = path })

    // Observation events
    this.$onBus('show-observation-form',
      /** @param {Element|Map|Patch|Path} subject - Subject entity */
      (subject) => { this.showObservationFormFor = subject })
    this.$onBus('show-observations',
      /** @param {Element|Map|Path|Patch|null} subject - Subject for which to show observations */
      (subject = null) => { this.showObservationsFor = subject })

    // Harvest events
    this.$onBus('show-harvest-form',
      /** @param {Harvest | null} subject - Subject entity */
      (subject) => { this.showHarvestFormFor = subject })

    // Tasks events
    this.$onBus('show-task-form',
      /** @param {Element|Map|Patch|Path} subject - Subject entity */
      (subject) => { this.showTaskFormFor = subject })

    // Picture-lists events
    this.$onBus('show-image',
      /** @param {{selected: string, list: string[]}} images - Widget configuration */
      (images) => {
        this.imagesList = images.list
        this.imageToDisplay = images.selected
      })

    // Notifications
    this.$onBus('show-notifications',
      () => { this.showNotificationsModal = true })

    this.$store.dispatch('loadGroup', {
      name: 'initial',
      loaders: [
        {
          promise: this.$store.dispatch('loadAccount'),
          message: this.$t('js.loaders.loading_account'),
        },
        {
          promise: this.$store.dispatch('loadMaps'),
          message: this.$t('js.loaders.loading_maps'),
        },
        {
          promise: this.$store.dispatch('loadFamilies'),
          message: this.$t('js.loaders.loading_families'),
        },
        {
          promise: this.$store.dispatch('loadGenera'),
          message: this.$t('js.loaders.loading_genera'),
        },
        {
          promise: this.$store.dispatch('loadResources'),
          message: this.$t('js.loaders.loading_resources'),
        },
        {
          promise: this.$store.dispatch('loadResourceInteractionsGroups'),
          message: this.$t('js.loaders.loading_resource_interactions_groups'),
        },
        {
          promise: this.$store.dispatch('loadResourceInteractions'),
          message: this.$t('js.loaders.loading_resource_interactions'),
        },
        {
          promise: this.$store.dispatch('loadNotifications'),
          message: this.$t('js.loaders.loading_notifications'),
        },
      ],
    })
      .then(() => {
        const preferences = this.$store.getters.account.preferences
        // Redirect before declaring the map as ready
        if (preferences.map && this.$route.name === 'maps') {
          this.$router.push({ name: 'map', params: { mapId: preferences.map } })
            .then(() => { this.ready = true })
        } else {
          this.ready = true
        }
      })
  },
}
</script>
