@use '../../../../stylesheets/core/placeholders/escape_container';

.gp-breadcrumbs,
.gp-breadcrumb-chunk {
  display: flex;
  align-items: stretch;
  gap: var(--spacer-small);
}

.gp-breadcrumbs {
  padding: var(--spacer-small) var(--spacer-default);
  border-bottom: 1px solid var(--border-color);
  background-color: var(--component-content-background-alt);

  // Escape from containers
  ._container > & {
    @extend %escape_container;
  }
}
