<template>
  <div class="gp-breadcrumbs">
    <div v-for="(chunk, index) in chunks" :key="index" class="gp-breadcrumb-chunk">
      <router-link v-if="chunk.to" :to="chunk.to">{{ chunk.name }}</router-link>
      <div v-else>{{ chunk.name }}</div>
      <div v-if="index !== lastEntryIndex"><gp-icon name="caret-right" /></div>
    </div>
  </div>
</template>

<script>
import GpIcon from '../../Icon/Icon.vue'

export default {
  name: 'GpBreadcrumbs',
  components: { GpIcon },

  props: {
    /**
     * An array of objects like
     *
     * ```js
     * chunks = [
     * { name: 'Home'},
     * { name: 'Category 1', to: { name: 'categories', params: { id: 1 } } },
     * ]
     * ```
     */
    chunks: { required: true, type: Array },
  },
  computed: {
    lastEntryIndex () { return Object.keys(this.$props.chunks).length - 1 },
  },
}
</script>
