<template>
  <div>
    <gp-toolbar>
      <template #help>
        <gp-help-button-content :caption="$t('js.garden.patches.actions.help.caption')" :content="$t('js.garden.patches.actions.help.content')" :lines="helpLines" />
      </template>

      <template v-if="patch.geometryType !== 'Point'">
        <gp-button icon="observations" :title="$t('js.layouts.garden.info.add_patch_observation')" @click="$emitBus('show-observation-form', patch)" />
        <gp-button icon="calendar-plus" :title="$t('js.layouts.garden.info.add_patch_task')" @click="$emitBus('show-task-form', patch)" />
        <gp-button icon="notebook" :title="$t('js.elements.action_buttons.show_observations')" @click="$emitBus('show-observations', patch)" />
      </template>

      <template v-if="showGeometryActions">
        <gp-toolbar-separator />

        <gp-button v-if="patch.geometryType !== 'Point'"
                   :icon="shapeIcons[patch.geometryType].edit"
                   :title="$t('js.generic.transform')"
                   @click="$emitBus('transform-patch', patch)" />
        <gp-button v-if="['Polygon', 'LineString'].indexOf(patch.geometryType) > -1"
                   icon="arrow-clockwise"
                   :title="$t('js.generic.rotate')"
                   :disabled="patch.geometryType !== 'Polygon'"
                   @click="$emitBus('rotate-patch', patch)" />
        <gp-button icon="arrows-out-cardinal" :title="$t('js.generic.move')" @click="$emitBus('move-patch', patch)" />
      </template>

      <gp-toolbar-separator />

      <gp-button icon="pencil" :title="$t('generic.edit')" @click="$emitBus('show-patch-form', patch)" />

      <gp-toolbar-separator />

      <gp-button variant="destructive"
                 icon="trash"
                 :title="$t('generic.destroy')"
                 @click="destroy" />
    </gp-toolbar>

    <gp-button v-if="patch.geometryType !== 'Point'"
               block
               text
               variant="creative"
               icon="plus-circle"
               @click="addElement">
      {{ $t('js.layouts.garden.info.add_resource') }}
    </gp-button>
  </div>
</template>

<script>
import shapeIcons from '../../../../shapeIcons'
import Toaster from '../../../../tools/Toaster'
import Patch from '../../../../classes/models/Patch'
import GpButton from '../../../../common/Button/Button.vue'
import GpToolbar from '../../../../common/Toolbar/Toolbar.vue'
import GpToolbarSeparator from '../../../../common/Toolbar/ToolbarSeparator.vue'
import GpHelpButtonContent from '../../../../common/HelpButton/HelpButtonContent.vue'

export default {
  name: 'GpaPatchActions',
  components: { GpHelpButtonContent, GpToolbarSeparator, GpToolbar, GpButton },
  props: {
    patch: { required: true, type: Patch },
    showGeometryActions: { required: false, type: Boolean, default: false },
  },
  data () {
    const helpLines = [
      { icon: 'observations', text: this.$t('js.garden.patches.actions.help.new_observation') },
      { icon: 'calendar-plus', text: this.$t('js.garden.patches.actions.help.new_task') },
      { icon: 'notebook', text: this.$t('js.garden.patches.actions.help.show_observations') },
      { icon: shapeIcons[this.$props.patch.geometryType].edit, text: this.$t('js.garden.patches.actions.help.edit_geometry') },
      { icon: 'arrow-clockwise', text: this.$t('js.garden.patches.actions.help.rotate') },
      { icon: 'arrows-out-cardinal', text: this.$t('js.garden.patches.actions.help.move') },
      { icon: 'pencil', text: this.$t('js.garden.patches.actions.help.edit') },
      { icon: 'trash', text: this.$t('js.garden.patches.actions.help.destroy') },
    ]
    if (this.$props.patch.geometryType !== 'Point') helpLines.push({ icon: 'plus-circle', text: this.$t('js.garden.patches.actions.help.add_resource') })

    return {
      shapeIcons,
      helpLines,
    }
  },
  methods: {
    destroy () {
      this.$emitBus('ask-confirmation', {
        message: this.$t('js.generic.messages.destroy_warning_history'),
        callback: () => {
          this.$store.dispatch('destroyPatch', this.$props.patch.id)
            .then(() => { Toaster.success(this.$t('js.patch.successfully_destroyed')) })
            .catch(() => { Toaster.error(this.$t('js.patch.failed_to_destroy')) })
        },
      })
    },
    addElement () {
      this.$emitBus('show-patch-resource-picker', this.$props.patch)
    },
  },
}
</script>
