<template>
  <gp-drawer v-if="patch"
             :overlay="false"
             @close="$emit('close')">
    <template #caption>
      <!-- eslint-disable vue/no-v-html -->
      {{ patch.displayName }} <small v-if="measure" v-html="measure" />
      <!-- eslint-enable vue/no-v-html -->
    </template>

    <template #actions>
      <patch-actions :patch="patch"
                     :show-geometry-actions="true"
                     @add-element="bubbleAddElement" />
    </template>

    <aside class="_container">
      <gp-empty v-if="elements && elements.length === 0" icon-size="3" small>{{ $t('js.patch.no_element_in_this_patch') }}</gp-empty>
      <gpa-elements-list :elements="elements" />
    </aside>
  </gp-drawer>
</template>

<script>
import Patch from '../../../../classes/models/Patch'
import { formatGeometryMeasure } from '../../../../tools/MeasureFormatters'
import shapeIcons from '../../../../shapeIcons'
import GpDrawer from '../../../../common/Drawer/Drawer.vue'
import GpEmpty from '../../../../common/DataDisplay/Empty/Empty.vue'
import PatchActions from './_Actions.vue'
import GpaElementsList from '../Elements/_List.vue'

export default {
  name: 'GpaPatchDrawer',
  emits: [
    'close',
    'add-patch-resource',
  ],
  components: { GpaElementsList, PatchActions, GpEmpty, GpDrawer },
  props: {
    patch: { required: false, type: Patch, default: null },
  },
  data () {
    return {
      shapeIcons,
    }
  },
  computed: {
    elements () {
      return this.$store.getters.elementsByPatchId(this.patch.id)
        .filter(c => !c.isRemoved)
    },
    measure () { return formatGeometryMeasure(this.patch) },
    geometryType () { return this.patch.geometryType },
  },
  methods: {
    bubbleAddElement (patch) { this.$emit('add-patch-resource', patch.id) },
  },
}
</script>
