<template>
  <gp-form :errors="errors"
           model="patch"
           :loading="loading"
           @cancel="$emit('cancel')"
           @submit.prevent="save">
    <gp-field input-id="patchFormName" :label="$t('activerecord.attributes.patch.name')">
      <input id="patchFormName" v-model="inputs.name" type="text">
    </gp-field>

    <gp-field input-id="patchFormLayer" :label="$t('activerecord.attributes.patch.layer')">
      <select id="patchFormLayer" v-model="inputs.layer_id">
        <option v-for="layer in layers" :key="layer.id" :value="layer.id">{{ layer.name }}</option>
      </select>
    </gp-field>
  </gp-form>
</template>

<script>
import Patch from '../../../../classes/models/Patch'
import GpForm from '../../../../common/Form/Form.vue'
import GpField from '../../../../common/Form/Field.vue'

export default {
  name: 'GpaPatchForm',
  emits: [
    'cancel',
    'saved',
  ],
  components: { GpField, GpForm },
  props: {
    // Mandatory; this form is not for patch creation, only edition.
    patch: { required: true, type: Patch },
  },
  data () {
    return {
      loading: false,
      inputs: { ...this.resetInputs() },
      errors: null,
    }
  },
  computed: {
    layers () { return this.$store.getters.layers },
  },
  methods: {
    resetInputs () {
      return {
        id: this.patch.id,
        name: this.patch.name || '',
        layer_id: this.patch.layerId || null,
      }
    },
    save () {
      this.errors = null
      const payload = this.inputs
      this.loading = true
      this.$store.dispatch('updatePatch', payload)
        .then(() => { this.$emit('saved') })
        .catch((error) => { this.errors = error })
        .then(() => { this.loading = false })
    },
  },
}
</script>
