<template>
  <gp-item :caption="patch.displayName" :icon="shapeIcons[patch.geometryType].base" collapsible>
    <template #aside>
      <gpa-patch-actions :patch="patch" />
    </template>

    <gp-empty v-if="elements.length === 0" icon-size="3" small>{{ $t('js.patch.no_element_in_this_patch') }}</gp-empty>

    <gpa-elements-list :elements="elements" context="inventory" />
  </gp-item>
</template>

<script>
import Patch from '../../../../classes/models/Patch'
import shapeIcons from '../../../../shapeIcons'
import GpEmpty from '../../../../common/DataDisplay/Empty/Empty.vue'
import GpaPatchActions from './_Actions.vue'
import GpItem from '../../../../common/Item/Item.vue'
import GpaElementsList from '../Elements/_List.vue'

export default {
  name: 'GpaPatchItem',
  components: { GpaElementsList, GpItem, GpaPatchActions, GpEmpty },
  props: {
    patch: { required: true, type: Patch },
  },
  data () {
    return {
      shapeIcons,
    }
  },
  computed: {
    elements () {
      return this.$store.getters.elementsByPatchId(this.$props.patch.id)
        // Don't care about the second patch
        .sort(a => a.isRemoved ? 1 : -1)
    },
  },
}
</script>
