<template>
  <aside>
    <gp-list-item v-for="patch in patches" :key="patch.id" :caption="patch.displayName" @choose="$emit('choose', patch)" />
  </aside>
</template>

<script>
import GpListItem from '../../../../common/ListItem/ListItem.vue'

export default {
  name: 'GpaPatchSelector',
  emits: [
    'choose',
  ],
  components: { GpListItem },
  computed: {
    patches () { return this.$store.getters.patches },
  },
}
</script>
