<template>
  <div>
    <!-- Input for the real value -->
    <input type="hidden" :name="inputName" :value="value.join(',')">

    <gp-tag-selector v-if="ready" v-model="value" :tags="options" />
  </div>
</template>

<script>
import GpTagSelector from '../common/Inputs/TagSelector/TagSelector.vue'

/**
 * Small app that displays a widget
 */
export default {
  name: 'TagSelectorWidget',
  components: { GpTagSelector },
  data () {
    return {
      ready: false,
      value: [],
      options: [],
      inputName: null,
    }
  },
  methods: {
    setupData (inputName, value, options) {
      this.inputName = inputName
      this.value = value
      this.options = options
      this.ready = true
    },
  },
}
</script>
