<template>
  <div class="gp-actions" :class="componentCSS"><slot /></div>
</template>

<script>
export default {
  name: 'GpActions',
  props: {
    /** Whether or not to stick the component to the bottom */
    bottom: { required: false, type: Boolean, default: false },
  },
  computed: {
    componentCSS () {
      return [
        !this.bottom && 'gp-actions--top',
        this.bottom && 'gp-actions--bottom',
      ]
    },
  },
}
</script>
