- @page_title = t('.resend_unlock_instructions')

._devise-form
  = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
    = render 'devise/shared/error_messages', resource: resource
    .gp-field
      = f.label :email, required: true
      = f.email_field :email, autofocus: true, autocomplete: 'email'

    .gp-actions.gp-actions--bottom
      = f.submit t('.resend_unlock_instructions'), class: 'gp-button gp-button--creative'
  %div
    = render 'devise/shared/links'
