<template>
  <div class="gp-menu" :class="componentCSS">
    <slot />
  </div>
</template>

<script>
/**
 * A simple menu handling `menu-item`s.
 *
 * When using the horizontal variant, texts will be hidden, so be sure to use icons
 * for entries.
 */
export default {
  name: 'GpMenu',
  props: {
    /**
     * Horizontal variant. Has no border.
     */
    horizontal: { required: false, type: Boolean, default: false },
    /**
     * Borderless variant with smaller separators. Don't work with `horizontal`
     */
    alternate: { required: false, type: Boolean, default: false },
  },
  computed: {
    componentCSS () {
      return [
        this.horizontal && 'gp-menu--horizontal',
        this.alternate && 'gp-menu--alternate',
      ]
    },
  },
}

</script>
