<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="118.674" height="59.287">
    <g :stroke="`rgba(${inputs.strokeColor})`"
       :stroke-width="`${inputs.strokeWidth}px`"
       :style="inputs.strokeStylePreset ? strokeStylePresets[inputs.strokeStylePreset].style(inputs.strokeWidth) : ''">
      <path d="M5.428 5.428l38.174 7.5L53.86 53.86H5.43z" :fill="`rgba(${inputs.backgroundColor})`" />
      <path d="M66.38 38.5L77.763 7.17l9.606 45.28 12.249-22.476 13.955-3.387" fill="none" />
    </g>
  </svg>
</template>

<script>
import strokeStylePresets from '../../../../strokeStylePresets'

export default {
  name: 'GpaPathPreview',
  props: {
    inputs: { required: true, type: Object },
  },
  data () {
    return {
      strokeStylePresets,
    }
  },
}
</script>
