<template>
  <aside class="gpa-path-selector-panel">
    <gpa-path-inputs :name="inputs.name"
                     :stroke-width="inputs.strokeWidth"
                     :stroke-color="inputs.strokeColor"
                     :background-color="inputs.backgroundColor"
                     :stroke-style-preset="inputs.strokeStylePreset"
                     @change="updateInput" />

    <gp-actions bottom>
      <gp-button variant="recording" @click="emitStyleChange">{{ $t('generic.ok') }}</gp-button>
    </gp-actions>
  </aside>
</template>

<script>
import randomString from '../../../../../helpers/RandomString'
import GpButton from '../../../../common/Button/Button.vue'
import GpActions from '../../../../common/Actions/Actions.vue'
import GpaPathInputs from './_Inputs.vue'

export default {
  name: 'GpaPathSelector',
  emits: [
    'style-change',
    'update:modelValue',
  ],
  components: { GpActions, GpButton, GpaPathInputs },
  props: {
    pathStyle: { required: true, type: Object },
    modelValue: { required: false, type: String, default: null },
  },
  data () {
    return {
      showDescriptionOf: null,
      searchTerm: '',
      formId: randomString(),
      inputs: {
        name: this.$props.modelValue,
        strokeColor: '0,0,0,1',
        backgroundColor: '0,0,0,0.2',
        strokeWidth: 1,
        strokeStylePreset: 'default',
      },
    }
  },
  methods: {
    emitStyleChange () {
      this.$emit('style-change', {
        strokeColor: this.inputs.strokeColor,
        backgroundColor: this.inputs.backgroundColor,
        strokeWidth: this.inputs.strokeWidth,
        strokeStylePreset: this.inputs.strokeStylePreset,
      })
    },
    updateInput ({ key, value }) { this.inputs[key] = value },
  },
  watch: {
    'inputs.strokeColor' () { this.emitStyleChange() },
    'inputs.strokeWidth' () { this.emitStyleChange() },
    'inputs.backgroundColor' () { this.emitStyleChange() },
    'inputs.strokeStylePreset' () { this.emitStyleChange() },
    'inputs.name' () { this.$emit('update:modelValue', this.inputs.name) },
    pathStyle () {
      this.inputs.strokeColor = this.pathStyle.strokeColor
      this.inputs.strokeWidth = this.pathStyle.strokeWidth
      this.inputs.backgroundColor = this.pathStyle.backgroundColor
      this.inputs.strokeStylePreset = this.pathStyle.strokeStylePreset
    },
    modelValue (newValue, oldValue) { if (newValue !== oldValue) this.inputs.name = newValue },
  },
}
</script>

<style lang="scss" src="./Selector.scss" />
