<template>
  <div class="gp-thumbnails">
    <!--
      Tells parent to display the picture
      @event open
    -->
    <a v-for="urls in list"
       :key="urls.source"
       :href="urls.source"
       class="_thumbnail"
       @click.prevent="$emit('open', urls.source)">
      <img :src="urls.thumbnail" :alt="$t('js.elements.observations.a_thumbnail')">
    </a>
  </div>
</template>

<script>
export default {
  name: 'GpThumbnails',
  emits: [
    'open',
  ],
  props: {
    /**
     * List of pictures
     *
     * Should be an an array of objects like
     * ```json
     * {source: 'url-to-full-image', thumbnail: 'url-to-thumbnail'}
     * ```
     */
    list: { required: true, type: Array },
  },
}
</script>
