<template>
  <gp-drawer v-if="element"
             :caption="element.displayName"
             :overlay="false"
             @close="$emit('close')">
    <template #actions>
      <gp-button icon="notebook"
                 block
                 :caption="$t('js.elements.action_buttons.show_observations')"
                 @click="showObservations()" />
    </template>

    <element-content :element="element" />
  </gp-drawer>
</template>

<script>
import Element from '../../../classes/models/Element'
import GpDrawer from '../../../common/Drawer/Drawer.vue'
import ElementContent from './ElementContent.vue'
import GpButton from '../../../common/Button/Button.vue'

export default {
  name: 'ElementDrawer',
  emits: [
    'close',
  ],
  components: { GpButton, ElementContent, GpDrawer },
  props: {
    element: { required: false, type: Element, default: null },
  },
  methods: {
    showObservations () {
      this.$emitBus('show-observations', this.$props.element)
    },
  },
}
</script>
