<template>
  <div>
    <h2 class="-sr-only">{{ $t('js.layers.title') }}</h2>

    <gp-empty v-if="layers.length === 0" inline>{{ $t('js.garden.layers.no_layers') }}</gp-empty>

    <gp-list-item v-for="layer in layers"
                  :key="layer.id"
                  :data-layer-id="layer.id"
                  :caption="layer.name"
                  static
                  @choose="notifyActiveLayer(layer)">
      <template #left>
        <gp-button v-if="visibleLayers && visibleLayers.indexOf(layer.id) === -1" icon="eye-slash" @click="notifyVisibilityChange(layer.id)" />
        <gp-button v-else icon="eye" @click="notifyVisibilityChange(layer.id)" />
      </template>
    </gp-list-item>

    <gp-list-item :caption="$t('js.layers.background_layer')" static>
      <template #left>
        <gp-button :icon="map.hideBackground ? 'eye-slash' : 'eye'" @click="toggleBackgroundVisibility" />
      </template>
    </gp-list-item>
  </div>
</template>

<script>
import GpButton from '../../../common/Button/Button.vue'
import GpEmpty from '../../../common/DataDisplay/Empty/Empty.vue'
import GpListItem from '../../../common/ListItem/ListItem.vue'

export default {
  name: 'GardenLayers',
  emits: [
    'toggle',
    'activate',
  ],
  components: { GpListItem, GpEmpty, GpButton },
  props: {
    visibleLayers: { required: false, type: Array, default: null },
  },
  computed: {
    layers () { return this.$store.getters.layers },
    map () { return this.$store.getters.map(this.$mapId) },
  },
  methods: {
    notifyVisibilityChange (id) { this.$emit('toggle', id) },
    notifyActiveLayer (layer) { this.$emit('activate', layer) },
    toggleBackgroundVisibility () {
      this.map.hideBackground = !this.map.hideBackground
      this.$emitBus('change-background-layer-visibility')
    },
  },
  created () {
    this.notifyActiveLayer(this.layers[0])
    // Deactivate layers when specified
    this.$nextTick(() => {
      this.layers.forEach((l) => { if (!l.visibleByDefault) this.notifyVisibilityChange(l.id) })
    })
  },
}
</script>
