<template>
  <div>
    <h2 class="-sr-only">{{ $t('js.shared_garden.legend.title') }}</h2>

    <gp-list-item :image="multiPatternSrc" :caption="$t('js.shared_garden.legend.multiple')" static />
    <gp-list-item :image="emptyPatternSrc" :caption="$t('js.shared_garden.legend.empty')" static />
    <gp-list-item v-for="resource in resources"
                  :key="resource.id"
                  :image="resource.picturePath"
                  :caption="resource.name"
                  :sub-caption="resource.latinName"
                  static />
  </div>
</template>

<script>
import multiPatternSrc from '../../../assets/images/multi_pattern.svg'
import emptyPatternSrc from '../../../assets/images/empty_pattern.svg'
import GpListItem from '../../../common/ListItem/ListItem.vue'

export default {
  name: 'GardenLegend',
  components: { GpListItem },
  data () {
    return {
      multiPatternSrc,
      emptyPatternSrc,
    }
  },
  computed: {
    resources () {
      return this.$store.getters.resources
    },
  },
}
</script>
