<template>
  <gp-drawer v-if="patch"
             :overlay="false"
             @close="$emit('close')">
    <template #caption>
      <!-- eslint-disable vue/no-v-html -->
      {{ patch.displayName }} <small v-if="measure" v-html="measure" />
      <!-- eslint-enable vue/no-v-html -->
    </template>
    <template #actions>
      <gp-button icon="notebook"
                 block
                 :caption="$t('js.generic.observations')"
                 @click="showObservations(patch)" />
    </template>

    <aside>
      <!-- Other geometries with multiple elements -->
      <gp-empty v-if="elements && elements.length === 0" icon-size="3" small>{{ $t('js.patch.no_element_in_this_patch') }}</gp-empty>
      <div v-else>
        <gp-list-item v-for="element in elements"
                      :key="element.id"
                      :caption="element.displayName"
                      @choose="showObservations(element)">
          <template #subCaption>
            <element-content :element="element" />
          </template>
        </gp-list-item>
      </div>
    </aside>
  </gp-drawer>
</template>

<script>
import Patch from '../../../classes/models/Patch'
import { formatGeometryMeasure } from '../../../tools/MeasureFormatters'
import shapeIcons from '../../../shapeIcons'
import GpDrawer from '../../../common/Drawer/Drawer.vue'
import GpEmpty from '../../../common/DataDisplay/Empty/Empty.vue'
import ElementContent from './ElementContent.vue'
import GpButton from '../../../common/Button/Button.vue'
import GpListItem from '../../../common/ListItem/ListItem.vue'

export default {
  name: 'PatchInfoDrawer',
  emits: [
    'close',
  ],
  components: { GpListItem, GpButton, ElementContent, GpEmpty, GpDrawer },
  props: {
    patch: { required: false, type: Patch, default: null },
  },
  data () {
    return {
      shapeIcons,
      showTaskForm: false,
    }
  },
  computed: {
    elements () {
      return this.$store.getters.elementsByPatchId(this.patch.id)
        .filter(c => !c.isRemoved)
    },
    measure () { return formatGeometryMeasure(this.patch) },
    geometryType () { return this.patch.geometryType },
  },
  methods: {
    showObservations (entity) {
      this.$emitBus('show-observations', entity)
    },
  },
}
</script>
