<template>
  <gp-form :errors="errors"
           model="family"
           :loading="loading"
           @cancel="$emit('cancel')"
           @submit.prevent="save">
    <gp-alert variant="info">{{ $t('js.families.form.community_alert') }}</gp-alert>

    <gp-field input-id="family_name" :label="$t('activerecord.attributes.family.name')">
      <input id="family_name"
             v-model="inputs.name"
             type="text"
             name="name"
             autocomplete="off"
             required>
      <template #help>
        <div v-if="searchResults.length > 0">
          {{ $t('js.families.form.already_created') }}
          <gp-badge v-for="result in searchResults"
                    :key="result.id"
                    :caption="result.name"
                    variant="help"
                    size="small" />
        </div>
      </template>
    </gp-field>

    <gp-field input-id="family_kingdom" :label="$t('activerecord.attributes.family.kingdom')">
      <select id="family_kingdom" v-model="inputs.kingdom" name="kingdom" required>
        <option value="plant">{{ $t('js.families.form.kingdom_options.plant') }}</option>
        <option value="animal">{{ $t('js.families.form.kingdom_options.animal') }}</option>
      </select>
    </gp-field>

    <gp-field input-id="family_source" :label="$t('activerecord.attributes.family.source')" :help="$t('js.families.form.source_help')">
      <input id="family_source" v-model="inputs.source" type="url" name="source">
    </gp-field>
  </gp-form>
</template>
<script>
import Family from '../../../../classes/models/Family'
import Toaster from '../../../../tools/Toaster'
import GpForm from '../../../../common/Form/Form.vue'
import GpAlert from '../../../../common/Alert/Alert.vue'
import GpField from '../../../../common/Form/Field.vue'
import GpBadge from '../../../../common/Badge/Badge.vue'

export default {
  name: 'GpaFamilyForm',
  emits: [
    'cancel',
    'saved',
  ],
  components: { GpBadge, GpField, GpAlert, GpForm },
  props: {
    family: { required: false, type: Family, default: null },
  },
  data () {
    return {
      inputs: { ...this.fillInputs() },
      errors: null,
      loading: false,
    }
  },
  computed: {
    searchResults () { return this.$store.getters.familySearch(this.inputs.name) },
  },
  methods: {
    fillInputs () {
      return {
        id: null,
        name: '',
        description: '',
        source: '',
        kingdom: '',
        ...this.$props.family,
      }
    },
    save () {
      const payload = { ...this.inputs }
      if (!payload.id) { delete payload.id }

      this.loading = true
      this.errors = null
      this.$store.dispatch('saveFamily', payload)
        .then(() => {
          Toaster.success(this.$t('js.generic.successfully_saved'))
          this.$emit('saved')
        })
        .catch((errors) => {
          Toaster.error(this.$t('js.generic.failed_to_save'))
          this.errors = errors
        })
        .then(() => { this.loading = false })
    },
  },
  watch: {
    family () {
      this.inputs = this.fillInputs()
    },
  },
}
</script>
