Hello <%= @recipient.username %>

<%= @sender.username %> left the "<%= @subject.name %>"'s team.

There's nothing yo can do about it, we only wanted to let yo know.

Have a nice day,
Your instance managers.
