Bonjour <%= @recipient.username %>

<%= @sender.username %> a décliné votre invitation à rejoindre l'équipe de "<%= @subject.name %>".

Vous ne pouvez rien faire à ce propos, mais nous voulions vous avertir.

Bonne journée,
Les admins de l'instance.

