%p Bonjour #{@recipient.username}

%p #{@sender.username} a quitté l'équipe de "#{@subject.name}".

%p Vous ne pouvez rien faire à ce propos, mais nous voulions vous avertir.

%p Bonne journée,
%p
  %em Les admins de l'instance.

