%p Hello #{@recipient.username}

%p #{@sender.username} left the "#{@subject.name}"'s team.

%p There's nothing yo can do about it, we only wanted to let yo know.

%p Have a nice day,
%p
  %em Your instance managers.
