import { Factory } from 'fishery'
import faker from 'faker'

export const <%= model_name.camelize(:lower) %>Factory = Factory.define(({ sequence }) => {
  const creationDate = new Date().toString()

  return {
    id: sequence,<% attributes.sort.each do |param, details|
    next if ['id','created_at', 'updated_at'].include? param %>
    <%= param %>: <%= faker_method(param, details) %>,<% end %>

    created_at: creationDate,
    updated_at: creationDate,
  }
})
