<template>
  <div class="gp-empty" :class="componentCSS">
    <gp-icon :name="icon" :size="inline ? null : iconSize" class="gp-empty__icon" />
    <div :class="small ? '-small' : ''">
      <!-- @slot Text to describe the empty state -->
      <slot>{{ content }}</slot>
    </div>
  </div>
</template>
<script>
import GpIcon from '../../Icon/Icon.vue'

export default {
  name: 'GpEmpty',
  components: { GpIcon },
  props: {
    /** Icon to represent the empty state */
    icon: { required: false, type: String, default: 'asterisk' },
    /** Size of the icon. Don't work when `inline` is true */
    iconSize: { required: false, type: [String, Number], default: 10 },
    /** Whether or not to render the component inline */
    inline: { required: false, type: Boolean, default: false },
    /** Whether or not to render the component smaller */
    small: { required: false, type: Boolean, default: false },
    /** Text content. Is overridden by default slot */
    content: { required: false, type: String, default: null },
  },
  computed: {
    componentCSS () {
      return [
        this.$props.inline && 'gp-empty--inline',
      ]
    },
  },
}
</script>
