- url = link.id ? admin_link_path : admin_links_path
= form_for link, url: url do |f|
  - if link.errors.any?
    .gp-alert.gp-alert--danger
      %p= t('.errors', count: link.errors.count)
      %ul
        - link.errors.full_messages.each do |message|
          %li= message

  .gp-field
    = f.label :title
    = f.text_field :title, required: true
  .gp-field
    = f.label :url
    = f.text_field :url, required: true
  .gp-field
    = f.label :description
    = f.text_field :description, max: 255, required: true

  .gp-actions.gp-actions--bottom
    = f.submit t('generic.save'), class: 'gp-button gp-button--recording'
