- @page_title = t('.title')

.gp-actions.gp-actions--top
  = link_to t('generic.back'), :admin_links, role: 'button', class: 'gp-button'
  = link_to t('generic.show'), @link, role: 'button', class: 'gp-button'
  = link_to t('generic.destroy'),
            @link,
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button',
            class: 'gp-button gp-button--destructive'

= render 'form', link: @link
