- @page_title = t('.change_your_password')

._devise-form
  = form_for(resource,
              as: resource_name,
              url: password_path(resource_name),
              html: { method: :put }) do |f|
    = render 'devise/shared/error_messages', resource: resource

    = f.hidden_field :reset_password_token

    .gp-field
      = f.label :password, t('.new_password')
      = f.password_field :password, autofocus: true, autocomplete: 'new-password', required: true
      - if @minimum_password_length
        .gp-field__help= t('devise.shared.minimum_password_length', count: @minimum_password_length)
    .gp-field
      = f.label :password_confirmation, t('.confirm_new_password')
      = f.password_field :password_confirmation, autocomplete: 'new-password', required: true

    .gp-actions.gp-actions--bottom
      = f.submit t('.change_my_password'), class: 'gp-button gp-button--recording'

  %div
    = render 'devise/shared/links'
