<template>
  <!--
    Triggered when clicking on the "close" button
    @event close
  -->
  <!--
    Triggered when clicking on "Cancel"
    @event reject
  -->
  <!--
    Triggered when clicking on "OK"
    @event accept
  -->
  <gp-modal :caption="displayTitle"
            :closeable="closeable"
            :acceptable="acceptable"
            :cancellable="rejectable"
            @close="$emit('close')"
            @accept="$emit('accept')"
            @cancel="$emit('reject')">
    <slot>{{ message }}</slot>
  </gp-modal>
</template>

<script>
import GpModal from './Modal.vue'

export default {
  name: 'GpConfirmDialog',
  emits: [
    'close',
    'accept',
    'reject',
  ],
  components: { GpModal },
  props: {
    message: { required: false, type: String, default: null },
    caption: { required: false, type: String, default: null },
    closeable: { required: false, type: Boolean, default: false },
    acceptable: { required: false, type: Boolean, default: true },
    rejectable: { required: false, type: Boolean, default: true },
  },
  data () {
    return { displayTitle: this.$props.caption || this.$t('generic.are_you_sure') }
  },
}
</script>
