<template>
  <div class="gp-modal">
    <gp-overlay />
    <div class="gp-modal__widget" :class="componentCSS">
      <div class="gp-modal__header">
        <h2>{{ caption }}</h2>
        <!--
          When modal is simply closed
          @event close
        -->
        <gp-button v-if="closeable"
                   icon="x-bold"
                   text
                   :title="$t('js.generic.close')"
                   @click="$emit('close')" />
      </div>
      <div class="gp-modal__content">
        <!-- @slot Modal content -->
        <slot />
      </div>
      <div v-if="hasFooter" class="gp-modal__footer">
        <!--
          When "cancel" button is pressed
          @event cancel
        -->
        <gp-button v-if="cancellable" variant="canceling" @click="$emit('cancel')">{{ $t('generic.cancel') }}</gp-button>
        <!--
          When "OK" button is pressed
          @event accept
        -->
        <gp-button v-if="acceptable" variant="recording" @click="$emit('accept')">{{ $t('generic.ok') }}</gp-button>
      </div>
    </div>
  </div>
</template>
<script>
import GpOverlay from '../Utils/Overlay/Overlay.vue'
import GpButton from '../Button/Button.vue'

export default {
  name: 'GpModal',
  emits: [
    'close',
    'cancel',
    'accept',
  ],
  components: { GpButton, GpOverlay },
  props: {
    closeable: { required: false, type: Boolean, default: true },
    acceptable: { required: false, type: Boolean, default: true },
    cancellable: { required: false, type: Boolean, default: false },
    hasFooter: { required: false, type: Boolean, default: true },
    caption: { required: true, type: String, default: null },
    large: { required: false, type: Boolean, default: false },
  },
  computed: {
    componentCSS () {
      return [
        this.large && 'gp-modal__widget--large',
      ]
    },
  },
}
</script>
