<template>
  <div class="gp-drawer" :class="componentCss">
    <gp-overlay v-if="overlay" :disabled="!overlayCloseable" @click="handleClickOnOverlay" />
    <div class="gp-drawer__widget">
      <h2 v-if="caption || $slots.caption" class="gp-drawer__title">
        <span class="gp-drawer__title__content">
          <!-- @slot Title slot. Will override `caption` prop -->
          <slot name="caption">{{ caption }}</slot>
        </span>
        <gp-button v-if="closeable"
                   icon="x-bold"
                   class="fr"
                   text
                   :title="$t('js.generic.close')"
                   @click="close" />
      </h2>
      <div v-if="$slots.actions" ref="actions" class="gp-drawer__actions">
        <!-- @slot Actions slot -->
        <slot name="actions" />
      </div>
      <div class="gp-drawer__content" :style="contentStyle">
        <!-- @slot Drawer content -->
        <slot />
      </div>
    </div>
  </div>
</template>
<script>
import GpOverlay from '../Utils/Overlay/Overlay.vue'
import GpButton from '../Button/Button.vue'

export default {
  name: 'GpDrawer',
  emits: [
    'close',
  ],
  components: { GpButton, GpOverlay },
  props: {
    /** Drawer title, if any */
    caption: { required: false, type: String, default: null },
    /** Docking position */
    position: { required: false, type: String, default: 'left' },
    /** Whether or not to display a "close" button and handle overlay click */
    closeable: { required: false, type: Boolean, default: true },
    /** When set, defines if a click on the overlay closes the drawer */
    overlayCloseable: { required: false, type: Boolean, default (props) { return props.closeable } },
    /** Whether or not to display the overlay */
    overlay: { required: false, type: Boolean, default: true },
  },
  data () {
    return {
      actionsHeight: 0,
    }
  },
  computed: {
    componentCss () {
      return {
        'gp-drawer--left': this.position === 'left',
        'gp-drawer--right': this.position === 'right',
      }
    },
    contentStyle () {
      return {
        height: `calc(100vh  - var(--drawer-title-height) - ${this.actionsHeight}px)`,
      }
    },
  },
  methods: {
    close () {
      if (!this.$props.closeable) return

      this.$emit('close')
    },
    handleClickOnOverlay () {
      if (this.$props.overlayCloseable) this.close()
    },
  },
  mounted () {
    const actionsRef = this.$refs.actions
    if (actionsRef) {
      this.actionsHeight = actionsRef.offsetHeight
    }
  },
}
</script>
