<template>
  <div class="gp-loading" :class="componentCSS">
    <gp-overlay v-if="fill" opaque />
    <div class="gp-loading__wrapper">
      <div class="gp-loading__spinner">
        <div />
        <div />
        <div />
        <div />
      </div>
      <div v-if="$slots.default || text">
        <!-- @slot Alternative to the `text` prop for more complex content -->
        <slot>{{ text }}</slot>
      </div>
    </div>
  </div>
</template>

<script>
import GpOverlay from '../Utils/Overlay/Overlay.vue'

export default {
  name: 'GpLoading',
  components: { GpOverlay },
  props: {
    /** Custom text to display */
    text: { required: false, type: String, default: null },
    /** Whether or not to fill the whole page */
    fill: { required: false, type: Boolean, default: false },
    /** Whether or not to fill only the parent selector. Has no effect **without** `fill`. Make sure the parent is large enough. */
    relative: { required: false, type: Boolean, default: false },
    /** Whether or not to center text content. Has no effect with `fill`. */
    centered: { required: false, type: Boolean, default: false },
  },
  computed: {
    componentCSS () {
      return [
        this.fill && 'gp-loading--fill',
        this.relative && 'gp-loading--relative',
        this.centered && 'gp-loading--centered',
      ]
    },
  },
}
</script>
