<template>
  <div class="gp-tab-separator" :class="componentCSS" />
</template>

<script>
export default {
  name: 'GpTabSeparator',
  props: {
    /** Whether or not to expand the spacer */
    spring: { required: false, type: Boolean, default: false },
  },
  computed: {
    componentCSS () {
      return [
        this.spring && 'gp-tab-separator--spring',
      ]
    },
  },
}
</script>
