<template>
  <div class="gp-tabs" :class="componentCSS">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'GpTabs',
  props: {
    noTextOnSmall: { required: false, type: Boolean, default: false },
  },
  computed: {
    componentCSS () {
      return [
        this.noTextOnSmall && 'gp-tabs--no-text-on-small',
      ]
    },
  },
}
</script>
