<template>
  <gp-form :errors="errors"
           model="task"
           :loading="loading"
           @cancel="$emit('cancel')"
           @submit.prevent="save">
    <gp-field :input-id="`${formId}-name`" :label="$t('activerecord.attributes.task.name')">
      <input :id="`${formId}-name`" v-model="inputs.name" type="text" required>
      <template #help>
        <div v-if="taskNames.length > 0" class="gp-field__help">
          {{ $t('js.tasks.form.recent_tasks') }}
          <gp-toolbar>
            <gp-button v-for="name in taskNames"
                       :key="name"
                       size="small"
                       :caption="name"
                       @click="inputs.name = name" />
          </gp-toolbar>
        </div>
      </template>
    </gp-field>

    <gp-field v-if="teamMatesUsers.length > 1" :input-id="`${formId}-assignee_id`" :label="$t('activerecord.attributes.task.assignee')">
      <select :id="`${formId}-assignee_id`" v-model="inputs.assignee_id">
        <option v-for="teamMate in teamMatesUsers" :key="teamMate.id" :value="teamMate.id">{{ teamMate.username }}</option>
      </select>
    </gp-field>

    <gp-date-time-picker ref="datePicker"
                         v-model="selectedDate"
                         :label="$t('js.tasks.form.date')"
                         :time="false"
                         :input-id="`${formId}-date`"
                         :popup="true"
                         input-name="date" />

    <gp-field :input-id="`${formId}-notes`" :label="$t('activerecord.attributes.task.notes')">
      <textarea :id="`${formId}-notes`" v-model="inputs.notes" name="notes" />
    </gp-field>
  </gp-form>
</template>

<script>
import RandomString from '../../../../../helpers/RandomString'
import GpDateTimePicker from '../../../../common/Inputs/DateTimePicker/DateTimePicker.vue'
import Toaster from '../../../../tools/Toaster'
import Element from '../../../../classes/models/Element'
import Map from '../../../../classes/models/Map'
import Patch from '../../../../classes/models/Patch'
import Path from '../../../../classes/models/Path'
import GpForm from '../../../../common/Form/Form.vue'
import GpButton from '../../../../common/Button/Button.vue'
import GpField from '../../../../common/Form/Field.vue'
import GpToolbar from '../../../../common/Toolbar/Toolbar.vue'

export default {
  name: 'GpaTaskForm',
  emits: [
    'cancel',
    'done',
  ],
  components: { GpToolbar, GpField, GpButton, GpForm, GpDateTimePicker },
  props: {
    subject: { required: true, type: [Element, Map, Patch, Path] },
  },
  data () {
    return {
      loading: false,
      errors: null,
      formId: RandomString(),
      selectedDate: new Date(),
      inputs: {
        name: '',
        notes: '',
        assignee_id: '',
      },
    }
  },
  computed: {
    taskNames () { return this.$store.getters.taskNames },
    accountUser () { return this.$store.getters.account.toUser() },
    teamMatesUsers () {
      const teamMates = this.$store.getters.teamMates.map(t => t.user)
      return teamMates.sort((a, b) => a.username.localeCompare(b.username))
    },
  },
  methods: {
    save () {
      this.errors = null
      const payload = {
        notes: this.inputs.notes,
        subject_id: this.$props.subject.id,
        subject_type: this.$props.subject.className,
        name: this.inputs.name,
        assignee_id: this.inputs.assignee_id,
      }

      if (this.selectedDate >= new Date()) {
        payload.planned_for = this.selectedDate
      } else {
        payload.done_at = this.selectedDate
      }
      this.loading = true
      this.$store.dispatch('createTask', payload)
        .then((task) => {
          this.$emit('done')
          this.$store.dispatch('addTaskName', task.name)
          Toaster.success(this.$t('js.task.successfully_created'))
        })
        .catch((error) => {
          this.errors = error
          Toaster.error(this.$t('js.task.failed_to_create'))
        })
        .then(() => { this.loading = false })
    },
  },
  mounted () {
    this.inputs.assignee_id = this.accountUser.id
  },
  watch: {
    action () {
      this.$refs.datePicker.close()
      this.inputs.name = ''
      this.inputs.notes = ''
      this.selectedDate = new Date()
    },
  },
}
</script>
