<template>
  <div v-if="!editing" class="gpa-task">
    <div class="gpa-task__check">
      <gp-button icon="square" text :title="$t('js.elements.last_action.finish')" @click="finish" />
    </div>

    <div class="gpa-task__content">
      <div class="gpa-task__content__header">
        <gp-badge class="gpa-task__content__header__user" :caption="assignee.username" icon="user" />
        <div v-if="showDate" class="gpa-task__content__header__date">
          {{ $d(task.plannedFor, 'date') }}
        </div>
        <div class="gpa-task__content__header__title">
          <gp-badge :caption="subjectProperties.name" :icon="subjectProperties.icon" size="small" />
          {{ task.name }}
        </div>

        <div class="gpa-task__header__actions">
          <gp-toolbar>
            <gp-button icon="pencil" :caption="$t('generic.edit')" no-text-on-small @click="edit" />
            <gp-button icon="trash" :title="$t('generic.destroy')" variant="destructive" @click="trash" />
          </gp-toolbar>
        </div>
      </div>
      <div v-if="task.notes" class="gpa-task__content__note">
        {{ task.notes }}
      </div>
    </div>
  </div>

  <form v-else class="gpa-task gpa-task--form" @submit.prevent="update">
    <div class="gpa-task__content">
      <div>
        <gp-date-time-picker v-model="inputs.planned_for"
                             :label="$t('js.tasks.form.date')"
                             :time="false"
                             :input-id="`${formId}-date`"
                             :popup="true"
                             :required="true"
                             input-name="date" />
      </div>

      <div>
        <gp-field :input-id="`${formId}-assignee`" :label="$t('activerecord.attributes.task.assignee')">
          <select :id="`${formId}-assignee`" v-model="inputs.assignee_id" :name="`${formId}-assignee`">
            <option v-for="teamMate in teamMates" :key="teamMate.id" :value="teamMate.user.id">{{ teamMate.user.username }}</option>
          </select>
        </gp-field>
      </div>

      <div>
        <gp-field :input-id="`${formId}-name`" :label="$t('activerecord.attributes.task.name')">
          <input :id="`${formId}-name`"
                 v-model="inputs.name"
                 type="text"
                 :name="`${formId}-name`"
                 readonly>
        </gp-field>
      </div>

      <div class="gpa-task__content__header__title">
        <gp-field :input-id="`${formId}-notes`" :label="$t('activerecord.attributes.task.notes')">
          <textarea :id="`${formId}-notes`" v-model="inputs.notes" :name="`${formId}-notes`" />
        </gp-field>
      </div>

      <div class="gpa-task__content__header__actions">
        <gp-toolbar>
          <gp-button variant="canceling" @click="editing = false">{{ $t('generic.cancel') }}</gp-button>
          <gp-submit-button :loading="loading" />
        </gp-toolbar>
      </div>
    </div>
  </form>
</template>

<script>
import shapeIcons from '../../../../shapeIcons'
import Task from '../../../../classes/models/Task'
import Toaster from '../../../../tools/Toaster'
import randomString from '../../../../../helpers/RandomString'
import GpDateTimePicker from '../../../../common/Inputs/DateTimePicker/DateTimePicker.vue'
import GpSubmitButton from '../../../../common/Inputs/SubmitButton/SubmitButton.vue'
import GpButton from '../../../../common/Button/Button.vue'
import GpToolbar from '../../../../common/Toolbar/Toolbar.vue'
import GpField from '../../../../common/Form/Field.vue'
import GpBadge from '../../../../common/Badge/Badge.vue'

export default {
  name: 'GpaTask',
  components: { GpBadge, GpField, GpToolbar, GpButton, GpSubmitButton, GpDateTimePicker },
  props: {
    task: { required: true, type: Task },
    showDate: { required: false, type: Boolean, default: false },
  },
  data () {
    return {
      loading: false,
      // Form related data
      editing: false,
      inputs: {},
      formId: randomString(),
    }
  },
  computed: {
    subject () { return this.task.subject },
    teamMates () { return this.$store.getters.teamMates },
    assignee () {
      if (this.task.assigneeId) {
        const teamMate = this.$store.getters.teamMateByUserId(this.task.assigneeId)
        if (teamMate) return teamMate.user
      }

      // Team mate not found or no assignee: return the map owner
      const map = this.$store.getters.map(parseInt(this.$route.params.mapId))
      return this.$store.getters.teamMateByUserId(map.userId).user
    },
    subjectProperties () {
      const subject = this.subject
      switch (subject.className) {
        case 'Map':
          return { icon: 'world', name: subject.name }
        case 'Element':
          if (subject.isPoint) {
            return { icon: 'map-pin', name: subject.displayName }
          } else {
            return {
              icon: 'map-pin',
              name: this.$t('js.todos.task.element_in_patch', {
                elementName: subject.displayName,
                patchName: subject.patch.displayName,
              }),
            }
          }
        case 'Patch':
          return {
            icon: shapeIcons[subject.geometryType].base,
            name: subject.displayName,
          }
        case 'Path':
          return {
            icon: shapeIcons[subject.geometryType].base,
            name: subject.displayName,
          }
        default:
          throw new Error(`Unhandled subject type "${subject.className}"`)
      }
    },
  },
  methods: {
    finish () {
      this.loading = true
      this.$store.dispatch('finishTask', this.task.id)
        .then(() => {
          this.loading = false
          Toaster.success(this.$t('js.elements.last_action.finished_successfully'))
        })
    },
    update () {
      this.loading = true
      this.$store.dispatch('updateTask', this.inputs)
        .then(() => {
          this.editing = false
        })
        .then(() => {
          this.loading = false
        })
    },
    edit () {
      this.inputs = {
        id: this.task.id,
        name: this.task.name,
        assignee_id: this.task.assigneeId,
        planned_for: this.task.plannedFor,
        notes: this.task.notes,
      }
      this.editing = true
    },
    trash () {
      this.$emitBus('ask-confirmation', {
        message: this.$t('js.elements.last_action.destroy_help'),
        callback: () => {
          this.loading = true
          this.$store.dispatch('destroyTask', this.task.id)
            .then(() => {
              this.loading = false
              Toaster.success(this.$t('js.elements.last_action.destroyed_successfully'))
            })
        },
      })
    },
  },
}
</script>

<style lang="scss" src="./Task.scss" />
