- keep ||= []

%form{ method: 'GET', action: '' }
  - keep.each do |filter|
    - if params[filter].present?
      %input{ type: 'hidden', name: filter, value: params[filter].presence }
  .gp-field--inline
    .gp-field__field
      %input{ type: 'text', name: 'search', value: params[:search].presence }
      %button{ type: 'submit' }= t('generic.search')
      = filter_by_link t('generic.clear'),
                       { class: 'gp-button gp-button--destructive', disabled: params[:search].blank? },
                       filters: { search: nil },
                       keep: keep,
                       icon: false
