<template>
  <div v-if="ready">
    <gp-navbar :caption="map.name">
      <template #left>
        <gp-button icon="notebook" text @click="showingObservations = map">
          {{ $t('js.layouts.shared_maps.map_observations') }}
        </gp-button>
      </template>
    </gp-navbar>

    <div class="gpa-shared-garden">
      <div id="map" class="gpa-shared-garden__map" :style="mapStyle" />

      <gp-panel class="gpa-shared-garden__panel" :class="{'gpa-shared-garden__panel--force-visible': showPanel}">
        <gp-tabs>
          <gp-button icon="layers" :active="sidePanelTab === 'layers'" @click="sidePanelTab = 'layers'">
            {{ $t('js.layers.title') }}
          </gp-button>
          <gp-button icon="info" :active="sidePanelTab === 'legend'" @click="sidePanelTab = 'legend'">
            {{ $t('js.shared_garden.legend.title') }}
          </gp-button>
        </gp-tabs>

        <gpa-garden-layers v-show="sidePanelTab === 'layers'"
                           :visible-layers="activeLayers"
                           @toggle="handleLayerVisibilityToggle" />

        <gpa-garden-legend v-show="sidePanelTab === 'legend'" />
      </gp-panel>
    </div>

    <gp-button icon="info"
               variant="helping"
               size="large"
               class="gpa-shared-garden__panel-trigger"
               @click="showPanel = !showPanel" />

    <div id="garden-popup">
      <!-- Popup for paths -->
      <!-- Custom "mouse-xxx" events as they are not attached otherwise -->
      <gpa-path-popup v-if="pointedEntityType === 'path'"
                      :path="pointedEntity"
                      readonly
                      @close="gardenMap.review()" />
    </div>

    <!-- Drawer for patches -->
    <gpa-patch-drawer v-if="pointedEntityType === 'patch'"
                      :patch="pointedEntity"
                      @close="gardenMap.review()" />

    <gpa-element-drawer v-if="pointedEntityType === 'element'"
                        :element="pointedEntity"
                        @close="gardenMap.review()" />

    <gp-modal v-if="showingObservations"
              :caption="$t('js.layouts.shared_maps.map_observations')"
              :cancellable="false"
              @accept="showingObservations = null"
              @close="showingObservations = null">
      <gpa-observations-list :subject="showingObservations" />
    </gp-modal>

    <!-- Other widgets -->
    <gp-image-viewer-widget v-if="imageToDisplay"
                            :list="imagesList"
                            :preselected="imageToDisplay"
                            @close="imageToDisplay = null" />

    <gp-loading v-if="!mapIsReady" fill>{{ $t('js.garden.loading_map') }}</gp-loading>
  </div>
  <div v-else>{{ $t('generic.loading') }}</div>
</template>

<script>
import GardenMap from '../../classes/GardenMap'
import GpaElementDrawer from './components/_ElementDrawer.vue'
import GpaGardenLayers from './components/_Layers.vue'
import GpaGardenLegend from './components/_Legend.vue'
import GpaObservationsList from '../garden/components/Observations/_Observations.vue'
import GpaPatchDrawer from './components/_PatchDrawer.vue'
import GpaPathPopup from '../garden/components/Paths/_Popup.vue'
import GpButton from '../../common/Button/Button.vue'
import GpImageViewerWidget from '../../common/DataDisplay/ImageViewer/ImageViewer.vue'
import GpLoading from '../../common/Loading/Loading.vue'
import GpModal from '../../common/Modal/Modal.vue'
import GpNavbar from '../../common/Navbar/Navbar.vue'
import GpPanel from '../../common/Panel/Panel.vue'
import GpTabs from '../../common/Tabs/Tabs.vue'

/**
 * @typedef {import('../../classes/models/Patch')}    Patch
 * @typedef {import('../../classes/models/Path')}     Path
 * @typedef {import('../../classes/models/Layer')}    Layer
 * @typedef {import('../../classes/models/Genus')}    Genus
 * @typedef {import('../../classes/models/Resource')} Resource
 * @typedef {import('../../classes/models/Layer')}    Layer
 */

export default {
  name: 'App',
  components: { GpaElementDrawer, GpaGardenLayers, GpaGardenLegend, GpaObservationsList, GpaPatchDrawer, GpaPathPopup, GpButton, GpImageViewerWidget, GpLoading, GpModal, GpNavbar, GpPanel, GpTabs },
  data () {
    return {
      /** @type {boolean} True when all api calls succeeds */
      ready: false,
      /** @type {GardenMap} Map instance */
      gardenMap: null,
      /** @type {number[]} List of active layers */
      activeLayers: [],
      /** @type {Patch|Path} Active entity in review mode */
      pointedEntity: null,
      /** @type {string|null} Active entity type in review mode */
      pointedEntityType: null,
      /** @type {boolean} Whether or not the map is loaded */
      mapIsReady: false,

      showingObservations: null,
      showPanel: false,

      // Image viewer
      imagesList: [],
      imageToDisplay: null,
      // Other modals
      showResourceDescriptionFor: null,

      // Side panel
      sidePanelTab: 'layers',
    }
  },
  computed: {
    layers () { return this.$store.getters.layers },
    map () { return this.$store.getters.map(this.$mapId) },
    mapStyle () {
      if (!this.map.backgroundColor) return ''

      return `background-color: ${this.map.backgroundColor}; background-image: none`
    },
  },
  methods: {
    handleLayerVisibilityToggle (id) {
      const index = this.activeLayers.indexOf(id)
      if (index === -1) {
        this.activeLayers.push(id)
      } else {
        this.activeLayers.splice(index, 1)
      }

      this.gardenMap.setVisibleLayers(this.activeLayers)
    },
    handlePointEntity (event) {
      if (!event.detail) {
        this.pointedEntity = null
        this.pointedEntityType = null
        return
      }
      const type = event.detail.type
      const id = event.detail.id
      this.pointedEntityType = type
      this.pointedEntity = id ? this.$store.getters[type](id) : null
    },
  },
  created () {
    this.$onBus('show-image',
      /** @param {{selected: string, list: string[]}} images - Widget configuration */
      (images) => {
        this.imagesList = images.list
        this.imageToDisplay = images.selected
      })

    this.$onBus('change-background-layer-visibility', () => {
      this.gardenMap.setBackgroundLayerVisibility()
    })

    this.$onBus('show-observations', (subject) => {
      this.showingObservations = subject
    })

    this.$store.dispatch('loadSharedGarden', this.$mapId)
      .then(() => {
        this.ready = true
        // Wait for initial rendering
        this.$nextTick(() => {
          this.gardenMap = new GardenMap(this.map, 'map', 'garden-popup',)

          this.gardenMap.mapElement.addEventListener('ready', () => { this.mapIsReady = true })
          this.gardenMap.mapElement.addEventListener('point-entity', this.handlePointEntity)
          this.gardenMap.review()
          this.activeLayers = this.$store.getters.layers.map(l => l.id)
        })
      })
  },
}
</script>

<style lang="scss" src="./App.scss" />
