<template>
  <gp-toolbar>
    <template #help>
      <gp-help-button-content :caption="$t('js.garden.elements.actions.help.caption')" :content="$t('js.garden.elements.actions.help.content')" :lines="helpLines" />
    </template>

    <component :is="action.callback ? GpButton : GpToolbarSeparator"
               v-bind="action"
               v-for="(action, index) in entries.visible"
               :key="index"
               @click="action.callback" />

    <gp-dropdown v-if="entries.dropdown.length > 0" right>
      <template #caption>
        <gp-icon name="more-dots" />
      </template>

      <component :is="action.callback ? GpMenuItem : GpMenuItemSeparator"
                 v-bind="action"
                 v-for="(action, index) in entries.dropdown"
                 :key="index"
                 @click="action.callback" />
    </gp-dropdown>
  </gp-toolbar>
</template>

<script>
import Element from '../../../../classes/models/Element'
import Toaster from '../../../../tools/Toaster'
import GpButton from '../../../../common/Button/Button.vue'
import GpToolbar from '../../../../common/Toolbar/Toolbar.vue'
import GpToolbarSeparator from '../../../../common/Toolbar/ToolbarSeparator.vue'
import GpHelpButtonContent from '../../../../common/HelpButton/HelpButtonContent.vue'
import GpDropdown from '../../../../common/Dropdown/Dropdown.vue'
import GpIcon from '../../../../common/Icon/Icon.vue'
import GpMenuItem from '../../../../common/Menu/MenuItem.vue'
import GpMenuItemSeparator from '../../../../common/Menu/MenuItemSeparator.vue'
import { markRaw } from 'vue'

const actionsContexts = {
  default: {
    visible: ['addObservation', 'showObservations', 'separator', 'addTask'],
    dropdown: ['implant', 'remove', 'harvest', 'implantationSeparator', 'move', 'moveSeparator', 'duplicateElement', 'editElement', 'destroyElement'],
  },
  inventory: {
    visible: ['implant', 'remove', 'harvest', 'implantationSeparator', 'duplicateElement'],
    dropdown: ['addObservation', 'showObservations', 'separator', 'addTask', 'separator', 'editElement', 'destroyElement'],
  },
}

export const availableContexts = Object.keys(actionsContexts)

export default {
  name: 'GpaElementActions',
  components: { GpMenuItemSeparator, GpMenuItem, GpIcon, GpDropdown, GpHelpButtonContent, GpToolbarSeparator, GpToolbar, GpButton },
  props: {
    element: { required: true, type: Element },
    showGeometryActions: { required: false, type: Boolean, default: false },
    context: { required: false, type: String, default: 'default', validator: v => availableContexts.includes(v) },
  },
  data () {
    const helpLines = [
      { icon: 'arrow-bend-right-down', text: this.$t('js.garden.elements.actions.help.implant') },
      { icon: 'arrow-bend-right-up', text: this.$t('js.garden.elements.actions.help.remove') },
      { icon: 'observations', text: this.$t('js.garden.elements.actions.help.new_observation') },
      { icon: 'calendar-plus', text: this.$t('js.garden.elements.actions.help.new_task') },
      { icon: 'notebook', text: this.$t('js.garden.elements.actions.help.show_observation') },
      { icon: 'arrows-out-cardinal', text: this.$t('js.garden.elements.actions.help.move') },
      { icon: 'pencil', text: this.$t('js.garden.elements.actions.help.edit') },
      { icon: 'duplicate', text: this.$t('js.garden.elements.actions.help.duplicate') },
      { icon: 'harvest', text: this.$t('js.garden.elements.actions.help.harvest') },
      { icon: 'trash', text: this.$t('js.garden.elements.actions.help.trash'), variant: 'danger' },
    ]

    return {
      helpLines,
      // Components
      GpMenuItem: markRaw(GpMenuItem),
      GpMenuItemSeparator: markRaw(GpMenuItemSeparator),
      GpButton: markRaw(GpButton),
      GpToolbarSeparator: markRaw(GpToolbarSeparator),
      // Available entries
      actions: {
        move: {
          caption: this.$t('js.generic.move'),
          callback: () => { this.$emitBus('move-element', this.element) },
          icon: 'arrows-out-cardinal',
          variant: 'canceling',
          condition: () => this.showGeometryActions && !this.element.removedAt,
        },
        // Conditional separator
        moveSeparator: {
          condition: () => this.showGeometryActions && !this.element.removedAt,
        },
        addObservation: {
          caption: this.$t('js.elements.action_buttons.add_observation'),
          callback: () => { this.$emitBus('show-observation-form', this.element) },
          icon: 'observations',
          condition: () => !this.element.isRemoved,
        },
        showObservations: {
          caption: this.$t('js.elements.action_buttons.show_observations'),
          callback: () => { this.$emitBus('show-observations', this.element) },
          icon: 'notebook',
        },
        addTask: {
          caption: this.$t('js.elements.action_buttons.add_task'),
          callback: () => { this.$emitBus('show-task-form', this.element) },
          icon: 'calendar-plus',
          condition: () => !this.element.isRemoved,
        },
        harvest: {
          caption: this.$t('js.elements.action_buttons.harvest'),
          callback: () => { this.$emitBus('show-harvest-form', this.element.id) },
          icon: 'harvest',
          condition: () => !this.element.isRemoved,
        },
        editElement: {
          caption: this.$t('js.elements.action_buttons.edit_element'),
          callback: () => { this.$emitBus('show-element-form', this.element) },
          icon: 'pencil',
        },
        duplicateElement: {
          caption: this.$t('js.elements.action_buttons.duplicate'),
          callback: () => { this.duplicate() },
          icon: 'duplicate',
        },
        destroyElement: {
          caption: this.$t('js.elements.action_buttons.destroy_element'),
          callback: () => { this.destroy() },
          icon: 'trash',
          variant: 'destructive',
        },
        implant: {
          caption: this.$t('js.elements.action_buttons.implant'),
          callback: () => { this.$emitBus('show-implantation-form', this.element) },
          icon: 'arrow-bend-right-down',
          variant: 'creative',
          condition: () => !this.element.isRemoved && !this.element.isImplanted && !this.element.isImplantationPlanned,
        },
        remove: {
          caption: this.$t('js.elements.action_buttons.remove'),
          callback: () => { this.$emitBus('show-removal-form', this.element) },
          icon: 'arrow-bend-right-up',
          variant: 'canceling',
          condition: () => !this.element.isRemoved && this.element.implantedAt && !this.element.isRemovalPlanned,
        },
        // Conditional separator
        implantationSeparator: {
          condition: () => !this.element.isRemoved && !this.element.isImplanted && !this.element.isImplantationPlanned && !this.element.isRemovalPlanned,
        },
        separator: {},
      },
    }
  },
  computed: {
    entries () {
      const list = { visible: [], dropdown: [] }

      actionsContexts[this.context].visible.forEach(k => {
        if (this.actions[k].condition && !this.actions[k].condition()) return

        const action = { ...this.actions[k] }
        action.title = action.caption
        delete action.caption
        list.visible.push(action)
      })
      actionsContexts[this.context].dropdown.forEach(k => {
        if (this.actions[k].condition && !this.actions[k].condition()) return
        list.dropdown.push(this.actions[k])
      })

      return list
    },
  },
  methods: {
    destroy () {
      this.$emitBus('ask-confirmation', {
        message: this.$t('js.generic.messages.destroy_warning_history'),
        callback: () => {
          this.$store.dispatch('destroyElement', this.element.id)
            .then(() => { Toaster.success(this.$t('js.element.successfully_destroyed')) })
            .catch(() => { Toaster.error(this.$t('js.element.failed_to_destroy')) })
        },
      })
    },
    duplicate () {
      this.$store.dispatch('duplicateElement', this.element.id)
        .then(() => { Toaster.success(this.$t('js.element.successfully_duplicated')) })
        .catch(() => { Toaster.error(this.$t('js.element.failed_to_duplicate')) })
    },
  },
}
</script>
