<template>
  <div :class="inline ? '-grid--2 -grid-gap' : ''">
    <div>
      <gp-icon-text v-if="!element.implantationPlannedFor && !element.implantedAt"
                    variant="warning"
                    :text="$t('js.elements.item_content.no_implantation_planned')"
                    icon="warning" />

      <gp-list-item v-if="element.implantationPlannedFor && !element.implantedAt"
                    :caption="$t('js.elements.item_content.implantation_planned_for')"
                    static
                    inline>
        <template #subCaption>
          <span :class="actionCSS(element.implantationPlannedFor)">{{ $d(element.implantationPlannedFor, 'date') }}</span>
          <template v-if="element.implantationMode">({{ $t(`activerecord.attributes.element/implantation_mode.${element.implantationMode}`) }})</template>
        </template>
        <template #right>
          <gp-button icon="check" :title="$t('js.elements.item_content.implant_now')" variant="recording" @click="implantNow" />
          <gp-button icon="pencil" :title="$t('generic.edit')" @click="$emitBus('show-implantation-form', element)" />
          <gp-button icon="cancel" :title="$t('generic.cancel')" variant="destructive" @click="cancelImplantationPlanning" />
        </template>
      </gp-list-item>

      <gp-list-item v-if="element.implantedAt"
                    :caption="$t('activerecord.attributes.element.implanted_at')"
                    :sub-caption="$d(element.implantedAt, 'date')"
                    static
                    inline>
        <template #subCaption>
          <span>{{ $d(element.implantedAt, 'date') }}</span>
          <template v-if="element.implantationMode"> ({{ $t(`activerecord.attributes.element/implantation_mode.${element.implantationMode}`) }})</template>
        </template>
      </gp-list-item>
    </div>

    <div>
      <gp-list-item v-if="element.removalPlannedFor && !element.removedAt"
                    :caption="$t('js.elements.item_content.removal_planned_for')"
                    static
                    inline>
        <template #subCaption>
          <span :class="actionCSS(element.removalPlannedFor)">{{ $d(element.removalPlannedFor, 'date') }}</span>
        </template>
        <template #right>
          <gp-button icon="check" :title="$t('js.elements.item_content.remove_now')" variant="recording" @click="removeNow" />
          <gp-button icon="pencil" :title="$t('generic.edit')" @click="$emitBus('show-removal-form', element)" />
          <gp-button icon="cancel" :title="$t('generic.cancel')" variant="destructive" @click="cancelRemovalPlanning" />
        </template>
      </gp-list-item>

      <gp-list-item v-if="element.removedAt"
                    :caption="$t('activerecord.attributes.element.removed_at')"
                    :sub-caption="$d(element.removedAt, 'date')"
                    static
                    inline />
    </div>
  </div>
</template>

<script>
import Element from '../../../../classes/models/Element'
import randomString from '../../../../../helpers/RandomString'
import Toaster from '../../../../tools/Toaster'
import { isSameDay, isOver } from '../../../../../helpers/Dates'
import GpButton from '../../../../common/Button/Button.vue'
import GpListItem from '../../../../common/ListItem/ListItem.vue'
import GpIconText from '../../../../common/IconText/IconText.vue'

export default {
  name: 'GpaElementDetails',
  components: { GpIconText, GpListItem, GpButton },
  props: {
    element: { required: true, type: Element },
    inline: { required: false, type: Boolean, default: false },
  },
  data () {
    return {
      loading: false,
      formId: randomString(),
      now: new Date(),
    }
  },
  methods: {
    cancelRemovalPlanning () {
      this.save('updateElement', { id: this.$props.element.id, removal_planned_for: null })
    },
    cancelImplantationPlanning () {
      this.save('updateElement', { id: this.$props.element.id, implantation_planned_for: null })
    },
    save (action, payload) {
      this.errors = null
      this.loading = true
      return this.$store.dispatch(action, payload)
        .catch((error) => {
          this.errors = error
        })
        .then(() => { this.loading = false })
    },

    implantNow () {
      this.loading = true
      this.$store.dispatch('implantElement', { id: this.$props.element.id, date: new Date().toISOString() })
        .then(() => { Toaster.success(this.$t('js.elements.item_content.successfully_implanted')) })
        .catch(() => { Toaster.error(this.$t('js.elements.item_content.failed_to_implant')) })
        .then(() => { this.loading = false })
    },
    removeNow () {
      this.loading = true
      this.$store.dispatch('removeElement', { id: this.$props.element.id, date: new Date().toISOString() })
        .then(() => { Toaster.success(this.$t('js.elements.item_content.successfully_removed')) })
        .catch(() => { Toaster.error(this.$t('js.elements.item_content.failed_to_remove')) })
        .then(() => { this.loading = false })
    },
    actionCSS (date) {
      return {
        '-text--warning': isSameDay(date, this.now),
        '-text--danger': isOver(date, this.now),
      }
    },
  },
}
</script>
