<template>
  <gp-drawer v-if="element"
             :caption="element.displayName"
             :overlay="false"
             @close="$emit('close')">
    <template #actions>
      <gpa-element-actions :element="element" :show-geometry-actions="true" />
    </template>

    <div class="_container">
      <gpa-element-details :element="element" inline />
    </div>
  </gp-drawer>
</template>

<script>
import Element from '../../../../classes/models/Element'
import GpDrawer from '../../../../common/Drawer/Drawer.vue'
import GpaElementActions from './_Actions.vue'
import GpaElementDetails from './_Details.vue'

export default {
  name: 'GpaElementDrawer',
  emits: [
    'close',
  ],
  components: { GpaElementDetails, GpaElementActions, GpDrawer },
  props: {
    element: { required: false, type: Element, default: null },
  },
}
</script>
