<template>
  <gp-item :image="resource.picturePath"
           :image-title="resource.name"
           :caption="element.displayName"
           :disabled="element.isRemoved">
    <template #aside>
      <gpa-element-actions :element="element"
                           :destructible="false" />
    </template>

    <gpa-element-details :element="element" />
  </gp-item>
</template>

<script>
import Element from '../../../../classes/models/Element'
import GpaElementActions from './_Actions.vue'
import GpaElementDetails from './_Details.vue'
import Toaster from '../../../../tools/Toaster'
import GpItem from '../../../../common/Item/Item.vue'

export default {
  name: 'GpaElementItem',
  components: { GpItem, GpaElementActions, GpaElementDetails },
  props: {
    element: { required: true, type: Element },
  },
  computed: {
    resource () { return this.$props.element.resource },
  },
  methods: {
    destroy () {
      this.$emitBus('ask-confirmation', {
        message: this.$t('js.generic.messages.destroy_warning_history'),
        callback: () => {
          this.$store.dispatch('destroyElement', this.element.id)
            .then(() => { Toaster.success(this.$t('js.element.successfully_destroyed')) })
            .catch(() => { Toaster.error(this.$t('js.element.failed_to_destroy')) })
        },
      })
    },
  },
}
</script>
