<template>
  <div>
    <div v-for="element in elements" :key="element.id" class="gpa-element" :class="componentCSS(element)">
      <div class="gpa-element__title">
        <img :src="element.resource.picturePath" alt="">
        {{ element.displayName }}
      </div>
      <div class="gpa-element__actions">
        <gpa-element-actions :element="element" :show-geometry-actions="false" :context="context" @destroy="destroy(element.id)" />
      </div>
      <div class="gpa-element__details">
        <gpa-element-details :element="element" inline />
      </div>
    </div>
  </div>
</template>

<script>
import Toaster from '../../../../tools/Toaster'
import GpaElementDetails from './_Details.vue'
import GpaElementActions, { availableContexts } from './_Actions.vue'

export default {
  name: 'GpaElementsList',
  components: { GpaElementActions, GpaElementDetails },
  props: {
    elements: { required: true, type: Array },
    inline: { required: false, type: Boolean, default: false },
    context: { required: false, type: String, default: 'default', validator: v => availableContexts.includes(v) },
  },
  methods: {
    destroy (id) {
      this.$emitBus('ask-confirmation', {
        message: this.$t('js.generic.messages.destroy_warning_history'),
        callback: () => {
          this.$store.dispatch('destroyElement', id)
            .then(() => { Toaster.success(this.$t('js.element.successfully_destroyed')) })
            .catch(() => { Toaster.error(this.$t('js.element.failed_to_destroy')) })
        },
      })
    },
    componentCSS (element) {
      return [
        this.inline && 'gpa-element--inline',
        element.isRemoved && 'gpa-element--removed',
      ]
    },
  },
}
</script>

<style lang="scss">
.gpa-element {
  display: grid;
  grid-template-areas:
    'title   actions'
    'details details';

  &--inline {
    grid-template-areas: 'title details actions';
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: var(--spacer-small);
  }

  &__title {
    grid-area: title;
    display: flex; gap: var(--spacer-default);
    align-items: center;
    font-weight: var(--font-weight-medium);
    width: auto;
  }
  &__actions {
    grid-area: actions;
    text-align: right;
  }
  &__details { grid-area: details; }

  &--removed {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
</style>
