<template>
  <div class="gpa-months-graphs">
    <!-- Header -->
    <div class="gpa-months-graphs__line__title" />
    <gpa-months-graph class="gpa-months-graphs__line__graph" :reference="reference" />
    <div class="gpa-months-graphs__line__actions" />
    <!-- eslint-disable vue/no-v-for-template-key -->
    <template v-for="element in elements" :key="element.id">
      <!-- eslint-enable vue/no-v-for-template-key -->
      <div class="gpa-months-graphs__line__title">
        <template v-if="['both', 'resource'].includes(titleFormat)">{{ element.displayName }}</template>
        <gp-badge v-if="['both', 'patch'].includes(titleFormat)">{{ element.patch.displayName }}</gp-badge>
      </div>
      <gpa-months-graph :element="element" class="gpa-months-graphs__line__graph" :reference="reference" />
      <div class="gpa-months-graphs__line__actions">
        <gpa-element-actions :element="element" context="inventory" @destroy="destroy(element.id)" />
      </div>
    </template>
  </div>
</template>

<script>
import Toaster from '../../../../tools/Toaster'
import GpaMonthsGraph from './_MonthsGraph.vue'
import GpaElementActions from './_Actions.vue'
import GpBadge from '../../../../common/Badge/Badge.vue'

/**
 * @typedef {import('../../../../classes/models/Resource')} Resource
 */

export default {
  name: 'GpaMonthsGraphs',
  components: { GpBadge, GpaMonthsGraph, GpaElementActions },
  props: {
    /** Elements list to display */
    elements: { required: true, type: Array },
    /** Starting date */
    reference: { required: false, type: Date, default: () => { return new Date() } },
    /** What to display as title */
    titleFormat: { required: false, type: String, default: 'both', validator: a => ['both', 'resource', 'patch'].includes(a) },
  },
  methods: {
    destroy (id) {
      this.$emitBus('ask-confirmation', {
        message: this.$t('js.generic.messages.destroy_warning_history'),
        callback: () => {
          this.$store.dispatch('destroyElement', id)
            .then(() => { Toaster.success(this.$t('js.element.successfully_destroyed')) })
            .catch(() => { Toaster.error(this.$t('js.element.failed_to_destroy')) })
        },
      })
    },
  },
}

</script>

<style lang="scss" src="./_MonthsGraphs.scss" />
