<template>
  <gp-form model="element"
           :errors="errors"
           :loading="loading"
           @submit.prevent="save"
           @cancel="cancel">
    <gp-date-time-picker v-model="inputs.removal_planned_for"
                         :label="$t('js.elements.action_buttons.removal_date')"
                         :time="false"
                         :input-id="`${formId}-removed-at`"
                         :not-before="element.implantedAt"
                         input-name="removed_at" />
  </gp-form>
</template>

<script>
import randomString from '../../../../../helpers/RandomString'
import Element from '../../../../classes/models/Element'
import GpForm from '../../../../common/Form/Form.vue'
import { beginningOfDay } from '../../../../../helpers/Dates'
import GpDateTimePicker from '../../../../common/Inputs/DateTimePicker/DateTimePicker.vue'

export default {
  name: 'GpaElementRemovalForm',
  emits: [
    'cancel',
    'saved',
  ],
  components: { GpDateTimePicker, GpForm },
  props: {
    element: { required: true, type: Element },
  },
  data () {
    const today = beginningOfDay(new Date())

    return {
      errors: null,
      loading: false,
      inputs: {
        removal_planned_for: this.$props.element.removalPlannedFor || today,
      },
      formId: randomString(),
    }
  },
  methods: {
    save () {
      this.errors = null
      this.loading = true
      const payload = {
        id: this.$props.element.id,
        date: this.inputs.removal_planned_for,
      }
      return this.$store.dispatch('removeElement', payload)
        .then(() => { this.$emit('saved') })
        .catch((error) => {
          this.errors = error
        })
        .then(() => {
          this.loading = false
        })
    },
    cancel () { this.$emit('cancel') },
  },
}
</script>
