<template>
  <gp-form :errors="errors"
           model="user"
           :loading="loading"
           :submit-button-title="$t('js.user.invite_on_instance')"
           submit-button-icon="send-message"
           :cancellable="true"
           @cancel="$emit('cancel')"
           @submit.prevent="invite">
    <gp-field v-if="!email" :input-id="`email_${id}`" :label="$t('activerecord.attributes.user.email')">
      <input :id="`email_${id}`"
             v-model="inputs.email"
             type="email"
             name="email"
             required>
    </gp-field>
    <gp-icon-text v-else variant="info" icon="info">{{ $t('js.users.invite_email', { email: inputs.email }) }}</gp-icon-text>

    <gp-field :input-id="`username_${id}`" :label="$t('activerecord.attributes.user.username')">
      <input :id="`username_${id}`"
             v-model="inputs.username"
             type="text"
             name="username"
             required
             min="3">
    </gp-field>
  </gp-form>
</template>

<script>
import User from '../../../../classes/models/User'
import randomString from '../../../../../helpers/RandomString'
import Toaster from '../../../../tools/Toaster'
import GpForm from '../../../../common/Form/Form.vue'
import GpField from '../../../../common/Form/Field.vue'
import GpIconText from '../../../../common/IconText/IconText.vue'

export default {
  name: 'GpaUserInvitationForm',
  emits: [
    'cancel',
    'invited',
  ],
  components: { GpIconText, GpField, GpForm },
  props: {
    email: { required: false, type: String, default: null },
    showSuccessNotification: { required: false, type: Boolean, default: true },
  },
  data () {
    return {
      id: randomString(5),
      inputs: {
        email: '',
        username: '',
      },
      loading: false,
      errors: null,
    }
  },
  methods: {
    reset () {
      this.inputs = {
        email: this.$props.email || '',
        username: '',
      }
    },
    invite () {
      const payload = { email: this.inputs.email, username: this.inputs.username }

      this.loading = true
      this.errors = null
      User.sendInvitation(payload)
        .then((user) => {
          if (this.showSuccessNotification) Toaster.success(this.$t('js.user.successfully_invited', { name: user.username }))
          this.$emit('invited', user)
        })
        .catch(e => { this.errors = e })
        .then(() => { this.loading = false })
    },
  },
  created () {
    this.reset()
  },
  watch: {
    email (newValue) {
      this.inputs.email = newValue || ''
    },
  },
}
</script>
