<template>
  <div class="gpa-search-user">
    <!-- No need for gp-form here -->
    <form action="#" @submit.prevent="search">
      <gp-field :label="$t(`activerecord.attributes.user.${searchField}`)"
                :help="searchField === 'username' ? $t('js.users.search.username_help', { amount: minimumStringLength }) : null"
                input-id="search_user_input"
                invisible-label
                inline>
        <input v-if="searchField === 'username'"
               id="search_user_input"
               v-model="inputValue"
               type="search"
               :name="name"
               :min="minimumStringLength"
               :placeholder="$t(`activerecord.attributes.user.username`)"
               @input="search"
               @focus="showResults = true">
        <input v-else
               id="search_user_input"
               v-model="inputValue"
               type="email"
               :placeholder="$t(`activerecord.attributes.user.email`)"
               @focus="toggleResults">
        <gp-button type="submit" :title="$t('generic.search')" :disabled="inputValue.length < minimumStringLength || loading" icon="magnifying-glass" />
      </gp-field>
    </form>
    <div v-if="showResults">
      <gp-loading v-if="loading" :text="$t('generic.loading')" centered class="-mvl" />
      <template v-else-if="results.length === 0 && inputValue.length >= minimumStringLength">
        <gp-empty icon-size="3" small>{{ noResultText }}</gp-empty>
        <gp-modal v-if="searchField === 'email'" :caption="noResultText" :has-footer="false" @close="clearResults">
          <gpa-user-invitation-form :show-success-notification="false"
                                    :email="inputValue"
                                    @cancel="clearResults"
                                    @invited="handleSelection" />
        </gp-modal>
      </template>

      <gp-list-item v-for="user in results"
                    :key="user.id"
                    :caption="user.username"
                    static>
        <template #right>
          <gp-button variant="creative" :disabled="ignoredIds.includes(user.id)" @click="handleSelection(user)">{{ $t('js.users.search.invite') }}</gp-button>
        </template>
      </gp-list-item>

      <gp-button class="-mtd" :caption="$t('js.users.search.hide')" block @click="showResults=false" />
    </div>
  </div>
</template>

<script>
import randomString from '../../../../../helpers/RandomString'
import { debounce } from 'debounce'
import GpaUserInvitationForm from './_InvitationForm.vue'
import GpEmpty from '../../../../common/DataDisplay/Empty/Empty.vue'
import GpButton from '../../../../common/Button/Button.vue'
import GpField from '../../../../common/Form/Field.vue'
import GpListItem from '../../../../common/ListItem/ListItem.vue'
import GpLoading from '../../../../common/Loading/Loading.vue'
import GpModal from '../../../../common/Modal/Modal.vue'

export default {
  name: 'GpaSearchUsers',
  emits: [
    'choose',
  ],
  components: { GpModal, GpLoading, GpListItem, GpField, GpButton, GpEmpty, GpaUserInvitationForm },
  props: {
    ignoredIds: { required: false, type: Array, default: () => [] },
    searchField: { required: false, type: String, default: 'username', validator: s => /^(username|email)$/.test(s) },
  },
  data () {
    return {
      minimumStringLength: 3,
      showResults: false,
      id: `search_field_${randomString()}`,
      name: 'search_field',
      loading: false,
      results: [],
      inputValue: '',
      invitationError: null,
    }
  },
  computed: {
    noResultText () {
      if (this.results.length === 0) return this.$t('js.users.search.no-results')
      else return this.$t('js.users.search.no-results')
    },
  },
  methods: {
    clearResults () {
      this.showResults = false
      this.inputValue = ''
    },
    search () {
      if (this.searchField === 'email') this.searchByEmail()
      else this.searchByUserName()
    },
    searchByUserName: debounce(function () {
      if (this.inputValue.length < this.minimumStringLength) return

      this.loading = true
      this.showResults = true
      this.$store.dispatch('findUsers', { username: this.inputValue })
        .then((users) => { this.setResults(users) })
    }, 500),
    searchByEmail () {
      this.loading = true
      this.showResults = true

      this.$store.dispatch('findUsers', { email: this.inputValue })
        .then((users) => { this.setResults(users) })
    },
    setResults (users) {
      this.results = users
      this.loading = false
    },
    toggleResults () {
      if (this.searchField === 'username' || (this.searchField === 'email' && this.results.length > 0)) this.showResults = true
    },
    handleSelection (user) {
      this.$emit('choose', user)
      this.showResults = false
    },
  },
}
</script>
