- url = tag.id ? admin_tag_path : admin_tags_path
= form_for tag, url: url do |f|
  - if tag.errors.any?
    .gp-alert.gp-alert--danger
      %p= t('.errors', count: tag.errors.count)
      %ul
        - tag.errors.full_messages.each do |message|
          %li= message

  %field
    = f.label :name
    = f.text_field :name, required: true

  .gp-actions.gp-actions--bottom
    = f.submit t('generic.save'), class: 'gp-button gp-button--recording'
