- @page_title = t('.title')

.gp-actions.gp-actions--top
  = link_to t('generic.back'), :admin_tags, role: 'button', class: 'gp-button'
  = link_to t('generic.show'), @admin_tag, role: 'button', class: 'gp-button'
  = link_to t('generic.destroy'),
            @admin_tag,
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button',
            class: 'gp-button gp-button--destructive'

= render 'form', tag: @tag
