- @page_title = t('.title', name: @tag.name)

.gp-actions.gp-actions--top
  = link_to t('generic.back'), admin_tags_path, role: 'button', class: 'gp-button'

  = link_to t('generic.edit'), edit_admin_tag_path(@tag), role: 'button', class: 'gp-button'
  = link_to t('generic.destroy'),
            admin_tag_path,
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button',
            class: 'gp-button gp-button--destructive'
._show-page
  %aside._show-page__panel
    %section
      %dl
        %dt= t('generic.definition', value: t('generic.id'))
        %dd.-monospace= @tag.id

        %dt= t('generic.definition', value: t('.name'))
        %dd= @tag.name

  ._show-page__content
    %h2= t('.tagged_resources')
    %ul
      - if Resource.tagged_with(@tag.name).count.zero?
        .gp-empty= t('.no_resource_tagged')
      - else
        - Resource.tagged_with(@tag.name).each do |resource|
          %li= link_to resource.name, admin_resource_url(resource)
