<template>
  <gp-form v-if="resourceNote.resourceId"
           :errors="errors"
           :loading="loading"
           model="resource_note"
           @cancel="$emit('cancel')"
           @submit.prevent="save">
    <gp-field input-id="resource_note_content" :label="$t('activerecord.attributes.resource_note.content')">
      <textarea id="resource_note_content" v-model="inputs.content" name="content" />
    </gp-field>

    <gp-field :help="$t('js.resource_note.form.visible_help')">
      <label>
        <input v-model="inputs.visible" type="checkbox" name="visible">
        {{ $t('activerecord.attributes.resource_note.visible') }}
      </label>
    </gp-field>
  </gp-form>

  <gp-alert v-else variant="error">
    {{ $t('js.resource_note.form.missing_resource_id') }}
  </gp-alert>
</template>

<script>
import GpForm from '../../../../common/Form/Form.vue'
import ResourceNote from '../../../../classes/models/ResourceNote'
import GpAlert from '../../../../common/Alert/Alert.vue'
import GpField from '../../../../common/Form/Field.vue'

export default {
  name: 'GpaResourceNoteForm',
  emits: [
    'cancel',
    'saved',
  ],
  components: { GpField, GpAlert, GpForm },
  props: {
    resourceNote: { required: false, type: [ResourceNote, Object], default: () => ({}) },
  },
  data () {
    return {
      errors: null,
      loading: false,
      inputs: this.defaultInputs(),
    }
  },
  methods: {
    defaultInputs () {
      return {
        content: '' || this.$props.resourceNote.content,
        visible: this.resourceNote.visible !== false,
      }
    },
    save () {
      this.errors = null
      this.loading = false
      const payload = {
        id: this.$props.resourceNote.id,
        resource_id: this.$props.resourceNote.resourceId,
        content: this.inputs.content,
        visible: this.inputs.visible,
      }
      this.$store.dispatch('saveResourceNote', payload)
        .catch((errors) => { this.errors = errors })
        .then(() => {
          this.loading = false
          this.$emit('saved')
        })
    },
  },
  watch: {
    resourceNote () {
      this.inputs = this.defaultInputs()
    },
  },
}
</script>
