<template>
  <div>
    <gp-alert v-if="loading" variant="info">{{ $t('generic.loading') }}</gp-alert>
    <gp-alert v-else-if="notesError" variant="warning">{{ $t('js.resources.description_area.user_notes_loading_error') }}</gp-alert>
    <gp-empty v-else-if="notes.length === 0" inline>
      {{ $t('js.resources.description_area.no_user_note') }}
    </gp-empty>
    <div v-else>
      <gp-observation v-for="note in notes"
                      :key="note.id"
                      :caption="note.username"
                      :date="note.updatedAt"
                      :content="note.content">
        <template v-if="note.userId === account.id" #actions>
          <gp-button icon="pencil" :title="$t('generic.edit')" @click="$emitBus('show-resource-note-form', note)" />
          <gp-button icon="trash" variant="destructive" :title="$t('generic.destroy')" @click="handleDestroyNote(note)" />
        </template>
      </gp-observation>
    </div>
  </div>
</template>

<script>
import GpEmpty from '../../../../common/DataDisplay/Empty/Empty.vue'
import Toaster from '../../../../tools/Toaster'
import Resource from '../../../../classes/models/Resource'
import GpButton from '../../../../common/Button/Button.vue'
import GpAlert from '../../../../common/Alert/Alert.vue'
import GpObservation from '../../../../common/DataDisplay/Observation/Observation.vue'

export default {
  name: 'GpaResourceNotes',
  components: { GpObservation, GpAlert, GpButton, GpEmpty },
  props: {
    resource: { required: true, type: Resource },
  },
  data () {
    return {
      notesError: false,
      loading: false,
    }
  },
  computed: {
    notes () { return this.$props.resource.notes },
    account () { return this.$store.getters.account },
  },
  methods: {
    loadNotes () {
      this.loading = true
      this.notesError = false

      this.$store.dispatch('loadResourceNotes', this.$props.resource.id)
        .catch(() => { this.notesError = true })
        .then(() => { this.loading = false })
    },
    handleDestroyNote (note) {
      this.$emitBus('ask-confirmation', {
        callback: () => {
          this.$store.dispatch('destroyResourceNote', note.id)
            .then(() => { Toaster.success(this.$t('js.resource_note.successfully_destroyed')) })
            .catch(() => { Toaster.error(this.$t('js.resource_note.failed_to_destroy')) })
        },
      })
    },
  },
  created () {
    this.loadNotes()
  },
}
</script>
