<template>
  <table class="gp-month-flags -smaller">
    <thead>
      <tr>
        <th v-for="(month, index) in months" :key="index" class="-center -small" :class="{'gp-month-flag__cell--active': index === currentMonth }">{{ month[0] }}</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(values, name) in flags" :key="name">
        <th class="-right">{{ name }}</th>
        <td v-for="(value, index) in values" :key="index" class="gp-month-flag__cell -center" :class="{'gp-month-flag__cell--active': index+1 === currentMonth, ok: value}">
          <gp-icon :name="value? 'check' : 'blank'" />
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import GpIcon from '../../Icon/Icon.vue'

export default {
  name: 'GpMonthsFlags',
  components: { GpIcon },
  props: {
    /**
     * Needs key/values as: `{ 'row name': [value1, value2, ...], }`
     */
    flags: { required: true, type: Object },
  },
  data () {
    return {
      months: this.$tm('date.abbr_month_names'),
      currentMonth: new Date().getMonth() + 1,
    }
  },
}
</script>
