/*
 * Some of the rules are based on KnaCSS 8
 * https://github.com/alsacreations/KNACSS/blob/v8.0.4/sass/base/_reset-accessibility.scss
 * @license WTFPL https://github.com/alsacreations/KNACSS/blob/v8.0.4/LICENSE
 */

@use '../core/breakpoints' as bp;
@use '../core/mixins' as m;

// Hidden but not for an assistive technology like a screen reader, Yahoo! method
.visually-hidden,
.sr-only {
  @include m.sr-only();
}

// Defines two helpers to hide content on "$breakpoint or less", for every breakpoint
@each $bp, $bpv in bp.$breakpoints {
  @media (max-width: #{$bpv - 1}) { /* stylelint-disable-line scss/media-feature-value-dollar-variable */
    .-#{$bp}-l\:hidden {
      display: none;
    }

    .-#{$bp}-l\:sr-only { /* stylelint-disable-line no-duplicate-selectors */
      @include m.sr-only();
    }
  }
}

// Combinations of classname, property and values to generate classes that applies
// on some breakpoints only. E.g.: with (hidden, display, none):
//   .-sm:hidden { display: none }
//   .-md:hidden { display: none }
//   .-lg:hidden { display: none }
$utils: (
  (hidden, display, none),
  (block, display, block),
);

// Create combinations of breakpoints and $utils
@each $bp, $bpv in bp.$breakpoints {
  @media (min-width: #{$bpv}) {
    .-#{$bp}-sr-only {
      @include m.sr-only();
    }

    @each $class, $prop, $value in $utils {
      .-#{$bp}\:#{$class} {
        #{$prop}: #{$value} !important; /* stylelint-disable declaration-no-important */
      }
    }
  }
}
