@use '../core';

// Grid placeholder to generate a column of elements. This should be used as
// the default style for a grid variant, with an override for the breakpoints
%grid {
  display: grid;
  grid-template-columns: 1fr;
}

// Adds a gap on a grid
.-grid-gap {
  grid-gap: var(--spacer-default);

  @include core.respond-to('small') {
    > *:not(:last-child) { margin-bottom: var(--spacer-default); }
  }
}

// Grid variants
.-grid--2 {
  @extend %grid;

  @include core.respond-to('medium-up') {
    grid-template-columns: 1fr 1fr;
  }
}

.-grid--3 {
  @extend %grid;

  @include core.respond-to('medium-up') {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.-grid--4 {
  @include core.respond-to('small-up') {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include core.respond-to('large-up') {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.-grid--1-2 {
  @extend %grid;

  @include core.respond-to('medium-up') {
    grid-template-columns: 1fr 2fr;
  }
}

.-grid--2-1 {
  @extend %grid;

  @include core.respond-to('medium-up') {
    grid-template-columns: 2fr 1fr;
  }
}

// Background
.-checked-background { background-image: var(--background-checked); }

// Visibility
.-hidden { display: none; }

// Flex
.-flex {
  display: flex;
  align-items: center;
}

.-inline-flex {
  display: inline-flex;
  align-items: center;
}
.-flex-grow { flex-grow: 1; }
.-flex-gap { gap: var(--spacer-default); }
.-flex-center { justify-content: center; }
.-flex-right { justify-content: right; }

.-align-self-end { align-self: end; }

// Margins
.-mv0 {
  margin-top: 0;
  margin-bottom: 0;
}

.-mvl {
  margin-top: var(--spacer-large);
  margin-bottom: var(--spacer-large);
}

.-mhd {
  margin-right: var(--spacer-default);
  margin-left: var(--spacer-default);
}

.-mbd { margin-bottom: var(--spacer-default); }
.-mbm { margin-bottom: var(--spacer-medium); }
.-mbl { margin-bottom: var(--spacer-large); }

.-md { margin: var(--spacer-default); }

.-mt0 { margin-top: 0; }
.-mtd { margin-top: var(--spacer-default); }
.-mtm { margin-top: var(--spacer-medium); }
.-mtl { margin-top: var(--spacer-large); }

// Paddings
.-pbt { padding-bottom: var(--spacer-tiny); }

.-pd { padding: var(--spacer-default); }

// Accessibility
.-sr-only {
  @include core.sr-only();
}
