= vite_javascript_tag 'vue-tag-selector'

- url = resource.id ? admin_resource_path : admin_resources_path
= form_for resource, url: url do |f|
  - if resource.errors.any?
    .gp-alert.gp-alert--danger
      %p= t('.errors', count: resource.errors.count)
      %ul
        - resource.errors.full_messages.each do |message|
          %li= message

  ._show-page
    %section._show-page__panel
      .gp-field
        = f.label :name
        = f.text_field :name, required: true
      .gp-field
        = f.label :latin_name
        = f.text_field :latin_name, required: true
      .gp-field
        = f.label :resource_interactions_group
        = f.collection_select :resource_interactions_group_id,
                              ResourceInteractionsGroup.order(:name),
                              :id,
                              :name,
                              prompt: true
        .gp-field__help= t('.resource_interactions_group_help')
      .gp-field
        = f.label :tag_list
        = tag_selector f, :tag_list, :resource_tag_list, resource.tag_list
      .gp-field
        = f.label :diameter
        = f.number_field :diameter, step: 0.01, min: 0
      .gp-field
        = f.label :color do
          = t('activerecord.attributes.resource.color')
          .color_preview#color-preview
        = f.text_field :color, required: true
        .gp-field__help= t('.color_help')
      .gp-field
        = f.label :common_names
        = f.text_field :common_names, value: resource.common_names.join(', ')
        .gp-field__help= t('generic.comma_separated_values')
      .gp-field
        = f.label :sources
        = f.text_area :sources, value: resource.sources.join("\n")
        .gp-field__help= t('.sources_help')
      .gp-field
        = f.label :parent_id, t('activerecord.attributes.resource.parent')
        = f.collection_select :parent_id, Resource.parentable.order(:name), :id, :name, prompt: true
      .gp-field
        = f.label :genus_id, t('activerecord.attributes.resource.genus')
        = f.collection_select :genus_id, Genus.all.order(:name), :id, :name, { include_blank: true }, required: true
    %section._show-page__content
      .gp-field
        = f.label :description
        = f.text_area :description, class: '-markdown -large'

      - Resource::BITFIELD_MONTHS_ATTRIBUTES.each_pair do |field, prefix|
        .gp-field
          %label= t("activerecord.attributes.resource.#{field}")
          .gp-month-flags-input
            - fields = GardenParty::BitfieldModelHelper.bitfield_months(prefix)
            - fields.each_pair do |key, attribute|
              = f.label attribute do
                = f.check_box attribute
                = t('date.abbr_month_names')[fields.keys.find_index(key) + 1]

  .gp-actions.gp-actions--bottom
    = f.submit t('generic.save'), class: 'gp-button gp-button--recording'

:javascript
  function updateColorPreview() {
    var target = document.getElementById('color-preview')
    var input  = document.getElementById('resource_color')
    var valid = true
    input.value.split(',').map(function(c) {return c.trim()}).forEach(function(e) {
      var value = parseInt(e, 10)
      if(!/^\d{1,3}$/.test(e) || value > 255 || value < 0) valid = false
    })
    if(valid) {
      target.style.backgroundColor= 'rgb('+input.value+')'
      input.setCustomValidity('');
    } else {
      input.setCustomValidity('#{escape_javascript(t('activerecord.errors.bad_color_segment'))}');
    }
  }
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('resource_color').addEventListener('input', updateColorPreview)
    updateColorPreview()
  })
