- @page_title = t('.title')

.gp-actions.gp-actions--top
  = link_to t('generic.back'), :admin_resources, role: 'button', class: 'gp-button'
  = link_to t('generic.show'), admin_resource_path(@resource), role: 'button', class: 'gp-button'
  = link_to t('generic.destroy'),
            admin_resource_path(@resource),
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button',
            class: 'gp-button gp-button--destructive'

= render 'form', resource: @resource
