- @page_title = t('.title')

.gp-actions.gp-actions--top
  = link_to t('.new'), new_admin_resource_path, role: 'button', class: 'gp-button gp-button--creative'

- if @resources.size.positive?
  = render 'admin/widgets/pagination', list: @resources

._filters
  ._filters__section
    ._filters__section__title= t('.usage')
    = filter_by_link t('generic.all'), filters: { elements: nil }, keep: [:search, :source]
    = filter_by_link t('.unused'), filters: { elements: 'without' }, keep: [:search, :source]
  ._filters__spring
  ._filters__section= render 'admin/widgets/search', keep: [:source, :elements]

- if @resources.empty?
  .gp-empty= t('.no_content')
- else
  %table
    %caption.-sr-only= t('.table_caption')
    %thead
      %tr
        %th.-monospace.-right{ scope: 'col' }= t('generic.id')
        %th.-monospace.-right{ scope: 'col' }= t('activerecord.attributes.resource.sync_id')
        %th{ scope: 'col' }= order_by_link t('activerecord.attributes.resource.name'),
                                          'name',
                                          keep_filters: [:search, :source, :elements]
        %th{ scope: 'col' }= order_by_link t('activerecord.attributes.resource.latin_name'),
                                          'latin_name',
                                          keep_filters: [:search, :source, :elements]
        %th{ scope: 'col' }= t('activerecord.attributes.resource.diameter')
        %th{ scope: 'col' }= t('activerecord.attributes.resource.parent')
        %th{ scope: 'col' }= t('activerecord.attributes.resource.genus')
        %th{ scope: 'col' }= t('activerecord.attributes.resource.sources')
        %th{ scope: 'col' }= t('activerecord.models.element', count: 2)
        %th{ scope: 'col' }

    %tbody
      - @resources.each do |resource|
        %tr
          %td.-monospace.-right= resource.id
          %td.-monospace.-right= resource.sync_id.presence || '-'
          %td{ class: resource.generic? ? '-italic' : '' }= link_to resource.name, admin_resource_path(resource)
          = missing_data_element :td, resource.latin_name, replacement: '-'
          = missing_data_element :td, resource.diameter, replacement: '-'
          %td
            - if resource.parent.present?
              = link_to resource.parent.name, admin_resource_path(resource.parent)
            - else
              \-
          %td= resource.genus.name
          %td.centered{ class: (resource.sources.length.positive? ? '' : '-text--warning') }
            = yes_no resource.sources.length.positive?
          %td.centered= resource.elements.size
          %td.-actions
            = link_to t('generic.edit'),
                      edit_admin_resource_path(resource),
                      role: 'button',
                      class: 'gp-button gp-button--small'
            = link_to t('generic.destroy'),
                      admin_resource_path(resource),
                      method: :delete,
                      data: { confirm: t('generic.are_you_sure') },
                      role: 'button',
                      class: 'gp-button gp-button--small gp-button--destructive'

  = render 'admin/widgets/pagination', list: @resources, name: 'resource'
