- @page_title = t('.title')

- if current_user
  .gp-actions.gp-actions--top
    = link_to t('.new'), new_link_path, role: 'button', class: 'gp-button gp-button--creative'

- if @links.count.zero?
  .gp-empty= t('.no_content')
- else
  ._container
    - @links.each do |link|
      .gp-item{ class: link.pending_approval? ? 'gp-item--disabled' : '' }
        .gp-item__header
          %h3.gp-item__header__title
            - if link.pending_approval?
              [#{t('.approval_pending')}]
            = link_to link.title, link.url, rel: 'noopener noreferrer'
        - if owner? link
          .gp-item__aside
            .gp-toolbar
              = link_to t('generic.edit'), edit_link_path(link), class: 'gp-button'
              = link_to t('generic.destroy'), link_path(link), method: :delete,
                        data: { confirm: t('generic.are_you_sure') },
                        class: 'gp-button gp-button--destructive'
        .gp-item__content= link.description
