<template>
  <aside class="gpa-resource-selector">
    <gp-search-form v-model="searchTerm" :disabled="!!showChildren" />

    <recycle-scroller v-show="!showChildren"
                      v-slot="{ item }"
                      key-field="id"
                      :items="resources"
                      :item-size="47"
                      class="gpa-resource-selector__items _virtual-scroll-area">
      <gpa-resource-selector-resource :resource="item.resource"
                                      :children="item.children"
                                      :selected-id="selectedResourceId"
                                      :resource-interactions-groups="resourceInteractionGroups"
                                      @choose="handleResourceSelection"
                                      @show-children="handleChildrenDisplay" />
    </recycle-scroller>

    <div v-if="showChildren" class="gpa-resource-selector__items">
      <div class="gpa-resource-selector__items__title">
        <gp-button icon="caret-left" text @click="showChildren=null" />
        <h3>{{ parentName }}</h3>
      </div>

      <recycle-scroller v-slot="{ item }"
                        key-field="id"
                        :items="showChildren"
                        :item-size="47"
                        class="_virtual-scroll-area">
        <gpa-resource-selector-resource :resource="item.resource"
                                        :children="item.children"
                                        :selected-id="selectedResourceId"
                                        :resource-interactions-groups="resourceInteractionGroups"
                                        @choose="handleResourceSelection"
                                        @show-children="handleChildrenDisplay" />
      </recycle-scroller>
    </div>
  </aside>
</template>

<script>
import Patch from '../../../../../classes/models/Patch'
import GpaResourceSelectorResource from './Resource.vue'
import GpButton from '../../../../../common/Button/Button.vue'
import GpSearchForm from '../../../../../common/Form/SearchForm.vue'

/**
 * @typedef {import('../../../../../classes/models/Resource')} Resource
 */

export default {
  name: 'GpaResourceSelector',
  emits: [
    'done',
    'choose',
  ],
  components: { GpSearchForm, GpButton, GpaResourceSelectorResource },
  props: {
    selectedResourceId: { required: false, type: Number, default: null },
    patch: { required: false, type: Patch, default: null },
  },
  data () {
    return {
      showDescriptionOf: null,
      searchTerm: '',
      showChildren: null,
      parentName: null,
    }
  },
  computed: {
    resources () { return this.$store.getters.resourcesGroupedByParent(this.searchTerm) },
    resourceInteractionGroups () {
      if (!this.patch) return []

      /** @type {Resource[]} resources */
      const resources = this.patch.elements.map(e => e.resource)
      const groups = []

      // Find unique groups
      resources.forEach((resource) => {
        const group = resource.resourceInteractionsGroup
        if (group || groups.findIndex(g => g.id === group.id) === -1) groups.push(group)
      })

      return groups
    },
  },
  methods: {
    handleResourceSelection (resource) {
      // Weirdly, the `choose` event is received twice; second time with an empty
      // value. Let's ignore it
      if (!resource) return

      if (this.patch) {
        const payload = { resource_id: resource.id, patch_id: this.patch.id }
        this.$store.dispatch('createElement', { payload })
          .then(() => this.$emit('done'))
      } else {
        this.$emit('choose', resource)
      }
    },
    handleChildrenDisplay ({ name, children }) {
      this.showChildren = children.map(c => ({ id: c.id, resource: c, children: [] }))
      this.parentName = name
    },
  },
}
</script>

<style lang="scss" src="./Selector.scss" />
