.gpa-resource-selector {
  display: flex;
  height: 100%;
  flex-direction: column;

  &__items {
    flex-grow: 1;
    overflow-y: hidden;

    &__title {
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--border-color);
      background-color: var(--component-content-background);
      gap: var(--spacer-small);

      h3 {
        margin: var(--spacer-small) 0;
      }
    }
  }

  .gp-search-form {
    position: relative;
    flex: none;
    padding: var(--spacer-default);
    border-bottom: 1px solid var(--border-color);
  }
}

.gp-modal {

  // Make the virtual scroll list working when selector is in a modal
  .gpa-resource-selector {
    &__items {
      max-height: 60vh;
    }
  }
}
