<template>
  <div>
    <div v-if="notifications.length > 0" class="_container">
      <gpa-notification v-for="notification in notifications" :key="notification.id" :notification="notification" />
    </div>
    <gp-empty v-else>{{ $t('js.notifications.no_notification') }}</gp-empty>

    <gp-actions v-if="notifications.length > 0" bottom>
      <gp-button icon="archive" @click="archiveAll">
        {{ $t('js.notifications.archive_all') }}
      </gp-button>
      <gp-button variant="destructive" icon="trash" @click="destroyAllArchived">
        {{ $t('js.notifications.delete_all_archived') }}
      </gp-button>
    </gp-actions>
  </div>
</template>

<script>
import GpaNotification from './_Notification.vue'
import GpEmpty from '../../../../common/DataDisplay/Empty/Empty.vue'
import GpButton from '../../../../common/Button/Button.vue'
import GpActions from '../../../../common/Actions/Actions.vue'

export default {
  name: 'GpaNotifications',
  components: { GpActions, GpButton, GpEmpty, GpaNotification },
  data () {
    return {
      loading: false,
    }
  },
  computed: {
    notifications () { return this.$store.getters.notifications },
  },
  methods: {
    archiveAll () {
      this.loading = true
      this.$store.dispatch('archiveAllNotifications')
        .then().catch().then(() => { this.loading = false })
    },
    destroyAllArchived () {
      this.loading = true
      this.$store.dispatch('destroyAllNotifications')
        .then().catch().then(() => { this.loading = false })
    },
  },
}
</script>
