<template>
  <div class="gpa-notification" :class="componentCSS">
    <gp-icon v-if="icon" :name="icon" size="3" />
    <div class="gpa-notification__header">
      <div class="gpa-notification__header__date">{{ $d(notification.createdAt, 'date') }}</div>
      <div class="gpa-notification__header__title">{{ title }}</div>
    </div>
    <gp-toolbar v-if="showActions && actions.length > 0">
      <gp-button v-for="(action, index) in actions"
                 :key="index"
                 :icon="action.icon"
                 :title="action.text"
                 :variant="action.variant"
                 :disabled="loading || action.disabled"
                 @click="action.command">
        <template v-if="action.showText">
          {{ action.text }}
        </template>
      </gp-button>
    </gp-toolbar>
    <div v-if="message" class="gpa-notification__message">
      <gp-markdown-renderer :content="message" />
    </div>
  </div>
</template>

<script>
import Notification from '../../../../classes/models/Notification'
import GpMarkdownRenderer from '../../../../common/DataDisplay/MarkdownRenderer/MarkdownRenderer.vue'
import GpIcon from '../../../../common/Icon/Icon.vue'
import Toaster from '../../../../tools/Toaster'
import GpButton from '../../../../common/Button/Button.vue'
import GpToolbar from '../../../../common/Toolbar/Toolbar.vue'

export default {
  name: 'GpaNotification',
  components: { GpToolbar, GpButton, GpMarkdownRenderer, GpIcon },
  props: {
    notification: { required: true, type: Notification },
    showActions: { required: false, type: Boolean, default: true },
  },
  data () {
    return {
      loading: false,
    }
  },
  computed: {
    componentCSS () {
      return [
        this.$props.notification.archivedAt && 'gpa-notification--archived',
      ]
    },
    actions () {
      const archive = { text: this.$t('js.notifications.action.archive'), icon: 'archive', showText: false, command: this.archive, disabled: this.notification.archivedAt }
      const removeNotification = { text: this.$t('js.notifications.action.delete'), icon: 'trash', variant: 'destructive', showText: false, command: this.destroy }
      const accept = { text: this.$t('js.notifications.action.accept'), icon: 'check', variant: 'creative', showText: true, command: this.acceptTeamMateInvitation }
      const refuse = { text: this.$t('js.notifications.action.refuse'), icon: 'x-bold', variant: 'destructive', showText: false, command: this.refuseTeamMateInvitation }

      switch (this.notification.type) {
        case 'TeamMateInviteNotification':
          return [accept, archive, refuse]
        case 'TeamMateAcceptNotification':
        case 'TeamMateLeaveNotification':
        case 'TeamMateRefuseNotification':
        case 'TeamMateRemoveNotification':
        case 'SystemNotification':
        default: return [archive, removeNotification]
      }
    },
    icon () {
      switch (this.notification.type) {
        case 'TeamMateAcceptNotification':
        case 'TeamMateInviteNotification':
        case 'TeamMateLeaveNotification':
        case 'TeamMateRefuseNotification':
        case 'TeamMateRemoveNotification': return 'users'
        case 'SystemNotification': return 'system'
        default: return null
      }
    },
    message () {
      switch (this.notification.type) {
        case 'TeamMateAcceptNotification':
        case 'TeamMateInviteNotification':
        case 'TeamMateLeaveNotification':
        case 'TeamMateRefuseNotification':
        case 'TeamMateRemoveNotification': return null
        case 'SystemNotification':
          return this.notification.content.message
        default: return '???'
      }
    },
    title () {
      switch (this.notification.type) {
        case 'TeamMateAcceptNotification':
          return this.$t('js.notifications.messages.team_mate_accept', { username: this.notification.sender.username, map: this.notification.subject.map.name })
        case 'TeamMateInviteNotification':
          return this.$t('js.notifications.messages.team_mate_invitation', { username: this.notification.sender.username, map: this.notification.subject.map.name })
        case 'TeamMateLeaveNotification':
          return this.$t('js.notifications.messages.team_mate_leave', { username: this.notification.sender.username, map: this.notification.subject.name })
        case 'TeamMateRefuseNotification':
          return this.$t('js.notifications.messages.team_mate_refuse', { username: this.notification.sender.username, map: this.notification.subject.name })
        case 'TeamMateRemoveNotification':
          return this.$t('js.notifications.messages.team_mate_remove', { username: this.notification.sender.username, map: this.notification.subject.name })
        case 'SystemNotification':
          return this.notification.content.title
        default: return '???'
      }
    },
  },
  methods: {
    handleAction (promise) {
      this.loading = true
      return promise.then().catch().then(() => { this.loading = false })
    },
    archive () {
      return this.$store.dispatch('archiveNotification', this.$props.notification.id)
    },
    destroy () {
      return this.$store.dispatch('destroyNotification', this.$props.notification.id)
    },
    acceptTeamMateInvitation () {
      this.handleAction(this.$store.dispatch('acceptTeamMateInvitation', { id: this.$props.notification.subjectId, notificationId: this.$props.notification.id }))
        .then(() => { Toaster.success(this.$t('js.team_mates.successfully_accepted')) })
    },
    refuseTeamMateInvitation () {
      this.handleAction(this.$store.dispatch('acceptTeamMateInvitation', this.$props.notification.subjectId))
        .then(() => {
          this.$store.dispatch('destroyNotification', this.$props.notification.id)
          Toaster.success(this.$t('js.team_mates.successfully_refused'))
        })
    },
  },
}
</script>

<style lang="scss" src="./Notification.scss" />
