.gpa-notification {
  display: flex;
  align-items: flex-start;
  gap: var(--spacer-default);

  &:not(:last-child) {
    margin-bottom: var(--spacer-small);
  }

  &__header {
    flex-grow: 1;

    &__date {
      font-size: small;
    }
  }

  .gp-icon,
  .gp-toolbar {
    flex: none;
  }

  &--full {
    display: grid;
    grid-gap: var(--spacer-small);
    grid-template-areas:
      'icon    title   actions'
      'message message message';
    grid-template-columns: auto 1fr auto;
    .gpa-notification__title { grid-area: title; }

    .gpa-notification__message {
      grid-area: message;
    }

    .gp-icon {
      grid-area: icon;
    }

    .gp-toolbar {
      grid-area: actions;
    }
  }

  &--archived {
    opacity: 0.7;

    &:hover {
      opacity: 1;
      transition: opacity linear 200ms;
    }
  }
}
