<template>
  <div class="gp-item" :class="componentCSS">
    <div class="gp-item__header">
      <img v-if="image"
           class="gp-item__header__image"
           :src="image"
           :alt="imageTitle"
           :title="imageTitle">

      <gp-icon v-else-if="icon" class="gp-item__header__icon" :name="icon" />

      <h3 class="gp-item__header__title">{{ caption }}</h3>

      <gp-button v-if="collapsible"
                 class="gp-item__header__icon"
                 text
                 @click="collapsed = !collapsed">
        {{ collapsed ? '▸' : '&blacktriangledown;' }}
      </gp-button>
    </div>
    <div v-if="$slots.aside" class="gp-item__aside">
      <slot name="aside" />
    </div>
    <div v-if="$slots.default" class="gp-item__content">
      <slot />
    </div>
  </div>
</template>

<script>
import GpIcon from '../Icon/Icon.vue'
import GpButton from '../Button/Button.vue'

export default {
  name: 'GpItem',
  components: { GpButton, GpIcon },
  props: {
    /** Header text */
    caption: { required: true, type: String, default: null },
    /** Optional icon name. May be overridden by `image` prop */
    icon: { required: false, type: String, default: null },
    /** Optional image URL. Overrides `icon` prop */
    image: { required: false, type: String, default: null },
    /** Additional image title (and alt) attribute */
    imageTitle: { required: false, type: String, default: null },
    /** Whether or not the content can be collapsed */
    collapsible: { required: false, type: Boolean, default: false },
    /** Whether or not the item is considered disabled */
    disabled: { required: false, type: Boolean, default: false },
  },
  data () {
    return {
      collapsed: this.collapsible && this.disabled,
    }
  },
  computed: {
    componentCSS () {
      return [
        this.collapsible && this.collapsed && 'gp-item--collapsed',
        this.disabled && 'gp-item--disabled',
      ]
    },
  },
}
</script>
