- show_login_form = !devise_controller? && !current_user
%div{ class: show_login_form || current_user ? '-grid--2-1 -grid-gap' : '' }
  %section._hero._hero--transparent
    ._hero__header= Rails.configuration.garden_party[:instance][:name]

    - if Rails.configuration.garden_party[:instance][:punchline].present?
      %p.-medium
        = Rails.configuration.garden_party[:instance][:punchline]

    .-mtd= render 'layouts/application/instance_links'

  - if !show_login_form && current_user
    %aside
      .gp-list-item.gp-list-item--static
        .gp-list-item__content
          = icon('notification')
          .gp-list-item__title
            = t('.notifications', amount: current_user.notifications.unread.count)

      .gp-list-item.gp-list-item--static
        .gp-list-item__content
          .gp-list-item__title
            .gp-icon-text
              = icon('check')
              = t('.tasks')
            %ul.-unstyled.-small
              - amount = current_user.assigned_tasks.pending.overdue.count
              %li{ class: amount.positive? ? '-text--danger' : '-text--success' }
                = t('.tasks_overdue', amount: amount)
              - amount = current_user.assigned_tasks.pending.today.count
              %li{ class: amount.positive? ? '-text--warning' : '-text--success' }
                = t('.tasks_today', amount: amount)
              - amount = current_user.assigned_tasks.pending.next_week.count
              %li{ class: amount.positive? ? '-text--warning' : '-text--success' }
                = t('.tasks_next_week', amount: amount)

      .gp-toolbar.gp-toolbar--block
        = link_to t('.gardens'), app_path, class: 'gp-button gp-button--creative gp-button--block -flex-grow'
        = link_to t('.account'), :edit_user_registration, class: 'gp-button'
        = button_to t('.sign_out'), :destroy_user_session, method: 'delete', class: 'gp-button gp-button--destructive'

  - if show_login_form
    %aside
      %section._card
        ._card__content.-pd= render 'devise/sessions/form',
                                    hide_labels: true,
                                    resource: User.new,
                                    resource_name: 'user'
