.-inline-flex.-flex-gap.-centered.-small
  - if Rails.configuration.garden_party.instance[:location].present?
    .gp-icon-text
      = icon('map-pin')
      %span= Rails.configuration.garden_party.instance[:location]
  - if Rails.configuration.garden_party.instance[:website_url].present?
    .gp-icon-text
      = icon('external-link')
      %span
        %a{ href: Rails.configuration.garden_party.instance[:website_url], target: '_blank' }
          = t('instance.links.website')
  - if Rails.configuration.garden_party.instance[:chat_url].present?
    .gp-icon-text
      = icon('chat')
      %span
        %a{ href: Rails.configuration.garden_party.instance[:chat_url], target: '_blank' }
          = t('instance.links.chat')
  - if Rails.configuration.garden_party.instance[:forum_url].present?
    .gp-icon-text
      = icon('forum')
      %span
        %a{ href: Rails.configuration.garden_party.instance[:forum_url], target: '_blank' }
          = t('instance.links.forum')
