- as_navbar = admin_controller?
- if current_user&.admin?
  .gp-navbar{ class: as_navbar ? 'gp-navbar--fixed' : '-inline-flex -flex-center' }
    - if admin_controller?
      %nav.gp-navbar__menu
        = link_to t('.home'), :root, class: 'gp-menu-item'
    %nav.gp-navbar__menu
      = link_to t('.families'), :admin_families, class: 'gp-menu-item'
      = link_to t('.genera'), :admin_genera, class: 'gp-menu-item'
      = link_to t('.resources'), :admin_resources, class: 'gp-menu-item'
      = link_to t('.resource_interactions_groups'), :admin_resource_interactions_groups, class: 'gp-menu-item'
      = link_to t('.resource_interactions'), :admin_resource_interactions, class: 'gp-menu-item'
      = link_to t('.links'), :admin_links, class: 'gp-menu-item'
      = link_to t('.tags'), :admin_tags, class: 'gp-menu-item'
    %nav.gp-navbar__menu
      = link_to t('.import'), :admin_import, class: 'gp-menu-item'
