- hide_labels ||= false
- inline ||= false

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  %div{ class: inline ? '-flex -flex-gap' : '' }
    .gp-field
      - unless hide_labels
        = f.label :email
      = f.email_field :email,
                      autofocus: true,
                      autocomplete: 'email',
                      placeholder: t('activerecord.attributes.user.email'),
                      required: true

    .gp-field{ class: inline ? '-mt0' : '' }
      - unless hide_labels
        = f.label :password
      = f.password_field :password,
                          autocomplete: 'current-password',
                          placeholder: t('activerecord.attributes.user.password'),
                          required: true


  .gp-actions.gp-actions--bottom
    .-flex-grow
      - if User.devise_modules.include? :rememberable
        = f.label :remember_me do
          = f.check_box :remember_me
          = t('.remember_me')
    = f.submit t('devise.sessions.new.sign_in'), class: 'gp-button gp-button--creative'

%div
  = render 'devise/shared/links', resource_name: resource_name
