-# haml-lint:disable LineLength
- url = resource_interactions_group.id ? admin_resource_interactions_group_path : admin_resource_interactions_groups_path
-# haml-lint:enable LineLength
= form_for resource_interactions_group, url: url do |f|
  - if resource_interactions_group.errors.any?
    .gp-alert.gp-alert--danger
      %p= t('.errors', count: resource_interactions_group.errors.count)
      %ul
        - resource_interactions_group.errors.full_messages.each do |message|
          %li= message

  ._show-page
    %section._show-page__panel
      .gp-field
        = f.label :name
        = f.text_field :name, required: true

    %section._show-page__content
      .gp-field
        = f.label :description
        = f.text_area :description

  .gp-actions.gp-actions--bottom
    = f.submit t('generic.save'), class: 'recorder'
