- @page_title = t('.title')

.gp-actions.gp-actions--top
  = link_to t('generic.back'), :admin_resource_interactions_groups, role: 'button', class: 'gp-button'
  = link_to t('generic.show'), @admin_resource_interactions_group, role: 'button', class: 'gp-button'
  = link_to t('generic.destroy'),
            @admin_resource_interactions_group,
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'gp-button',
            class: 'gp-button gp-button--destructive'

= render 'form', resource_interactions_group: @resource_interactions_group
