- @page_title = t('.title')

.gp-actions.gp-actions--top
  = link_to t('.new'),
            new_admin_resource_interactions_group_path,
            role: 'button',
            class: 'gp-button gp-button--creative'

- if @resource_interactions_groups.count.zero?
  .gp-empty= t('.no_content')
- else
  %table
    %caption.-sr-only= t('.table_caption')
    %thead
      %tr
        %th.-monospace.-right{ scope: 'col' }= t('generic.id')
        %th.-monospace.-right{ scope: 'col' }= t('activerecord.attributes.genus.sync_id')
        %th{ scope: 'col' }= t('activerecord.attributes.resource_interactions_group.name')
        %th{ scope: 'col' }= t('activerecord.attributes.resource_interactions_group.description')
        %th{ scope: 'col' }

    %tbody
      - @resource_interactions_groups.each do |resource_interactions_group|
        %tr
          %td.-monospace.-right= resource_interactions_group.id
          %td.-monospace.-right= resource_interactions_group.sync_id.presence || '-'
          %td= link_to resource_interactions_group.name,
                        admin_resource_interactions_group_path(resource_interactions_group)
          %td= resource_interactions_group.description
          %td.-actions
            = link_to t('generic.edit'),
                      edit_admin_resource_interactions_group_path(resource_interactions_group),
                      role: 'button',
                      class: 'gp-button gp-button--small'
            = link_to t('generic.destroy'),
                      admin_resource_interactions_group_path(resource_interactions_group),
                      method: :delete,
                      data: { confirm: t('generic.are_you_sure') },
                      role: 'button',
                      class: 'gp-button gp-button--small gp-button--destructive'
