- @page_title = t('.title')

.gp-actions.gp-actions--top
  = link_to t('generic.back'), admin_resource_interactions_groups_path, role: 'button', class: 'gp-button'

= render 'form', resource_interactions_group: @resource_interactions_group

