.gp-observation {
  &__header {
    display: flex;
    align-items: center;
    padding: var(--spacer-small) var(--spacer-default);
    background-color: var(--component-content-background);
    gap: var(--spacer-default);

    &__date,
    &__pictures {
      flex: none;
    }

    &__date {
      display: flex;
      align-items: center;
      gap: var(--spacer-small);
    }

    &__title {
      flex-grow: 1;
      padding: 0;
      margin: 0;
      font-size: var(--font-size-h4);
      font-weight: var(--font-weight-h4);
    }
  }

  &__content {
    padding: var(--spacer-small) var(--spacer-default);
    white-space: pre-wrap;
  }

  &--has-pictures {
    .gp-observation__header {
      cursor: pointer;
    }
  }
}
