<template>
  <div class="gp-observation" :class="componentCSS">
    <div class="gp-observation__header" role="button" @click="showImages = !showImages">
      <div class="gp-observation__header__date" :title="$t('activerecord.attributes.observation.made_at')">
        <gp-icon name="calendar" />
        <small>{{ $d(date, 'date') }}</small>
      </div>
      <h3 class="gp-observation__header__title">
        {{ caption }}
      </h3>
      <div v-if="hasPictures" class="gp-observation__header__pictures">
        <gp-button icon="image" :caption="pictures.length" />
      </div>
      <gp-toolbar v-if="$slots.actions">
        <slot name="actions" />
      </gp-toolbar>
    </div>
    <div v-if="content" class="gp-observation__content">
      {{ content }}
    </div>
    <gp-thumbnails v-if="showImages && hasPictures" :list="pictures" @open="handleImageOpen" />
  </div>
</template>

<script>
import GpIcon from '../../Icon/Icon.vue'
import GpThumbnails from '../Thumbnails/Thumbnails.vue'
import GpButton from '../../Button/Button.vue'
import GpToolbar from '../../Toolbar/Toolbar.vue'

export default {
  name: 'GpObservation',
  emits: [
    'show-image',
  ],
  components: { GpToolbar, GpButton, GpThumbnails, GpIcon },
  props: {
    /** Observation title */
    caption: { required: true, type: String },
    date: { required: true, type: Date },
    content: { required: false, type: String, default: null },
    pictures: { required: false, type: Array, default: null },
  },
  data () {
    return {
      showImages: false,
    }
  },
  computed: {
    hasPictures () { return this.pictures && this.pictures.length > 0 },
    componentCSS () {
      return [
        this.hasPictures && 'gp-observation--has-pictures',
      ]
    },
  },
  methods: {
    handleImageOpen (url) { this.$emit('show-image', url) },
  },
}
</script>
