:ruby
  # "date" has no default so we don't forget it. It still can be null.
  version ||= nil
  title ||= nil
  version_separator = date.present? ? ' - ' : ''
  title_separator = date.present? || version.present? ? ' - ' : ''
  # Keep track of the number of uses of this partial to "open" the first entry
  @changelog_entry_number ||= 0
  @changelog_entry_number += 1

-# haml-lint:disable InstanceVariables
%details.changelog-entry{ class: version ? 'changelog-entry--release' : '', open: @changelog_entry_number == 1 }
  -# haml-lint:enable InstanceVariables
  %summary
    %h2
      = date
      = version ? "#{version_separator}#{version}" : ''
      = title.present? ? "#{title_separator}#{title}" : ''
  = yield
