%ul
  %li
    %strong Breaking changes
    %ul
      %li Activate "web history" mode for VueJS application routes. Update your favorites.
  %li
    %strong New features
    %ul
      %li Introduce the harvesting system. Feedback welcome.
  %li
    %strong Improvements
    %ul
      %li= merge_request_entry 'Patches: Display interactions when adding resources', number: 237
      %li Serve Ubuntu font
      %li Admin: Add link to create new resource from genus' <code>show</code> view
      %li Admin: Add link to create new genus from family's <code>show</code> view
  %li
    %strong Fixes
    %ul
      %li Resources: Fix hardcoded header
      %li Garden: Fix path drawing tool not... drawing
