%ul
  %li
    %strong Changements importants
    %ul
      %li Activation du mode "historique web" de VueJS pour les routes d'application. Mettez à jour vos favoris.
  %li
    %strong Nouvelles fonctionnalités
    %ul
      %li Introduction du système de suivi de récoltes.
  %li
    %strong Améliorations
    %ul
      %li= merge_request_entry "Parcelles: Affichage des interactions lors de l'ajout de ressources", number: 237
      %li Service de la police Ubuntu via les assets
      %li Admin: Ajout d'un lien pour créer un nouveau genre depuis la vue <code>show</code> d'une famille
      %li Admin: Ajout d'un lien pour créer une nouvelle ressource depuis la vue <code>show</code> d'un genre
  %li
    %strong Correctifs
    %ul
      %li Resources: Correction d'un en-tête de page hardcodé
      %li Jardin: Correction de l'outil de dessin de chemins qui ne... dessinait plus
