:ruby
  @page_title = Rails.configuration.garden_party[:instance][:name]
  @show_title = false

= render 'app/home/announcement'
= render 'app/home/development'
= render 'app/home/tested_features'
= render 'app/home/maps'

%hr
- if Rails.configuration.garden_party[:instance][:privacy_notice].present?
  -# rubocop:disable Rails/OutputSafety
  %section= Rails.configuration.garden_party[:instance][:privacy_notice].html_safe
  -# rubocop:enable Rails/OutputSafety
