<%-
  # Base template:
  # haml-rails/lib/generators/haml/scaffold/templates/_form.html.haml

  # Custom vars from available generator methods/instance vars:
  # i.e.: member
  namespace_name = class_path.length > 0 ? class_path.first : nil
  # i.e.: post (without namespace)
  singular_table_name_only = file_name
  # i.e.: posts (without namespace)
  plural_table_name_only = controller_class_name.demodulize.underscore
  # i.e: member_post_path(@post)
  path_method_to_one = namespace.blank? ? "@#{singular_table_name}" : "#{namespace_name}_#{singular_table_name_only}_path(@#{singular_table_name_only})"
-%>
<%- if namespace_name.blank? -%>
= form_for <%= singular_table_name_only %> do |f|
<%- else -%>
- url = <%= singular_table_name_only %>.id ? <%= namespace_name %>_<%= singular_table_name_only %>_path : <%= namespace_name %>_<%= plural_table_name_only %>_path
= form_for <%= singular_table_name_only %>, url: url do |f|
<%- end -%>
  - if <%= singular_table_name_only %>.errors.any?
    .gp-alert.gp-alert--danger
      %p= t('.errors', count: <%= singular_table_name_only %>.errors.count)
      %ul
        - <%= singular_table_name_only %>.errors.full_messages.each do |message|
          %li= message

  ._show-page
    %aside._show-page__panel
    <%- for attribute in attributes -%>
    <%- unless ['user'].include? attribute.name -%>
      .gp-field
        = f.label :<%= attribute.name %>
        = f.<%= attribute.field_type %> :<%= attribute.name %>

    <%- end -%>
    <%- end -%>
    ._show-page__content

  .gp-actions.gp-actions--bottom
    = f.submit t('generic.save'), class: 'recorder'
