<%-
  # Base template:
  # haml-rails/lib/generators/haml/scaffold/templates/show.html.haml

  # Custom vars from available generator methods/instance vars:
  # i.e.: member
  namespace_name = class_path.length > 0 ? class_path.first : nil
  # i.e.: post (without namespace)
  singular_table_name_only = file_name
  # i.e: member_post_path(@post)
  path_method_to_one = namespace.blank? ? "#{singular_table_name}_path" : "#{namespace_name}_#{singular_table_name_only}_path(@#{singular_table_name_only})"
-%>
- @page_title = t('.title', name: @<%= singular_table_name_only %>.name)

.gp-actions.gp-actions--top
  = link_to t('generic.back'), <%= index_helper %>_path, role: 'button', class: 'gp-button'
  <%- unless namespace_name.blank? -%>
  = link_to t('generic.edit'), edit_<%= singular_table_name %>_path(@<%= singular_table_name_only %>), role: 'button', class: 'gp-button'
  = link_to t('generic.destroy'),
            <%= path_method_to_one %>,
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button',
            class: 'gp-button gp-button--destructive'
  <%- end -%>
._show-page
  %aside._show-page__panel
    %section
      %dl
        %dt= t('generic.definition', value: t('generic.id'))
        %dd.-monospace= @<%= singular_table_name_only %>.id

      <%- for attribute in attributes -%>
        %dt= t('generic.definition', value: t('activerecord.attributes.<%= singular_table_name_only %>.<%= attribute.name %>'))
        %dd= @<%= singular_table_name_only %>.<%= attribute.name %>

      <%- end -%>
  ._show-page__content
    -# %h2= t('activerecord.attributes.<%= singular_table_name_only %>.xxx')
    -# = @<%= singular_table_name_only %>.xxx

