.gp-soil-analyzer {
  $clayey-color: var(--state-color-green);
  $clayey-color-hover: var(--state-color-green--hover);
  $equilibrate-color: var(--state-color-orange);
  $equilibrate-color-hover: var(--state-color-orange--hover);
  $sandy-color: var(--state-color-blue);
  $sandy-color-hover: var(--state-color-blue--hover);
  $silty-color: var(--state-color-red);
  $silty-color-hover: var(--state-color-red--hover);

  stroke-width: 0.25;

  text {
    font-weight: var(--font-weight-base);
  }

  &__legend {
    text { font-size: 3.5px; }

    path {
      fill-opacity: 1;
      stroke: var(--border-color);
    }

    &--equilibrate {
      fill: $equilibrate-color;
    }

    &--clayey {
      fill: $clayey-color;
    }

    &--sandy {
      fill: $sandy-color;
    }

    &--silty {
      fill: $silty-color;
    }
  }

  &__ruler {
    opacity: 0.5;
    stroke-width: 0.5;
  }

  &__axis {
    font-size: 5px;

    &__numbers {
      font-size: 3px;
    }

    &--clay {
      .gp-soil-analyzer__ruler {
        fill: $clayey-color;
        stroke: $clayey-color;
      }

      text {
        fill: $clayey-color;
      }
    }

    &--silt {
      .gp-soil-analyzer__ruler {
        stroke: $silty-color;
      }

      text {
        fill: $silty-color;
      }
    }

    &--sand {
      .gp-soil-analyzer__ruler {
        stroke: $sandy-color;
      }

      text {
        fill: $sandy-color;
      }
    }
  }

  &__zones {
    text {
      font-size: 3.5px;
    }

    path {
      fill-opacity: 0.5;
      stroke: black;
    }

    &--clay {
      /* stylelint:disable no-descending-specificity -- False positive; check if this can be disabled sometime */
      path {
        cursor: pointer;
        fill: $clayey-color;

        &:hover { fill: $clayey-color-hover; }
      }

      /* stylelint:enable no-descending-specificity */
    }

    &--sandy {
      /* stylelint-disable no-descending-specificity -- False positive; check if this can be disabled sometime */
      path {
        cursor: pointer;
        fill: $sandy-color;

        &:hover { fill: $sandy-color-hover; }
      }
      /* stylelint-enable no-descending-specificity */
    }

    &--silty {
      /* stylelint-disable no-descending-specificity -- False positive; check if this can be disabled sometime */
      path {
        cursor: pointer;
        fill: $silty-color;

        &:hover { fill: $silty-color-hover; }
      }

      /* stylelint-enable no-descending-specificity */
    }

    &--equilibrate {
      /* stylelint-disable no-descending-specificity -- False positive; check if this can be disabled sometime */
      path {
        cursor: pointer;
        fill: $equilibrate-color;

        &:hover { fill: $equilibrate-color-hover; }
      }

      /* stylelint-enable no-descending-specificity */
    }
  }
}
