@use '../core/mixins';

._card {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-color: var(--component-content-background);

  &__thumbnail {
    @include mixins.thumbnail(400px, 300px);

    border-radius: var(--border-radius) var(--border-radius) 0 0;

    img {
      width: 100%;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }

  &__content {
    padding: var(--spacer-small) var(--spacer-default);
  }

  &--inline {
    display: inline-block;

    &:not(:last-child) {
      margin-right: var(--spacer-default);
    }
  }
}
