@use 'sass:math';

.changelog-entry {
  $size: 1em;
  $border: var(--spacer-tiny) solid var(--state-color-mute);

  margin: 0 0 0 $size;

  &:last-child {
    border-left-color: transparent;
  }

  summary {
    padding: var(--spacer-default) 0;
    border-left: $border;
    cursor: pointer;
    list-style-type: none;
  }

  > ul {
    padding: var(--spacer-default) 0;
    border-left: $border;
    margin: 0;

    > li {
      list-style-type: none;
    }
  }

  h2 {
    margin: 0;
    font-weight: var(--font-weight-light);

    &::before {
      position: relative;
      display: inline-block;
      width: $size;
      height: $size;
      border-radius: #{math.div($size, 2)};
      margin-right: var(--spacer-default);
      margin-bottom: -0.2em;
      margin-left: calc((#{-$size} - var(--spacer-tiny)) / 2);
      background: var(--state-color-mute);
      content: '';
    }
  }

  &--release {
    h2::before {
      background-color: var(--state-color-green);
    }
  }

  &[open] {
    summary {
      border-bottom: 1px solid var(--state-color-mute);
    }
  }
}
