._footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: var(--layout-footer-height);
  padding: var(--spacer-tiny) var(--spacer-default);
  border-top: 1px solid var(--border-color);
  background-color: var(--background-color);
  font-size: var(--font-size-small);
}
