<template>
  <div class="gp-accordion" :class="componentCSS">
    <div class="gp-accordion__header" @click="collapsed = !collapsed">
      <div class="gp-accordion__title">
        <!-- @slot Override default header (icon + text)-->
        <slot name="header">
          <gp-icon v-if="icon" :name="icon" />
          {{ caption }}
        </slot>
      </div>
      <div v-if="hasContent">{{ collapsed ? '▸' : '&blacktriangledown;' }}</div>
    </div>
    <div v-if="hasContent" v-show="!collapsed" class="gp-accordion__content">
      <!-- @slot Content -->
      <slot />
    </div>
  </div>
</template>

<script>
import GpIcon from '../../Icon/Icon.vue'

export default {
  name: 'GpAccordion',
  components: { GpIcon },
  props: {
    /** Text, to use if `header` slot is not used */
    caption: { required: false, type: String, default: null },
    /** Optional icon, to use if `header` slot is not used */
    icon: { required: false, type: String, default: null },
    /**
     * Whether or not to force hiding content
     *
     * This is useful when default slot is defined conditionally and leaves an empty container
     */
    noContent: { required: false, type: Boolean, default: false },
  },
  data () {
    return {
      collapsed: true,
    }
  },
  computed: {
    hasContent () { return this.$slots.default && !this.noContent },
    componentCSS () {
      return [
        this.hasContent && 'gp-accordion--expandable',
      ]
    },
  },
}
</script>
