<template>
  <!-- Loading error -->
  <gp-alert v-if="loadError"
            icon="warning"
            variant="danger"
            class="-md"
            centered>
    {{ $t('js.generic.load_error') }}

    <div class="-mtl"><gp-button size="large" variant="destructive" :caption="$t('js.generic.retry')" @click="loadData" /></div>
  </gp-alert>

  <!-- Map not found  -->
  <gp-alert v-else-if="mapError" variant="warning" class="-md" centered>
    {{ $t('js.layouts.garden.map_not_found') }}
    <div class="-mtd">
      <gp-button :to="{name: 'maps'}" :caption="$t('js.garden.show_maps_list')" size="large" variant="helping" />
    </div>
  </gp-alert>

  <!-- Map found -->
  <div v-else>
    <gp-tabs no-text-on-small>
      <gp-button :to="{ name: 'map', params: $route.params }" icon="leaf">
        {{ $t('js.layouts.garden.toolbar.map') }}
      </gp-button>

      <gp-button :to="{ name: 'tasks', params: $route.params}" icon="checks">
        {{ $t('js.layouts.garden.toolbar.todo') }}
      </gp-button>

      <gp-button :to="{ name: 'coordination', params: $route.params}" icon="coordination">
        {{ $t('js.layouts.garden.toolbar.coordination') }}
      </gp-button>

      <gp-button :to="{ name: 'inventory', params: $route.params}" icon="table">
        {{ $t('js.layouts.garden.toolbar.resource_overview') }}
      </gp-button>

      <gp-button :to="{ name: 'harvests', params: $route.params}" icon="harvest">
        {{ $t('js.layouts.garden.toolbar.harvests') }}
      </gp-button>

      <gp-tab-separator />

      <gp-button :to="{ name: 'team', params: $route.params}" icon="users">
        {{ $t('js.layouts.garden.toolbar.team') }}
      </gp-button>

      <gp-button :to="{ name: 'activities', params: $route.params}" icon="activity">
        {{ $t('js.layouts.garden.toolbar.activities') }}
      </gp-button>

      <gp-tab-separator spring />

      <gp-toolbar>
        <gp-button :to="{ name: 'library'}" icon="library">
          {{ $t('js.layouts.garden.toolbar.library') }}
        </gp-button>

        <gp-button :to="{ name: 'soilAnalysis'}" icon="soil-analysis">
          {{ $t('js.layouts.garden.toolbar.soil_analysis') }}
        </gp-button>
      </gp-toolbar>
    </gp-tabs>

    <router-view v-if="ready" />
    <gp-loading v-else
                :text="$t('js.garden.loading_map_data')"
                fill
                relative
                class="gpa-garden" />
  </div>
</template>

<script>
import GpAlert from '../../../../common/Alert/Alert.vue'
import GpTabs from '../../../../common/Tabs/Tabs.vue'
import GpButton from '../../../../common/Button/Button.vue'
import GpLoading from '../../../../common/Loading/Loading.vue'
import GpTabSeparator from '../../../../common/Tabs/TabSeparator.vue'
import GpToolbar from '../../../../common/Toolbar/Toolbar.vue'

export default {
  name: 'GardenViewsLayout',
  components: { GpToolbar, GpTabSeparator, GpLoading, GpButton, GpTabs, GpAlert },
  data () {
    return {
      ready: false,
      mapError: false,
      loadError: false,
    }
  },
  methods: {
    loadData () {
      this.ready = false
      this.loadError = false
      Promise.all([
        this.$store.dispatch('resetMapData'),
        this.$store.dispatch('loadTaskNames', this.$route.params.mapId),
        this.$store.dispatch('loadElements', this.$route.params.mapId),
        this.$store.dispatch('loadLayers', this.$route.params.mapId),
        this.$store.dispatch('loadPatches', this.$route.params.mapId),
        this.$store.dispatch('loadPaths', this.$route.params.mapId),
        this.$store.dispatch('loadTeamMates', this.$route.params.mapId),
      ])
        .then(() => {
          if (!this.$store.getters.map(parseInt(this.$route.params.mapId, 10))) {
            this.mapError = true
          } else {
            this.visibleLayers = this.$store.getters.layers.map(l => l.id)
            this.ready = true
          }
        })
        .catch(() => { this.loadError = true })
    },
  },
  created () {
    this.loadData()
  },
}
</script>
