.gpa-library {
  &__content {
    display: flex;
    height: calc(100vh - var(--navbar-height) - var(--tabs-height));

    &__resource {
      flex-grow: 1;
      overflow-y: auto;
    }
  }

  &__list-panel {
    .gp-list-item--active {
      border-radius: 0;
    }

    .gp-search-form {
      padding: var(--spacer-default);
      border-bottom: 1px solid var(--border-color);
    }

    .gp-panel__content {
      display: flex;
      flex-direction: column;
    }
  }
}
