<template>
  <div class="gpa-library">
    <gp-tabs>
      <gp-button :to="{ name: 'library', params: routeParams }">{{ $t('js.genera.index.resource') }}</gp-button>
      <gp-button :to="{ name: 'libraryByGenus', params: genusRouteParams }">{{ $t('js.genera.index.genus') }}</gp-button>
      <gp-button :to="{ name: 'libraryByFamily', params: familyRouteParams }">{{ $t('js.genera.index.family') }}</gp-button>

      <gp-tab-separator />

      <gp-button :to="{ name: 'resourceInteractionsGroups' }">{{ $t('js.layout.library.resource_interactions_groups') }}</gp-button>

      <gp-tab-separator spring />

      <gp-toolbar>
        <gp-button variant="creative" icon="plus" @click="$emitBus('edit-family')">{{ $t('js.genera.index.new_family') }}</gp-button>
        <gp-button variant="creative" icon="plus" @click="$emitBus('edit-genus')">{{ $t('js.genera.index.new_genus') }}</gp-button>
        <gp-button variant="creative" icon="plus" @click="$emitBus('edit-resource')">{{ $t('js.genera.index.new_resource') }}</gp-button>
        <gp-button variant="creative" icon="plus" @click="$emitBus('edit-resource-interactions-group')">{{ $t('js.genera.index.new_resource_interactions_group') }}</gp-button>
      </gp-toolbar>
    </gp-tabs>

    <router-view />
  </div>
</template>

<script>
import GpToolbar from '../../../../common/Toolbar/Toolbar.vue'
import GpButton from '../../../../common/Button/Button.vue'
import GpTabs from '../../../../common/Tabs/Tabs.vue'
import GpTabSeparator from '../../../../common/Tabs/TabSeparator.vue'

export default {
  name: 'GpaLibraryLayout',
  components: { GpTabSeparator, GpTabs, GpButton, GpToolbar },
  computed: {
    routeParams () {
      const params = {}
      if (this.$route.params.resourceId) params.resourceId = this.$route.params.resourceId

      return params
    },
    genusRouteParams () {
      const params = {}
      if (this.$route.params.resourceId) {
        params.resourceId = this.$route.params.resourceId
        if (this.$route.params.genusId) params.genusId = this.$route.params.genusId
      }

      return params
    },
    familyRouteParams () {
      const params = {}
      if (this.$route.params.familyId) {
        params.familyId = this.$route.params.familyId
        if (this.$route.params.resourceId) params.resourceId = this.$route.params.resourceId
      }

      return params
    },
  },
}
</script>

<style lang="scss" src="./_LibraryLayout.scss" />
