<template>
  <gp-navbar :caption="pageTitle" v-bind="backLink">
    <template #left>
      <gp-menu-item :to="{name: 'home'}" icon="home" :title="$t('js.layouts.garden.main_menu.home')" />
    </template>

    <template #right>
      <gp-menu-item icon="notification" :title="$t('js.layouts.garden.main_menu.notifications')" @click="$emitBus('show-notifications')">
        {{ unreadNotificationCount }}
      </gp-menu-item>
    </template>
  </gp-navbar>
</template>

<script>
import GpNavbar from '../../../../common/Navbar/Navbar.vue'
import GpMenuItem from '../../../../common/Menu/MenuItem.vue'

export default {
  name: 'GpaMainMenu',
  components: { GpMenuItem, GpNavbar },
  data () {
    return {
      currentMapId: null,
    }
  },
  computed: {
    currentMap () { return this.$store.getters.map(this.currentMapId) },
    showMapLink () { return this.currentMap && !this.$route.meta.inMap },
    inGarden () { return this.currentMap && this.$route.meta.inMap },
    unreadNotificationCount () { return this.$store.getters.unreadNotification.length },
    backLink () {
      if (!this.showMapLink) return {}

      return {
        backTo: { name: 'map', params: { mapId: this.currentMap.id } },
        backCaption: this.$t('js.layouts.garden.main_menu.back_to', { name: this.currentMap.name }),
      }
    },
    pageTitle () {
      if (this.inGarden) {
        return this.currentMap.name
      } else if (this.$route.name) {
        switch (this.$route.name) {
          case 'patches': return this.$t('js.layouts.garden.toolbar.resource_overview')
          case 'todo': return this.$t('js.layouts.garden.toolbar.todo')
          case 'team': return this.$t('js.layouts.garden.toolbar.team')
          case 'activities': return this.$t('js.layouts.garden.toolbar.activities')
          case 'home': return this.$t('js.layouts.garden.main_menu.home')
          case 'coordination': return this.$t('js.layouts.garden.main_menu.coordination')
          case 'newPictureMap':
          case 'newOSMMap': return this.$t('js.garden.maps.new.title')
          case 'library':
          case 'libraryByGenus':
          case 'libraryByFamily': return this.$t('js.layouts.garden.main_menu.library')
          case 'soilAnalysis': return this.$t('js.layouts.garden.main_menu.soil_analysis')
          case 'resourceInteractionsGroups': return this.$t('js.layouts.garden.main_menu.resource_interactions_groups')
          default:
            throw new Error(`Unhandled route ${this.$route.name}`)
        }
      }

      return ''
    },
  },
  methods: {
    setCurrentMap (id) {
      if (id) localStorage.setItem('currentMap', id)

      const savedId = id || localStorage.getItem('currentMap')

      if (!savedId) {
        this.currentMapId = null
        return
      }

      this.currentMapId = parseInt(savedId, 10)
    },
  },
  created () {
    this.setCurrentMap(this.$route.params.mapId)
  },
  watch: {
    '$route.params.mapId' (newValue) {
      this.setCurrentMap(newValue)
    },
  },
}
</script>
