<template>
  <div>
    <h1 class="_container">{{ $t('js.maps.new.title') }}</h1>

    <gp-tabs>
      <gp-button :to="{ name: 'newPictureMap' }">{{ $t('js.maps.form.picture_map') }}</gp-button>
      <gp-button :to="{ name: 'newOSMMap' }">{{ $t('js.maps.form.osm_map') }}</gp-button>
    </gp-tabs>

    <router-view class="_container -mtd" />
  </div>
</template>

<script>
import GpTabs from '../../../../common/Tabs/Tabs.vue'
import GpButton from '../../../../common/Button/Button.vue'

export default {
  name: 'GpaNewMapLayout',
  components: { GpButton, GpTabs },
}
</script>
