<template>
  <div class="gp-overlay" :class="componentCSS">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'GpOverlay',
  props: {
    opaque: { required: false, type: Boolean, default: false },
    disabled: { required: false, type: Boolean, default: false },
  },
  computed: {
    componentCSS () {
      return [
        this.opaque && 'gp-overlay--opaque',
        this.disabled && 'gp-overlay--disabled',
      ]
    },
  },
}
</script>
