.gp-overlay {
  position: fixed;
  z-index: var(--z-index-overlay);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--overlay-color);

  &--opaque {
    background-color: var(--background-color);
  }

  &--disabled {
    cursor: not-allowed;
  }
}
