<template>
  <div>
    <gp-empty v-if="familiesToSync.length === 0">
      {{ $t('js.admin.import.nothing_to_import') }}
    </gp-empty>
    <gpa-diffs v-else
               :current-base-url="baseUrl"
               :trusted-class="trustedClass"
               :entities-to-sync="familiesToSync" />
  </div>
</template>

<script>
import GpaDiffs from './Diff/Diffs.vue'
import GpEmpty from '../../../common/DataDisplay/Empty/Empty.vue'
import TrustedFamily from '../../../classes/models/trustedData/TrustedFamily'

export default {
  name: 'GpaFamilies',
  components: { GpEmpty, GpaDiffs },
  data () {
    return {
      trustedClass: TrustedFamily,
      baseUrl: '/admin/families',
    }
  },
  computed: {
    familiesToSync () { return this.$store.getters.familiesToSync },
  },
}
</script>
