<template>
  <div>
    <gp-empty v-if="generaToSync.length === 0">
      {{ $t('js.admin.import.nothing_to_import') }}
    </gp-empty>
    <gpa-diffs v-else
               :current-base-url="baseUrl"
               :trusted-class="trustedClass"
               :entities-to-sync="generaToSync" />
  </div>
</template>

<script>
import GpaDiffs from './Diff/Diffs.vue'
import GpEmpty from '../../../common/DataDisplay/Empty/Empty.vue'
import TrustedGenus from '../../../classes/models/trustedData/TrustedGenus'

export default {
  name: 'GpaGenera',
  components: { GpEmpty, GpaDiffs },
  data () {
    return {
      trustedClass: TrustedGenus,
      baseUrl: '/admin/genera',
    }
  },
  computed: {
    generaToSync () { return this.$store.getters.generaToSync },
  },
}
</script>
