<template>
  <div>
    <gp-empty v-if="resourcesToSync.length === 0">
      {{ $t('js.admin.import.nothing_to_import') }}
    </gp-empty>
    <gpa-diffs v-else
               :current-base-url="baseUrl"
               :trusted-class="trustedClass"
               :entities-to-sync="resourcesToSync" />
  </div>
</template>

<script>
import GpaDiffs from './Diff/Diffs.vue'
import GpEmpty from '../../../common/DataDisplay/Empty/Empty.vue'
import TrustedResource from '../../../classes/models/trustedData/TrustedResource'

export default {
  name: 'GpaResources',
  components: { GpEmpty, GpaDiffs },
  data () {
    return {
      trustedClass: TrustedResource,
      baseUrl: '/admin/resources',
    }
  },
  computed: {
    resourcesToSync () { return this.$store.getters.resourcesToSync },
  },
}
</script>
