<template>
  <div>
    <gp-empty v-if="resourceInteractionsGroupsToSync.length === 0">
      {{ $t('js.admin.import.nothing_to_import') }}
    </gp-empty>
    <gpa-diffs v-else
               :current-base-url="baseUrl"
               :trusted-class="trustedClass"
               :entities-to-sync="resourceInteractionsGroupsToSync" />
  </div>
</template>

<script>
import GpaDiffs from './Diff/Diffs.vue'
import GpEmpty from '../../../common/DataDisplay/Empty/Empty.vue'
import TrustedResourceInteractionsGroup from '../../../classes/models/trustedData/TrustedResourceInteractionsGroup'

export default {
  name: 'GpaResourceInteractionsGroup',
  components: { GpEmpty, GpaDiffs },
  data () {
    return {
      trustedClass: TrustedResourceInteractionsGroup,
      baseUrl: '/admin/resource_interactions_groups',
    }
  },
  computed: {
    resourceInteractionsGroupsToSync () { return this.$store.getters.resourceInteractionsGroupsToSync },
  },
}
</script>
