<template>
  <div>
    <gp-empty v-if="resourceInteractionsToSync.length === 0">
      {{ $t('js.admin.import.nothing_to_import') }}
    </gp-empty>
    <gpa-diffs v-else
               :current-base-url="baseUrl"
               :trusted-class="trustedClass"
               :entities-to-sync="resourceInteractionsToSync" />
  </div>
</template>

<script>
import GpaDiffs from './Diff/Diffs.vue'
import GpEmpty from '../../../common/DataDisplay/Empty/Empty.vue'
import TrustedResourceInteraction from '../../../classes/models/trustedData/TrustedResourceInteraction'

export default {
  name: 'GpaResourceInteraction',
  components: { GpEmpty, GpaDiffs },
  data () {
    return {
      trustedClass: TrustedResourceInteraction,
      baseUrl: '/admin/resource_interactions',
    }
  },
  computed: {
    resourceInteractionsToSync () { return this.$store.getters.resourceInteractionsToSync },
  },
}
</script>
