<template>
  <div class="-grid--2 -grid-gap">
    <!-- No need for gp-form here -->
    <form action="#" @submit.prevent="()=>{}">
      <gp-field input-id="soil-analyser-clay"
                :label="$t('js.widgets.soil_analyzer.clay', { value: inputs.clay })"
                :append="`${round(clayPercent)}%`">
        <input id="soil-analyser-clay"
               v-model="inputs.clay"
               type="number"
               min="0"
               step="0.1"
               name="clay"
               @change="updatePercentages">
      </gp-field>

      <gp-field input-id="soil-analyser-silt"
                :label="$t('js.widgets.soil_analyzer.silt', { value: inputs.silt })"
                :append="`${round(siltPercent)}%`">
        <input id="soil-analyser-silt"
               v-model="inputs.silt"
               type="number"
               min="0"
               step="0.1"
               name="silt"
               @change="updatePercentages">
      </gp-field>

      <gp-field input-id="soil-analyser-sand"
                :label="$t('js.widgets.soil_analyzer.sand', { value: inputs.sand })"
                :append="`${round(sandPercent)}%`">
        <input id="soil-analyser-sand"
               v-model="inputs.sand"
               type="number"
               min="0"
               step="0.1"
               name="sand"
               @change="updatePercentages">
      </gp-field>
    </form>
    <aside>
      <soil-analyzer :clay-percent="clayPercent"
                     :silt-percent="siltPercent"
                     :sand-percent="sandPercent"
                     :show-legend="true" />
    </aside>
  </div>
</template>

<script>
import SoilAnalyzer from '../../../../common/DataDisplay/SoilAnalyzer/SoilAnalyzer.vue'
import GpField from '../../../../common/Form/Field.vue'

export default {
  name: 'SoilAnalysis',
  components: { GpField, SoilAnalyzer },
  data () {
    return {
      inputs: {
        clay: 0,
        silt: 0,
        sand: 0,
      },
      clayPercent: 0,
      siltPercent: 0,
      sandPercent: 0,
    }
  },
  computed: {
    clayValue () { return parseFloat(this.inputs.clay) },
    siltValue () { return parseFloat(this.inputs.silt) },
    sandValue () { return parseFloat(this.inputs.sand) },
    total () { return this.clayValue + this.siltValue + this.sandValue },
  },
  methods: {
    updatePercentages () {
      const total = this.total / 100
      this.clayPercent = total === 0 ? 0 : this.clayValue / total
      this.siltPercent = total === 0 ? 0 : this.siltValue / total
      this.sandPercent = total === 0 ? 0 : this.sandValue / total
    },
    round (value) { return Math.round(value) },
  },
  created () {
    this.updatePercentages()
  },
}
</script>
