<template>
  <div>
    <div v-if="!showForm">
      <gp-actions v-if="map.notes" top>
        <gp-button variant="creative" @click="showForm = true">{{ $t('generic.edit') }}</gp-button>
      </gp-actions>

      <gp-markdown-renderer v-if="map.notes" :content="map.notes" class="_container" />
      <gp-empty v-else role="button" icon-size="3">
        {{ $t('js.map.note.empty') }}
        <div>
          <gp-button variant="creative" :caption="$t('generic.edit')" @click="showForm = true" />
        </div>
      </gp-empty>

      <gp-actions bottom>
        <gp-button @click="$emit('done')">{{ $t('generic.ok') }}</gp-button>
      </gp-actions>
    </div>
    <gp-form v-else
             :errors="errors"
             model="map"
             :loading="loading"
             @cancel="showForm = false"
             @submit.prevent="save">
      <gp-field :help="$t('js.garden.note_form.markdown_help')">
        <textarea id="map_notes" v-model="inputs.notes" name="map_notes" class="-large -markdown" />
      </gp-field>
    </gp-form>
  </div>
</template>

<script>
import Map from '../../../../classes/models/Map'
import GpMarkdownRenderer from '../../../../common/DataDisplay/MarkdownRenderer/MarkdownRenderer.vue'
import GpEmpty from '../../../../common/DataDisplay/Empty/Empty.vue'
import GpForm from '../../../../common/Form/Form.vue'
import GpButton from '../../../../common/Button/Button.vue'
import GpActions from '../../../../common/Actions/Actions.vue'
import GpField from '../../../../common/Form/Field.vue'

export default {
  name: 'GpaMapNoteForm',
  emits: [
    'done',
  ],
  components: { GpField, GpActions, GpButton, GpEmpty, GpMarkdownRenderer, GpForm },
  props: {
    map: { required: true, type: Map },
  },
  data () {
    return {
      inputs: { notes: this.$props.map.notes },
      showForm: false,
      loading: false,
      errors: null,
    }
  },
  methods: {
    save () {
      this.loading = true
      this.$store.dispatch('updateMap', { id: this.map.id, notes: this.inputs.notes })
        .then(() => { this.showForm = false })
        .catch(() => { this.errors = true })
        .then(() => { this.loading = false })
    },
  },
  watch: {
    map (newValue) {
      this.inputs.notes = newValue.notes || ''
    },
  },
}
</script>
