<template>
  <gp-form model="observation"
           :errors="errors"
           :loading="loading"
           @cancel="$emit('cancel')"
           @submit.prevent="save">
    <gp-field :input-id="`${formId}-title`" :label="$t('activerecord.attributes.observation.title')">
      <input :id="`${formId}-title`" v-model="inputs.title" type="text" required>
    </gp-field>

    <gp-date-time-picker ref="datePicker"
                         v-model="inputs.madeAt"
                         :label="$t('js.observations.form.date')"
                         :time="false"
                         :input-id="`${formId}-date`"
                         :popup="true"
                         :not-after="today"
                         input-name="date" />

    <gp-field :input-id="`${formId}-content`" :label="$t('activerecord.attributes.observation.content')">
      <textarea :id="`${formId}-content`" v-model="inputs.content" name="content" />
    </gp-field>

    <gp-field :input-id="`${formId}-pictures`" :label="$t('activerecord.attributes.observation.pictures')" :help="$t('js.observations.form.accepted_mimes', {types: acceptedMimeTypes})">
      <input :id="`${formId}-pictures`"
             type="file"
             :accept="acceptedMimeTypes"
             multiple
             @change="handlePicturesSelection">
    </gp-field>

    <div class="gp-thumbnails">
      <div v-for="(file, index) in inputs.pictures" :key="index" class="_thumbnail">
        <img :src="file.source" :alt="file.file.name">
        <gp-button :caption="$t('generic.remove')" variant="destructive" icon="x-bold" @click="removePicture(index)" />
      </div>
    </div>
  </gp-form>
</template>

<script>
import RandomString from '../../../../../helpers/RandomString'
import prettyBytes from '../../../../../helpers/pretty_bytes'
import GpDateTimePicker from '../../../../common/Inputs/DateTimePicker/DateTimePicker.vue'
import Toaster from '../../../../tools/Toaster'
import Element from '../../../../classes/models/Element'
import Map from '../../../../classes/models/Map'
import Patch from '../../../../classes/models/Patch'
import Path from '../../../../classes/models/Path'
import GpForm from '../../../../common/Form/Form.vue'
import GpButton from '../../../../common/Button/Button.vue'
import GpField from '../../../../common/Form/Field.vue'

export default {
  name: 'GpaObservationForm',
  emits: [
    'cancel',
    'done',
  ],
  components: { GpField, GpButton, GpForm, GpDateTimePicker },
  props: {
    subject: { required: true, type: [Element, Map, Patch, Path] },
  },
  data () {
    return {
      loading: false,
      errors: null,
      formId: RandomString(),
      today: new Date(),
      // FIXME: Find a better way to pass configuration constants
      acceptedMimeTypes: OBSERVATIONS_ALLOWED_MIME_TYPES,
      inputs: {
        title: '',
        content: '',
        pictures: [],
        assignee_id: '',
        madeAt: new Date(),
      },
    }
  },
  methods: {
    save () {
      this.errors = null
      const payload = {
        title: this.inputs.title,
        content: this.inputs.content,
        subject_id: this.$props.subject.id,
        subject_type: this.$props.subject.className,
        made_at: this.inputs.madeAt,
        pictures: [],
      }
      for (const picture of this.inputs.pictures) { payload.pictures.push(picture.file) }

      this.loading = true
      this.$store.dispatch('createObservation', payload)
        .then(() => {
          this.$emit('done')
          Toaster.success(this.$t('js.observation.successfully_created'))
        })
        .catch((error) => {
          this.errors = error
          Toaster.error(this.$t('js.observation.failed_to_create'))
        })
        .then(() => { this.loading = false })
    },
    handlePicturesSelection (event) {
      const files = event.target.files || event.dataTransfer.files
      const that = this

      for (const file of files) {
        const reader = new FileReader()
        reader.addEventListener('load', (event) => {
          const image = new Image()
          image.src = event.target.result
          image.onload = function (loadEvent) {
            /** @type {HTMLImageElement} */
            const picture = loadEvent.target
            const canvasElement = document.createElement('canvas')

            const largestSide = picture.width > loadEvent.target.height ? picture.width : picture.height
            const scaleResize = OBSERVATIONS_LARGEST_PICTURE_SIZE / largestSide

            canvasElement.width = picture.width * scaleResize
            canvasElement.height = picture.height * scaleResize

            const ctx = canvasElement.getContext('2d')
            ctx.drawImage(picture, 0, 0, canvasElement.width, canvasElement.height)

            const preview = ctx.canvas.toDataURL('image/jpeg', 1)
            ctx.canvas.toBlob((blob) => {
              const finalFile = new File([blob], file.fileName, {
                type: 'image/jpeg',
                lastModified: new Date().valueOf(),
              })
              that.inputs.pictures.push({ file: finalFile, source: preview })
            }, 'image/jpeg', 1)
          }
        })
        reader.readAsDataURL(file)
      }
    },
    removePicture (index) {
      this.inputs.pictures.splice(index, 1)
    },
  },
  filters: {
    prettyBytes,
  },
}
</script>
