<template>
  <div>
    <gp-alert v-if="loading" variant="mute" centered>{{ $t('generic.loading') }}</gp-alert>
    <gp-alert v-else-if="loadingError" variant="danger" centered>
      <p>{{ $t('js.generic.loading_data_error') }}</p>
      <gp-button :disabled="loading" @click="loadObservations">{{ $t('js.generic.retry') }}</gp-button>
    </gp-alert>

    <gp-empty v-else-if="observations.length === 0">{{ $t('js.elements.observations.no_observation') }}</gp-empty>

    <div v-else>
      <gp-observation v-for="observation in observations"
                      :key="observation.id"
                      :caption="observation.title"
                      :content="observation.content"
                      :date="observation.madeAt"
                      :pictures="observation.pictures"
                      @show-image="showImage($event, observation.pictures)" />
    </div>
  </div>
</template>

<script>
import Element from '../../../../classes/models/Element'
import Map from '../../../../classes/models/Map'
import Path from '../../../../classes/models/Path'
import Patch from '../../../../classes/models/Patch'
import GpEmpty from '../../../../common/DataDisplay/Empty/Empty.vue'
import GpButton from '../../../../common/Button/Button.vue'
import GpAlert from '../../../../common/Alert/Alert.vue'
import GpObservation from '../../../../common/DataDisplay/Observation/Observation.vue'

export default {
  name: 'GpaObservations',
  components: { GpObservation, GpAlert, GpButton, GpEmpty },
  props: {
    subject: { required: true, type: [Element, Map, Patch, Path] },
  },
  data () {
    return {
      loadingError: true,
      loading: false,
      showDetails: null,
    }
  },
  computed: {
    observations () {
      return this.$store.getters.observationsBySubject({ subjectId: this.$props.subject.id, subjectType: this.$props.subject.className })
    },
  },
  methods: {
    toggleDetails (observation) {
      if (observation.pictures.length === 0) return

      this.showDetails === observation.id ? this.showDetails = null : this.showDetails = observation.id
    },
    loadObservations () {
      this.loading = true
      this.loadingError = false
      this.$store.dispatch('loadObservationsBySubject', this.$props.subject)
        .catch(() => { this.loadingError = true })
        .then(() => { this.loading = false })
    },
    showImage (url, urls) {
      const list = urls.map(links => links.source)

      this.$emitBus('show-image', {
        list,
        selected: url,
      })
    },
  },
  created () { this.loadObservations() },
}
</script>
