<template>
  <nav class="gp-navbar">
    <div v-if="$slots.left" class="gp-navbar__menu">
      <slot name="left" />
    </div>
    <div class="gp-navbar__title-wrapper">
      <gp-button v-if="backCaption && backTo"
                 class="gp-navbar__title-wrapper__action"
                 icon="caret-left"
                 :to="backTo"
                 :caption="backCaption"
                 no-text-on-small />
      <div class="gp-navbar__title-wrapper__content">{{ caption }}</div>
    </div>
    <div v-if="$slots.right" class="gp-navbar__menu">
      <slot name="right" />
    </div>
  </nav>
</template>

<script>
import GpButton from '../Button/Button.vue'

export default {
  name: 'GpNavbar',
  components: { GpButton },
  props: {
    caption: { required: true, type: String },
    backTo: { required: false, type: [Object, String], default: null },
    backCaption: { required: false, type: String, default: null },
  },
}
</script>
