@use '../../../stylesheets/core';

.gp-navbar-menu {

  // Needed to position content
  position: relative;

  &__content {
    position: absolute;
    z-index: var(--z-index-menu);
    display: none;
    flex-direction: column;
    background-color: var(--background-color);
    box-shadow: 0 6px 11px -7px black;

    @include core.respond-to('medium-up') {
      position: relative;
      z-index: 0;
      display: flex;
      flex-direction: row;
      border: none;
      box-shadow: none;

      .gp-menu-item {
        min-width: unset;
      }
    }
  }

  &--right {
    .gp-navbar-menu__content {
      right: 0;
    }
  }

  // Re-define the ".menu--horizontal" variant for large screens
  &--toolbar {
    .gp-navbar-menu__content {
      @include core.respond-to('medium-up') {
        .gp-menu-item {
          span {
            display: none;
          }
        }

        .gp-menu-item-separator {
          height: 1em;
          border-top: unset;
          border-left: 1px solid currentcolor;
          margin: var(--spacer-small) 0;
        }
      }
    }
  }

  &__trigger {
    display: flex;
    height: 30px;
    align-items: center;
    padding: 0 var(--spacer-default);
    border-radius: var(--border-radius);
    background: var(--component-content-background);
    gap: var(--spacer-small);

    @include core.respond-to('medium-up') {
      display: none;
    }

    &--no_arrow {
      &::after {
        margin-left: 0;
        content: unset;
      }
    }
  }

  &:hover,
  &:active {
    .gp-navbar-menu__trigger {
      border-color: currentcolor;
    }

    .gp-navbar-menu__content {
      display: flex;

      @include core.respond-to('medium-up') {
        flex-direction: row;
      }
    }
  }

  &:not(:last-child) {
    margin-right: var(--spacer-default);
  }
}
