<template>
  <div class="gp-navbar-menu" :class="componentCSS">
    <div class="gp-navbar-menu__trigger">
      <gp-icon v-if="icon" :name="icon" />
      <span v-if="caption">{{ caption }}</span>
      <span>▾</span>
    </div>
    <gp-menu class="gp-navbar-menu__content">
      <slot />
    </gp-menu>
  </div>
</template>

<script>
import GpIcon from '../Icon/Icon.vue'
import GpMenu from '../Menu/Menu.vue'

export default {
  name: 'GpNavbarMenu',
  components: { GpMenu, GpIcon },
  props: {
    /** Trigger caption */
    caption: { required: false, type: String, default: null },
    /** Custom trigger icon. No icon used if `null` */
    icon: { required: false, type: String, default: 'more-dots' },
    /** Whether or not the menu is right-aligned */
    right: { required: false, type: Boolean, default: false },
    /** Whether or not to display menu as toolbar on large screens */
    toolbar: { required: false, type: Boolean, default: false },
  },
  computed: {
    componentCSS () {
      return [
        this.right && 'gp-navbar-menu--right',
        this.toolbar && 'gp-navbar-menu--toolbar',
      ]
    },
  },
}
</script>
