<template>
  <div>
    <gp-loading v-if="loading" fill />

    <gp-alert v-else-if="loadError" variant="danger">{{ $t('js.generic.load_error') }}</gp-alert>

    <div v-else>
      <gp-tabs>
        <gp-button to="/">{{ $t('js.admin.import.families') }}</gp-button>
        <gp-button :to="{name: 'genera'}">{{ $t('js.admin.import.genera') }}</gp-button>
        <gp-button :to="{name: 'resources'}">{{ $t('js.admin.import.resources') }}</gp-button>
        <gp-button :to="{name: 'resource_interactions_groups'}">{{ $t('js.admin.import.resources_interaction_groups') }}</gp-button>
        <gp-button :to="{name: 'resource_interactions'}">{{ $t('js.admin.import.resources_interactions') }}</gp-button>
      </gp-tabs>

      <router-view />
    </div>
  </div>
</template>

<script>
import GpTabs from '../../common/Tabs/Tabs.vue'
import GpButton from '../../common/Button/Button.vue'
import GpAlert from '../../common/Alert/Alert.vue'
import GpLoading from '../../common/Loading/Loading.vue'

export default {
  name: 'AdminLibrarySyncApplication',
  components: { GpLoading, GpAlert, GpButton, GpTabs },
  data () {
    return {
      loading: false,
      loadError: false,
    }
  },
  created () {
    this.loading = true
    Promise.all([
      this.$store.dispatch('loadDataDifferences'),
      this.$store.dispatch('loadNames'),
    ])
      .catch(() => { this.loadError = true })
      .then(() => { this.loading = false })
  },
}
</script>
