<template>
  <div>
    <gp-list-item v-for="key in nature_keys"
                  :key="key"
                  :caption="$t(`activerecord.attributes.resource_interaction/nature.${key}`)"
                  :sub-caption="$t(`models.resource_interaction.natures.${key}_help`)"
                  static>
      <template #right>
        <gp-icon :name="icon(natures[key][0])" :class="iconCSS(natures[key][0])" />
        <gp-icon name="arrows-left-right" />
        <gp-icon :name="icon(natures[key][1])" :class="iconCSS(natures[key][1])" />
      </template>
    </gp-list-item>

    <!-- i18n-tasks-use t('js.resource_interaction.help_table.more_info_link_html') -->
    <i18n-t keypath="js.resource_interaction.help_table.more_info_link_html" tag="aside" class="-text--helping -center mtd">
      <a :href="$t('js.resource_interaction.help_table.wikipedia_url')" target="_blank">{{ $t('js.resource_interaction.help_table.wikipedia_link') }}</a>
    </i18n-t>
  </div>
</template>

<script>
import GpIcon from '../../../../common/Icon/Icon.vue'
import GpListItem from '../../../../common/ListItem/ListItem.vue'
import { NATURE_KEYS, NATURES } from '../../../../classes/models/ResourceInteraction'
import { natureIcon, natureCSS } from '../../../../app_helpers/resource_interactions_icons'

export default {
  name: 'GpaResourceInteractionsHelpTable',
  components: { GpListItem, GpIcon },
  data () {
    return {
      natures: NATURES,
      nature_keys: NATURE_KEYS,
    }
  },
  methods: {
    icon: natureIcon,
    iconCSS: natureCSS,
  },
}
</script>
