@use '../../../stylesheets/core';

.gp-toolbar {
  display: inline-flex;
  height: 25px;
  align-items: stretch;
  border-radius: var(--border-radius);

  &__label {
    padding: var(--spacer-small) var(--spacer-default);
    background-color: var(--component-content-background);
    font-size: var(--font-size-smaller);
  }

  &__separator {
    width: 1px;
    height: 1em;
    margin: var(--spacer-small) 0;
    background-color: var(--button-background--active);
  }

  button,
  .gp-button {
    padding: var(--spacer-tiny) var(--spacer-default);
  }

  .gp-button--block {
    flex-grow: 1;
  }

  &__label,
  button:first-child,
  .gp-button:first-child {
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
  }

  button:last-child,
  .gp-button:last-child {
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  &--block {
    display: flex;
  }

  &--no-label-on-small {
    @include core.respond-to('small') {
      .gp-toolbar__label {
        @include core.sr-only();
      }

      button:first-of-type,
      a:first-of-type {
        border-bottom-left-radius: var(--border-radius);
        border-top-left-radius: var(--border-radius);
      }
    }
  }

  &--has-help {
    :nth-last-child(2) {
      border-bottom-right-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }

    .gp-help-button {
      /* stylelint-disable declaration-no-important */
      // Override hardcoded margin in popper
      margin-right: 0 !important;
      /* stylelint-enable declaration-no-important */
      margin-left: var(--spacer-tiny);

      button {
        padding: var(--spacer-small);
        border-radius: 50%;
      }
    }
  }
}
