<template>
  <div class="gp-toolbar" :class="componentCSS">
    <div v-if="label || $slots.label" class="gp-toolbar__label">
      <!-- @slot Custom title to use instead of `title` prop -->
      <slot name="label">{{ label }}</slot>
    </div>
    <slot />
    <gp-help-button v-if="help || $slots.help">
      <!-- @slot Custom help to use instead of the `help` prop -->
      <slot name="help">{{ help }}</slot>
    </gp-help-button>
  </div>
</template>

<script>
import GpHelpButton from '../HelpButton/HelpButton.vue'

export default {
  name: 'GpToolbar',
  components: { GpHelpButton },
  props: {
    /** Optional label for the group */
    label: { required: false, type: String, default: null },
    /** Whether or not to hide the label on small screens */
    noLabelOnSmall: { required: false, type: Boolean, default: false },
    /** Whether or not to fill the available horizontal space. Useful with block buttons */
    block: { required: false, type: Boolean, default: false },
    /** Help text. Use the `help` slot for complex content */
    help: { required: false, type: String, default: null },
  },
  computed: {
    componentCSS () {
      return [
        this.noLabelOnSmall && 'gp-toolbar--no-label-on-small',
        this.block && 'gp-toolbar--block',
        (this.help || !!this.$slots.help) && 'gp-toolbar--has-help',
      ]
    },
  },
}
</script>
