<template>
  <div class="gp-toolbars" :class="componentCSS">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'GpToolbars',
  props: {
    container: { required: false, type: Boolean, default: false },
  },
  computed: {
    componentCSS () {
      return [
        this.container && 'gp-toolbars--container',
      ]
    },
  },
}
</script>
