@use './breakpoints' as bp;

// Aliases for mediaqueries
$bp-aliases: (
  'small': (
    max-width: #{bp.$small - 1},
  ),
  'medium': (
    max-width: #{bp.$medium - 1},
  ),
  'large': (
    max-width: #{bp.$large - 1},
  ),
  'small-up': (
    min-width: #{bp.$small},
  ),
  'medium-up': (
    min-width: #{bp.$medium},
  ),
  'large-up': (
    min-width: #{bp.$large},
  ),
);

/**
 * Helpers for mediaqueries based on screen size.
 * Usage:
 *   Red text on medium and large screens:
 *       @include(medium-up) { color: red }
 *   Blue text on small and medium screens
 *       @include(medium) { color: blue }
 *
 * Source: https://www.sitepoint.com/managing-responsive-breakpoints-sass/
 */
@mixin respond-to($name) {
  @if map-has-key($bp-aliases, $name) {
    @media #{inspect(map-get($bp-aliases, $name))} {

      // Dump block
      @content;
    }
  }

  @else {
    // stylelint-disable scss/operator-no-newline-after
    @warn 'Unfortunately, no value could be retrieved from `#{$name}`.' +
      'Please make sure it is defined in `$bp-aliases` map.';
    // stylelint-enable scss/operator-no-newline-after
  }
}

/**
 * Adds everything needed to hide the content and let screen readers access it
 */
@mixin sr-only() {
  // stylelint-disable declaration-no-important
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  // stylelint-enable declaration-no-important
}

@mixin thumbnail($width, $height) {
  overflow: hidden;
  width: 100%;
  max-width: $width;
  height: 100%;
  max-height: $height;

  img {
    width: 100%;
    max-width: $width;
    height: 100%;
    object-fit: cover;
  }
}
