- if Rails.configuration.garden_party[:home_notices][:announcement].present?
  - css_class = Rails.configuration.garden_party[:home_notices][:announcement_style] || 'danger'
  .gp-alert.gp-alert--with-picture{ class: "gp-alert--#{css_class}" }
    .gp-alert__picture
      %img{ src: image_url('announcement.svg') }
    %div
      -# rubocop:disable Rails/OutputSafety
      = Rails.configuration.garden_party[:home_notices][:announcement].html_safe
      -# rubocop:enable Rails/OutputSafety
