- if Rails.configuration.garden_party[:home_notices][:work_in_progress]
  .gp-alert.gp-alert--info.-small
    %strong.-mt0.-mbm
      Garden Party est encore dans ses premiers stades de développement.
    Attendez-vous à quelques bugs et une interface peu ergonomique.
