<template>
  <aside class="gpa-garden-right-panel">
    <section>
      <gp-menu alternate>
        <gp-menu-item icon="notes"
                      :caption="$t('activerecord.attributes.map.notes')"
                      @click="$emitBus('show-map-notes-form', map)" />

        <gp-menu-item-separator />

        <gp-menu-item icon="calendar-plus"
                      :caption="$t('js.layouts.garden.info.add_map_task')"
                      @click="$emitBus('show-task-form', map)" />

        <gp-menu-item-separator />

        <gp-menu-item icon="observations"
                      :caption="$t('js.layouts.garden.info.add_map_observation')"
                      @click="$emitBus('show-observation-form', map)" />
        <gp-menu-item icon="notebook"
                      :caption="$t('js.elements.action_buttons.show_observations')"
                      @click="$emitBus('show-observations', map)" />
      </gp-menu>
    </section>
    <section>
      <div class="_container -flex">
        <h2 class="-flex-grow">{{ $t('js.garden.right_panel.layers.title') }}</h2>
        <div>
          <gp-toolbar>
            <gp-button icon="plus"
                       block
                       text
                       variant="creative"
                       :title="$t('js.garden.layers.new_layer')"
                       @click="$emitBus('show-layer-form')" />
            <template #help>
              <gp-help-button-content :caption="$t('js.garden.layers.panel.help.caption')" :content="$t('js.garden.layers.panel.help.content')" :lines="helpLines" />
            </template>
          </gp-toolbar>
        </div>
      </div>
      <gp-loading v-if="loading" class="gpa-garden-right-panel__loading-notice">{{ $t('generic.loading') }}</gp-loading>

      <div class="gpa-garden-right-panel__list">
        <gp-alert v-if="layers.length === 0" variant="warning">{{ $t('js.garden.layers.no_layers') }}</gp-alert>
        <draggable :model-value="layers"
                   handle="[data-drag-handler]"
                   :disabled="loading"
                   item-key="id"
                   @end="updatePosition">
          <template #item="{element}">
            <gp-list-item :caption="element.name"
                          :data-layer-id="element.id"
                          :active="activeLayer && activeLayer.id === element.id"
                          @choose="$emit('activate', element)">
              <template #left>
                <gp-button icon="arrows-down-up" data-drag-handler="data-drag-handler" />
                <gp-button :icon="visibleLayers && visibleLayers.indexOf(element.id) === -1 ? 'eye-slash' : 'eye'"
                           @click="$emit('toggle', element.id)" />
                <gp-button icon="pencil" @click="$emitBus('show-layer-form', element)" />
              </template>
              <template #right>
                <gp-button icon="trash" text variant="destructive" @click="$emitBus('destroy-layer', element)" />
              </template>
            </gp-list-item>
          </template>
        </draggable>
        <gp-list-item :caption="$t('js.layers.background_layer')">
          <template #left>
            <gp-button icon="blank" text no-action />
            <gp-button :icon="map.hideBackground ? 'eye-slash' : 'eye'" @click="toggleBackgroundVisibility" />
            <gp-button icon="blank" text no-action />
          </template>
        </gp-list-item>
      </div>
    </section>
  </aside>
</template>

<script>
import Draggable from 'vuedraggable'
import Layer from '../../../../../classes/models/Layer'
import GpButton from '../../../../../common/Button/Button.vue'
import GpListItem from '../../../../../common/ListItem/ListItem.vue'
import GpAlert from '../../../../../common/Alert/Alert.vue'
import GpLoading from '../../../../../common/Loading/Loading.vue'
import GpToolbar from '../../../../../common/Toolbar/Toolbar.vue'
import GpHelpButtonContent from '../../../../../common/HelpButton/HelpButtonContent.vue'
import GpMenu from '../../../../../common/Menu/Menu.vue'
import GpMenuItem from '../../../../../common/Menu/MenuItem.vue'
import GpMenuItemSeparator from '../../../../../common/Menu/MenuItemSeparator.vue'

export default {
  name: 'GpaRightPanel',
  emits: [
    'activate',
    'toggle',
  ],
  components: { GpMenuItemSeparator, GpMenuItem, GpMenu, GpHelpButtonContent, GpToolbar, GpLoading, GpAlert, GpListItem, GpButton, Draggable },
  props: {
    visibleLayers: { required: false, type: Array, default: null },
    activeLayer: { required: false, type: Layer, default: null },
  },
  data () {
    return {
      loading: false,
      helpLines: [
        { icon: 'plus', text: this.$t('js.garden.layers.panel.help.add') },
        { icon: 'arrows-down-up', text: this.$t('js.garden.layers.panel.help.reorder') },
        { icon: 'pencil', text: this.$t('js.garden.layers.panel.help.edit') },
        { icon: 'eye', text: this.$t('js.garden.layers.panel.help.toggle') },
        { icon: 'trash', text: this.$t('js.garden.layers.panel.help.destroy'), variant: 'danger' },
      ],
    }
  },
  computed: {
    currentMap () { return this.$store.getters.map(this.currentMapId) },
    layers () { return this.$store.getters.layers },
    map () { return this.$store.getters.map(parseInt(this.$route.params.mapId, 10)) },
  },
  methods: {
    updatePosition (event) {
      if (event.newIndex === event.oldIndex) return

      this.loading = true
      // List is reversed
      const position = this.layers.length - (event.newIndex)
      const payload = { id: parseInt(event.item.dataset.layerId, 10), position }
      this.$store.dispatch('updateLayer', payload)
        .then(() => this.$store.dispatch('loadLayers', this.$route.params.mapId)
          .then(() => {
            this.layers.forEach((l) => { l.mapLayer.setZIndex(l.position) })
          }))
        .then(() => { this.loading = false })
    },
    toggleBackgroundVisibility () {
      this.$store.dispatch('updateMap', { id: this.map.id, hide_background: !this.map.hideBackground })
    },
  },
  created () {
    // Deactivate layers when specified
    this.$nextTick(() => {
      this.layers.forEach((l) => { if (!l.visibleByDefault) this.$emit('toggle', l.id) })
    })
  },
}
</script>

<style lang="scss" src="./_RightPanel.scss" />
