<template>
  <gp-overlay class="gp-image-viewer">
    <div class="gp-image-viewer__close">
      <!--
        Closes the viewer
        @event close
      -->
      <gp-button icon="x-square"
                 :title="$t('js.widgets.image_viewer.close')"
                 size="large"
                 text
                 @click="$emit('close')" />
    </div>

    <img :src="currentURL" :alt="$t('js.widgets.image_viewer.a_picture')" class="gp-image-viewer__image">

    <div class="gp-image-viewer__controls">
      <gp-toolbar>
        <gp-button icon="skip-back"
                   size="large"
                   :disabled="!hasButtons"
                   :title="$t('js.widgets.gp-image-viewer.previous')"
                   @click="changePicture(-1)" />

        <gp-toolbar-separator />

        <gp-button icon="skip-forward"
                   size="large"
                   :disabled="!hasButtons"
                   :title="$t('js.widgets.gp-image-viewer.next')"
                   @click="changePicture(1)" />
      </gp-toolbar>
    </div>
  </gp-overlay>
</template>
<script>
import GpButton from '../../Button/Button.vue'
import GpToolbar from '../../Toolbar/Toolbar.vue'
import GpToolbarSeparator from '../../Toolbar/ToolbarSeparator.vue'
import GpOverlay from '../../Utils/Overlay/Overlay.vue'

export default {
  name: 'GpImageViewer',
  emits: [
    'close',
  ],
  components: { GpOverlay, GpToolbarSeparator, GpToolbar, GpButton },
  props: {
    /** List of URLs */
    list: { required: false, type: Array, default: () => [] },
    /** Current URL to display */
    preselected: { required: true, type: String },
  },
  data () {
    return {
      currentURL: this.$props.preselected,
    }
  },
  computed: {
    hasButtons () { return this.$props.list.length > 1 },
  },
  methods: {
    changePicture (shiftIndex) {
      const currentIndex = this.$props.list.findIndex(url => url === this.currentURL)
      const lastIndex = this.$props.list.length - 1
      let nextIndex = currentIndex + shiftIndex

      if (nextIndex < 0) nextIndex = lastIndex
      else if (nextIndex > lastIndex) nextIndex = 0

      this.currentURL = this.$props.list[nextIndex]
    },
  },
}
</script>
