.gp-image-viewer {
  display: grid;
  align-items: center;
  padding: var(--spacer-default);
  grid-column-gap: var(--spacer-default);
  grid-row-gap: var(--spacer-default);
  grid-template-areas:
    '.          .           close'
    'pic        pic         pic'
    '.          controls    .';
  grid-template-columns: var(--spacer-xlarge) auto var(--spacer-xlarge);
  grid-template-rows: var(--spacer-xlarge) auto var(--spacer-xlarge);

  &__close {
    grid-area: close;
    text-align: right;
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    grid-area: pic;
  }

  &__controls {
    grid-area: controls;
    text-align: center;
  }
}
