-# haml-lint:disable ViewLength
!!!
%html
  %head
    %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type' }/
    -# haml-lint:disable LineLength
    :css
      /* Light WaterCSS theme: https://watercss.kognise.dev/ */
      :root {
        --background-body: #fff;
        --background: #efefef;
        --background-alt: #f7f7f7;
        --selection: #9e9e9e;
        --text-main: #363636;
        --text-bright: #000;
        --text-muted: #70777f;
        --links: #0076d1;
        --focus: #0096bfab;
        --border: #dbdbdb;
        --code: #000;
        --animation-duration: 0.1s;
        --button-base: #d0cfcf;
        --button-hover: #9b9b9b;
        --scrollbar-thumb: rgb(170, 170, 170);
        --scrollbar-thumb-hover: var(--button-hover);
        --form-placeholder: #949494;
        --form-text: #1d1d1d;
        --variable: #39a33c;
        --highlight: #ff0;
        --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23161f27'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
      }

      html {
        scrollbar-color: rgb(170, 170, 170) #fff;
        scrollbar-color: var(--scrollbar-thumb) var(--background-body);
        scrollbar-width: thin;
      }

      body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
        line-height: 1.4;
        max-width: 800px;
        margin: 20px auto;
        padding: 0 10px;
        word-wrap: break-word;
        color: #363636;
        color: var(--text-main);
        background: #fff;
        background: var(--background-body);
        text-rendering: optimizeLegibility;
      }

      button {
        transition:
          background-color 0.1s linear,
          border-color 0.1s linear,
          color 0.1s linear,
          box-shadow 0.1s linear,
          transform 0.1s ease;
        transition:
          background-color var(--animation-duration) linear,
          border-color var(--animation-duration) linear,
          color var(--animation-duration) linear,
          box-shadow var(--animation-duration) linear,
          transform var(--animation-duration) ease;
      }

      input {
        transition:
          background-color 0.1s linear,
          border-color 0.1s linear,
          color 0.1s linear,
          box-shadow 0.1s linear,
          transform 0.1s ease;
        transition:
          background-color var(--animation-duration) linear,
          border-color var(--animation-duration) linear,
          color var(--animation-duration) linear,
          box-shadow var(--animation-duration) linear,
          transform var(--animation-duration) ease;
      }

      textarea {
        transition:
          background-color 0.1s linear,
          border-color 0.1s linear,
          color 0.1s linear,
          box-shadow 0.1s linear,
          transform 0.1s ease;
        transition:
          background-color var(--animation-duration) linear,
          border-color var(--animation-duration) linear,
          color var(--animation-duration) linear,
          box-shadow var(--animation-duration) linear,
          transform var(--animation-duration) ease;
      }

      h1 {
        font-size: 2.2em;
        margin-top: 0;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 12px;
        margin-top: 24px;
      }

      h1 {
        color: #000;
        color: var(--text-bright);
      }

      h2 {
        color: #000;
        color: var(--text-bright);
      }

      h3 {
        color: #000;
        color: var(--text-bright);
      }

      h4 {
        color: #000;
        color: var(--text-bright);
      }

      h5 {
        color: #000;
        color: var(--text-bright);
      }

      h6 {
        color: #000;
        color: var(--text-bright);
      }

      strong {
        color: #000;
        color: var(--text-bright);
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      b,
      strong,
      th {
        font-weight: 600;
      }

      q::before {
        content: none;
      }

      q::after {
        content: none;
      }

      blockquote {
        border-left: 4px solid #0096bfab;
        border-left: 4px solid var(--focus);
        margin: 1.5em 0;
        padding: 0.5em 1em;
        font-style: italic;
      }

      q {
        border-left: 4px solid #0096bfab;
        border-left: 4px solid var(--focus);
        margin: 1.5em 0;
        padding: 0.5em 1em;
        font-style: italic;
      }

      blockquote > footer {
        font-style: normal;
        border: 0;
      }

      blockquote cite {
        font-style: normal;
      }

      address {
        font-style: normal;
      }

      a[href^='mailto\:']::before {
        content: '📧 ';
      }

      a[href^='tel\:']::before {
        content: '📞 ';
      }

      a[href^='sms\:']::before {
        content: '💬 ';
      }

      mark {
        background-color: #ff0;
        background-color: var(--highlight);
        border-radius: 2px;
        padding: 0 2px 0 2px;
        color: #000;
      }

      a > code,
      a > strong {
        color: inherit;
      }

      a {
        text-decoration: none;
        color: #0076d1;
        color: var(--links);
      }

      a:hover {
        text-decoration: underline;
      }

      code {
        background: #efefef;
        background: var(--background);
        color: #000;
        color: var(--code);
        padding: 2.5px 5px;
        border-radius: 6px;
        font-size: 1em;
      }

      samp {
        background: #efefef;
        background: var(--background);
        color: #000;
        color: var(--code);
        padding: 2.5px 5px;
        border-radius: 6px;
        font-size: 1em;
      }

      time {
        background: #efefef;
        background: var(--background);
        color: #000;
        color: var(--code);
        padding: 2.5px 5px;
        border-radius: 6px;
        font-size: 1em;
      }

      pre > code {
        padding: 10px;
        display: block;
        overflow-x: auto;
      }

      var {
        color: #39a33c;
        color: var(--variable);
        font-style: normal;
        font-family: monospace;
      }

      kbd {
        background: #efefef;
        background: var(--background);
        border: 1px solid #dbdbdb;
        border: 1px solid var(--border);
        border-radius: 2px;
        color: #363636;
        color: var(--text-main);
        padding: 2px 4px 2px 4px;
      }

      img,
      video {
        max-width: 100%;
        height: auto;
      }

      hr {
        border: none;
        border-top: 1px solid #dbdbdb;
        border-top: 1px solid var(--border);
      }

      table {
        border-collapse: collapse;
        margin-bottom: 10px;
        width: 100%;
        table-layout: fixed;
      }

      table caption {
        text-align: left;
      }

      td,
      th {
        padding: 6px;
        text-align: left;
        vertical-align: top;
        word-wrap: break-word;
      }

      thead {
        border-bottom: 1px solid #dbdbdb;
        border-bottom: 1px solid var(--border);
      }

      tfoot {
        border-top: 1px solid #dbdbdb;
        border-top: 1px solid var(--border);
      }

      tbody tr:nth-child(even) {
        background-color: #efefef;
        background-color: var(--background);
      }

      tbody tr:nth-child(even) button {
        background-color: #f7f7f7;
        background-color: var(--background-alt);
      }

      tbody tr:nth-child(even) button:hover {
        background-color: #fff;
        background-color: var(--background-body);
      }

      ::-webkit-scrollbar {
        height: 10px;
        width: 10px;
      }

      ::-webkit-scrollbar-track {
        background: #efefef;
        background: var(--background);
        border-radius: 6px;
      }

      ::-webkit-scrollbar-thumb {
        background: rgb(170, 170, 170);
        background: var(--scrollbar-thumb);
        border-radius: 6px;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: #9b9b9b;
        background: var(--scrollbar-thumb-hover);
      }

      ::-moz-selection {
        background-color: #9e9e9e;
        background-color: var(--selection);
        color: #000;
        color: var(--text-bright);
      }

      ::selection {
        background-color: #9e9e9e;
        background-color: var(--selection);
        color: #000;
        color: var(--text-bright);
      }

      details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #f7f7f7;
        background-color: var(--background-alt);
        padding: 10px 10px 0;
        margin: 1em 0;
        border-radius: 6px;
        overflow: hidden;
      }

      details[open] {
        padding: 10px;
      }

      details > :last-child {
        margin-bottom: 0;
      }

      details[open] summary {
        margin-bottom: 10px;
      }

      summary {
        display: list-item;
        background-color: #efefef;
        background-color: var(--background);
        padding: 10px;
        margin: -10px -10px 0;
        cursor: pointer;
        outline: none;
      }

      summary:hover,
      summary:focus {
        text-decoration: underline;
      }

      details > :not(summary) {
        margin-top: 0;
      }

      summary::-webkit-details-marker {
        color: #363636;
        color: var(--text-main);
      }

      dialog {
        background-color: #f7f7f7;
        background-color: var(--background-alt);
        color: #363636;
        color: var(--text-main);
        border: none;
        border-radius: 6px;
        border-color: #dbdbdb;
        border-color: var(--border);
        padding: 10px 30px;
      }

      dialog > header:first-child {
        background-color: #efefef;
        background-color: var(--background);
        border-radius: 6px 6px 0 0;
        margin: -10px -30px 10px;
        padding: 10px;
        text-align: center;
      }

      dialog::-webkit-backdrop {
        background: #0000009c;
        -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
      }

      dialog::backdrop {
        background: #0000009c;
        -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
      }

      footer {
        border-top: 1px solid #dbdbdb;
        border-top: 1px solid var(--border);
        padding-top: 10px;
        color: #70777f;
        color: var(--text-muted);
      }

      body > footer {
        margin-top: 40px;
      }

      @media print {
        body,
        pre,
        code,
        summary,
        details,
        button,
        input,
        textarea {
          background-color: #fff;
        }

        button,
        input,
        textarea {
          border: 1px solid #000;
        }

        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        pre,
        code,
        button,
        input,
        textarea,
        footer,
        summary,
        strong {
          color: #000;
        }

        summary::marker {
          color: #000;
        }

        summary::-webkit-details-marker {
          color: #000;
        }

        tbody tr:nth-child(even) {
          background-color: #f2f2f2;
        }

        a {
          color: #00f;
          text-decoration: underline;
        }
      }

    -# haml-lint:enable LineLength
  %body
    = yield
-# haml-lint:enable ViewLength
